<div class="row g-2">
    <div class="col-md-4">
        <input id="fltApiUrl" type="text" class="form-control" placeholder="API Url" />
    </div>
    <div class="col-md-4">
        <input id="fltToken" type="text" class="form-control" placeholder="Token" />
    </div>
    <div class="col-md-4">
        <input id="fltNumara" type="text" class="form-control" placeholder="Numara" />
    </div>
</div>
