<div class="modal fade" id="mdlWhatsappAyar" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Whatsapp Ayar Formu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form id="frmWhatsappAyar">
                <div class="modal-body">
                    <input type="hidden" id="frmId" />

                    <div class="mb-3">
                        <label class="form-label">API Url</label>
                        <input type="text" id="frmApiUrl" class="form-control" placeholder="https://..." required />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Token</label>
                        <input type="text" id="frmToken" class="form-control" required />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Numara</label>
                        <input type="text" id="frmNumara" class="form-control" placeholder="+90..." required />
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>
