<table class="table table-bordered table-striped">
    <thead class="table-light">
        <tr>
            <th>Id</th>
            <th>API Url</th>
            <th>Token</th>
            <th>Numara</th>
            <th class="text-end">İşlemler</th>
        </tr>
    </thead>
    <tbody id="tbl-whatsappayar-body"></tbody>
</table>
