<div class="row g-2">
    <div class="col-md-3">
        <input id="fltFaturaNo" type="text" class="form-control" placeholder="Fatura No" />
    </div>
    <div class="col-md-2">
        <select id="fltBayiId" class="form-select">
            <option value="">Bayi</option>
        </select>
    </div>
    <div class="col-md-2">
        <select id="fltFirmaId" class="form-select">
            <option value="">Firma</option>
        </select>
    </div>
    <div class="col-md-2">
        <select id="fltTip" class="form-select">
            <option value="">Tip</option>
            <option value="0">Satış</option>
            <option value="1">İade</option>
        </select>
    </div>
    <div class="col-md-2">
        <select id="fltDurum" class="form-select">
            <option value="">Durum</option>
            <option value="0">Taslak</option>
            <option value="1">Kesildi</option>
            <option value="2">İptal</option>
        </select>
    </div>
    <div class="col-md-2">
        <input id="fltFaturaTarihi" type="date" class="form-control" placeholder="Fatura Tarihi" />
    </div>
</div>
