@using WebUI.Models
@model ErrorViewModel

@{
    ViewData["Title"] = "Hata";
}

<h1 class="text-danger">Bir Hata Oluştu</h1>
<h2 class="text-danger">İsteğiniz işlenirken beklenmeyen bir hata meydana geldi.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>İstek Numarası:</strong>
        <code>@Model.RequestId</code>
    </p>
}

<p>
    Lütfen daha sonra tekrar deneyiniz.
    Sorun devam ederse sistem yöneticisi ile iletişime geçiniz.
</p>
