<div class="col-6">
    <h4 class="mt-6 mb-1">Anahtar Hesap Kod Listesi</h4>
    <p class="mb-0">Sistemde tanımlanan anahtar hesap kod bilgileri aşağıda listelenmiştir.</p>
</div>
<div class="col-12">
    <div class="card">
        <div class="card-datatable table-responsive">
            <table id="keyCode-table" class="table border-top">
                <thead>
                    <tr>
                        <th></th>
                        <th>Hesap Kodu</th>
                        <th>Açıklama</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
