<div class="col-12">
    <h4 class="mt-6 mb-1">Transfer Listesi</h4>
    <p class="mb-0">Sistemde işlem yapılacak hesap hareket bilgileri aşağıda listelenmiştir.</p>
</div>

<div class="col-12">
    <div class="card">
        <div class="card-datatable table-responsive">
            <table id="transfer-table" class="table border-top datatables-users">
                <thead>
                    <tr>
                        <th></th>            <!-- responsive control -->
                        <th></th>            <!-- checkbox sütunu (opsiyonel) -->
                        <th>Banka</th>
                        <th>Hesap Kodu</th>
                        <th>Tarih</th>
                        <th>Açıklama</th>
                        <th>Borç</th>
                        <th>Alacak</th>
                        <th class="text-end">İşlemler</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
