<div class="row g-2">
    <div class="col-md-4">
        <select id="fltEtiketId" class="form-select">
            <option value="">Etiket</option>
        </select>
    </div>
    <div class="col-md-4">
        <select id="fltIlgiliTip" class="form-select">
            <option value="">İlgili Tip</option>
            <option value="0">Lead</option>
            <option value="1">Opportunity</option>
            <option value="2">Satış</option>
            <option value="3">Firma</option>
            <option value="4">Mali Müşavir</option>
        </select>
    </div>
    <div class="col-md-4">
        <input id="fltIlgiliId" type="text" class="form-control" placeholder="İlgili Id" />
    </div>
    <div class="col-md-3 text-end">
        <button id="btnNewEtiketIliski" class="btn btn-primary w-100">Yeni</button>
    </div>
</div>
