<table class="table table-bordered table-striped">
    <thead class="table-light">
        <tr>
            <th>Id</th>
            <th>Etiket</th>
            <th>İlgili Tip</th>
            <th>İlgili Id</th>
            <th class="text-end">İşlemler</th>
        </tr>
    </thead>
    <tbody id="tbl-etiketiliski-body"></tbody>
</table>
