@{
    ViewData["Title"] = "Erp'den e-Müstahsil Oluştur";
    ViewData["Subtitle"] = "e-Müstahsil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>e-Müstahsil <small>Erp'den e-Müstahsil Oluştur</small></h1>
    <ol class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i></a> e-Müstahsil</li>
        <li class="active">Erp'den e-Müstahsil Oluştur</li>
    </ol>
</section>

<section class="content">
    <h2>Erp'den e-Müstahsil Oluştur</h2>

    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">ERP e-Müstahsil Seçenekler</h3>
        </div>

        <div class="box-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-horizontal row">
                        <label class="control-label col-sm-6">Başlangıç Müstahsil Tarihi</label>
                        <div class="col-sm-6 inputPadding">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                <input id="IssueDateStart" type="text" class="form-control datepicker" value="27.09.2025" />
                            </div>
                        </div>
                    </div>

                    <div class="form-horizontal row">
                        <label class="control-label col-sm-6">Bitiş Müstahsil Tarihi</label>
                        <div class="col-sm-6 inputPadding">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                <input id="IssueDateEnd" type="text" class="form-control datepicker" value="07.10.2025" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-horizontal row">
                        <label class="control-label col-sm-6">Şube</label>
                        <div class="col-sm-6 inputPadding">
                            <select id="erp_sube" class="form-control select2">
                                <option value="0">Seçiniz</option>
                                <option value="1">HIZLI BİLİŞİM TEST MERKEZ</option>
                                <option value="465">HBT MERSİN</option>
                                <option value="466">antalyasube</option>
                                <option value="467">EntegreTürk</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-horizontal row">
                        <label class="control-label col-sm-6">e-Müstahsil Ön Ek</label>
                        <div class="col-sm-6 inputPadding">
                            <select id="erp_onek" class="form-control"></select>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-horizontal row">
                        <label class="control-label col-sm-6">Gönderim Durumu</label>
                        <div class="col-sm-6 inputPadding">
                            <select id="Sent" class="form-control">
                                <option value="">Tümü</option>
                                <option value="false" selected>Gönderim Bekliyor</option>
                                <option value="true">Gönderildi</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box-footer">
            <div class="pull-left">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Toplu İşlem Seçiniz <span class="fa fa-caret-down"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" onclick="sendAll()"><i class="fa fa-send"></i> Seçilileri Gönder</a></li>
                    </ul>
                </div>
            </div>
            <div class="pull-right">
                <button type="button" onclick="myList()" class="btn btn-success">Arama Yap <i class="glyphicon glyphicon-search"></i></button>
                <button type="button" onclick="clearSearchInputs()" class="btn btn-danger">Temizle <i class="glyphicon glyphicon-remove-circle"></i></button>
            </div>
        </div>
    </div>

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">ERP Müstahsil Listesi</h3>
        </div>
        <div class="box-body table-responsive">
            <table id="grid_erpdenolustur" class="table table-bordered table-hover dataTable dt-head-center">
                <thead>
                    <tr>
                        <th><input type="checkbox" /></th>
                        <th>Erp Müstahsil No</th>
                        <th>Firma Adı</th>
                        <th>Vergi Kimlik No</th>
                        <th>Müstahsil Tip</th>
                        <th>Senaryo</th>
                        <th>Müstahsil Tarihi</th>
                        <th>Toplam Tutar</th>
                        <th>XSLT Adı</th>
                        <th>Durum</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td colspan="11" class="text-center">Tabloda herhangi bir veri mevcut değil</td></tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- ERP Birim Eşleme Modal -->
    <div class="modal fade" id="modal-erpBirimEsleme" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">ERP Birim Eşleme</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="control-label col-sm-4">ERP'den Gelen Birim</label>
                        <div class="col-sm-6">
                            <input id="erpBirim" disabled class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-4">Evrensel Kod Karşılığı</label>
                        <div class="col-sm-6">
                            <select id="birimList" class="form-control select2">
                                <option value="">Seçiniz</option>
                                <option value="C62">C62 - ADET</option>
                                <option value="MON">MON - AY</option>
                                <option value="LTR">LTR - LİTRE</option>
                                <option value="KGM">KGM - KİLOGRAM</option>
                                <option value="MTR">MTR - METRE</option>
                                <option value="MTK">MTK - METRE KARE</option>
                                <option value="SET">SET - TAKIM</option>
                                <option value="TON">TON - TON</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Kapat</button>
                    <button class="btn btn-success" onclick="birimEslemeKayit()">Kaydet</button>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        $(function () {
            $('#grid_erpdenolustur').DataTable({
                "language": { "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Turkish.json" }
            });
            $('.select2').select2();
            $('.datepicker').datepicker({ autoclose: true, language: 'tr' });
        });

        function sendAll() { Swal.fire('Bilgi', 'Seçili kayıtlar gönderiliyor...', 'info'); }
        function myList() { Swal.fire('Liste', 'ERP verileri listeleniyor...', 'success'); }
        function clearSearchInputs() { $('input').val(''); Swal.fire('Temizlendi', 'Filtreler sıfırlandı.', 'success'); }
        function birimEslemeKayit() { Swal.fire('Kayıt', 'Birim eşleme başarıyla kaydedildi.', 'success'); }
    </script>
}
