<div class="row g-2">
    <div class="col-md-3">
        <input id="fltTip" type="text" class="form-control" placeholder="Tip" />
    </div>
    <div class="col-md-3">
        <select id="fltIslenmis" class="form-select">
            <option value="">İşlenmiş mi?</option>
            <option value="true">Evet</option>
            <option value="false">Hayır</option>
        </select>
    </div>
    <div class="col-md-3">
        <input id="fltIslenmeTarihi" type="date" class="form-control" placeholder="İşlenme Tarihi" />
    </div>
</div>
