<table class="table table-bordered table-striped">
    <thead class="table-light">
        <tr>
            <th>Id</th>
            <th>Tip</th>
            <th>İçerik (JSON)</th>
            <th>İşlenmiş mi?</th>
            <th>İşlenme Tarihi</th>
            <th class="text-end">İşlemler</th>
        </tr>
    </thead>
    <tbody id="tbl-outboxmesaj-body"></tbody>
</table>
