<div class="modal fade" id="mdlSanalPos" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sanal POS Formu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form id="frmSanalPos">
                <div class="modal-body">
                    <input type="hidden" id="frmId" />

                    <div class="row g-3">
                        <div class="col-md-6">
                            <label class="form-label">Bayi</label>
                            <select id="frmBayiId" class="form-select"></select>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Sağlayıcı</label>
                            <input type="text" id="frmSaglayici" class="form-control" placeholder="PayTR, Garanti, İş Bank..." required />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Base API Url</label>
                            <input type="text" id="frmBaseApiUrl" class="form-control" required />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Merchant Id</label>
                            <input type="text" id="frmMerchantId" class="form-control" required />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">API Key</label>
                            <input type="text" id="frmApiKey" class="form-control" required />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">API Secret</label>
                            <input type="text" id="frmApiSecret" class="form-control" required />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">POS Anahtar</label>
                            <input type="text" id="frmPosAnahtar" class="form-control" required />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Standart Komisyon (%)</label>
                            <input type="number" id="frmStandartKomisyonYuzde" class="form-control" step="0.01" min="0" max="100" />
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>
