<table class="table table-bordered table-striped">
    <thead class="table-light">
        <tr>
            <th>Id</th>
            <th>Bayi</th>
            <th>Sağlayıcı</th>
            <th>Base API Url</th>
            <th>Merchant Id</th>
            <th>API Key</th>
            <th>API Secret</th>
            <th>POS Anahtar</th>
            <th>Standart Komisyon (%)</th>
            <th class="text-end">İşlemler</th>
        </tr>
    </thead>
    <tbody id="tbl-sanalpos-body"></tbody>
</table>
