<div class="row g-2">
    <div class="col-md-3">
        <select id="fltBayiId" class="form-select">
            <option value="">Bayi</option>
        </select>
    </div>
    <div class="col-md-3">
        <input id="fltEvent" type="text" class="form-control" placeholder="Event" />
    </div>
    <div class="col-md-3">
        <input id="fltUrl" type="text" class="form-control" placeholder="Url" />
    </div>
    <div class="col-md-3">
        <input id="fltIletiGizliAnahtar" type="text" class="form-control" placeholder="Gizli Anahtar" />
    </div>
    <div class="col-md-3 text-end">
        <button id="btnNewWebhookAbonelik" class="btn btn-primary w-100">Yeni</button>
    </div>
</div>
