<table class="table table-bordered table-striped">
    <thead class="table-light">
        <tr>
            <th>Id</th>
            <th>Bayi</th>
            <th>Event</th>
            <th>Url</th>
            <th>İleti Gizli Anahtar</th>
            <th class="text-end">İşlemler</th>
        </tr>
    </thead>
    <tbody id="tbl-webhookabonelik-body"></tbody>
</table>
