@{
    ViewData["Title"] = "Firma - Apps";
}

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/datatables-bs5/datatables.bootstrap5.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css">
    <link rel="stylesheet" href="~/vendor/libs/&#64;form-validation/form-validation.css" />
}

@section VendorScripts {
    <script src="~/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/popular.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/bootstrap5.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/auto-focus.js"></script>
}

@section PageScripts {
    <script src="~/js/app-access-roles.js"></script>
    <script src="~/js/modal-add-role.js"></script>
    <script src="~/apijs/apps/Kullanici.js"></script>
}

<h4 class="mb-1">Kullanıcılar</h4>

<p class="mb-6">
    Sistemdeki kullanıcıları görüntüleyebilir, yeni kullanıcı ekleyebilir veya mevcut kullanıcıları güncelleyebilirsiniz.
</p>

<!-- Card ve tablo alanları -->
<div class="row g-6">
    <!-- Kullanıcı kartları -->
    @await Html.PartialAsync("../_Partials/Apps/Kullanici/Cards")
    <!-- Kullanıcı veri tablosu -->
    <div class="col-12">
        @await Html.PartialAsync("../_Partials/Apps/Kullanici/Tables")
    </div>
</div>

<!-- Kullanıcı Ekle/Düzenle Modal -->
@await Html.PartialAsync("../_Partials/Apps/Kullanici/Modals")
