@{
    ViewData["Title"] = "e-İrsaliye Transfer Yükle";
    ViewData["Subtitle"] = "e-İrsaliye";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>e-İrsaliye <small>Transfer e-İrsaliye Yükle</small></h1>
    <ol class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i></a> e-İrsaliye</li>
        <li class="active">Transfer e-İrsaliye Yükle</li>
    </ol>
</section>

<section class="content">
    <form asp-action="Upload" asp-controller="EIrsaliye" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">İrsaliye XML Aktarma</h3>
                    </div>
                    <div class="box-body form-horizontal">
                        <div class="form-group files color" style="margin:10px 20px 0 20px; padding-bottom:20px;">
                            <label>İrsaliye XML Zip Dosyası:</label>
                            <input type="file" class="btn btn-default" name="files[0]" id="files_0" autocomplete="off" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Zarf XML Aktarma</h3>
                    </div>
                    <div class="box-body form-horizontal">
                        <div class="form-group files color" style="margin:10px 20px 0 20px; padding-bottom:20px;">
                            <label>Zarf XML Zip Dosyası:</label>
                            <input type="file" class="btn btn-default" name="files[1]" id="files_1" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top:10px;">
            <div class="col-md-3">
                <label>Entegratör</label>
                <select class="form-control" id="entegrator" name="entegrator">
                    <option value="1">Medyasoft</option>
                    <option value="2">İsis Bilişim</option>
                    <option value="3">Fit Solutions</option>
                    <option value="5">Zirve Dönüşüm</option>
                    <option value="6">Kolaysoft Teknoloji</option>
                    <option value="7">Smart Dönüşüm</option>
                    <option value="8">İng Bank</option>
                    <option value="9">Finans Bank</option>
                    <option value="10">Uni-dox</option>
                    <option value="11">TürkKep</option>
                    <option value="12">Logo Yazılım</option>
                    <option value="13">Edm Bilişim</option>
                    <option value="14">4C Teknoloji</option>
                    <option value="15">Digital Planet</option>
                    <option value="16">Uyumsoft</option>
                    <option value="17">İzibiz</option>
                    <option value="18">Mikro</option>
                    <option value="19">Gib Portal</option>
                </select>
            </div>

            <div class="col-md-3">
                <label>İrsaliye Tipi</label>
                <select class="form-control" id="tip" name="tip">
                    <option value="4" selected>Gelen İrsaliye</option>
                    <option value="5">Giden İrsaliye</option>
                </select>
            </div>
        </div>

        <br />
        <button type="submit" id="Upload" class="btn btn-success pull-right">
            YÜKLE <i class="glyphicon glyphicon-upload"></i>
        </button>
        <br /><br />
        <strong><span id="lbl_bilgi" style="font-size:16px;"></span></strong>
    </form>
</section>

@section Scripts {
    <script>
        $(function () {
            $('.select2').select2();

            $('form').on('submit', function () {
                Swal.fire({
                    title: 'Yükleniyor...',
                    text: 'Dosyalar aktarılıyor, lütfen bekleyiniz.',
                    allowOutsideClick: false,
                    didOpen: () => { Swal.showLoading(); }
                });
            });
        });
    </script>
}
