<div class="col-12">
    <div class="card">
        <div class="card-body">
            <div class="row g-3 align-items-end">
                <div class="col-sm-3">
                    <label class="form-label">Firma Adı</label>
                    <input type="text" id="fltFirmaAdi" class="form-control" placeholder="Ara...">
                </div>
                <div class="col-sm-2">
                    <label class="form-label">Vergi No</label>
                    <input type="text" id="fltVergiNo" class="form-control" placeholder="Ara...">
                </div>
                <div class="col-sm-3">
                    <label class="form-label">Bayi</label>
                    <select id="fltBayiId" class="form-select"></select>
                </div>
                <div class="col-sm-3">
                    <label class="form-label">Mali Müşavir</label>
                    <select id="fltMaliMusavirId" class="form-select"></select>
                </div>
                <div class="col-sm-1 text-end">
                    <button id="btnNewFirma" class="btn btn-primary w-100">Yeni</button>
                </div>
            </div>
        </div>
    </div>
</div>
