<div class="card">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Firma</th>
                    <th>Vergi No</th>
                    <th>Yetkili</th>
                    <th>Telefon</th>
                    <th>E-posta</th>
                    <th>Bayi</th>
                    <th>Mali Müşavir</th>
                    <th class="text-end">İşlem</th>
                </tr>
            </thead>
            <tbody id="tbl-firma-body"></tbody>
        </table>
    </div>
</div>
