<div class="row g-2">
    <div class="col">
        <input id="fltSearch1" type="text" class="form-control" placeholder="BayiCariHareket filtre 1" />
    </div>
    <div class="col">
        <input id="fltSearch2" type="text" class="form-control" placeholder="BayiCariHareket filtre 2" />
    </div>
    <div class="col-md-3 text-end">
        <button id="btnNewOpportunity" class="btn btn-primary w-100">Yeni</button>
    </div>
</div>
