<div class="modal fade" id="mdlWhatsappGonderim" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Whatsapp Gönderim Formu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form id="frmWhatsappGonderim">
                <div class="modal-body">
                    <input type="hidden" id="frmId" />

                    <div class="mb-3">
                        <label class="form-label">Alıcı Numara</label>
                        <input type="text" id="frmAliciNumara" class="form-control" placeholder="+90..." required />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Mesaj</label>
                        <textarea id="frmMesaj" class="form-control" rows="3" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Başarılı mı?</label>
                        <select id="frmBasariliMi" class="form-select">
                            <option value="true">Evet</option>
                            <option value="false">Hayır</option>
                        </select>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>
