<div class="row g-2">
    <div class="col-md-4">
        <select id="fltLisansId" class="form-select">
            <option value="">Lisans</option>
        </select>
    </div>
    <div class="col-md-4">
        <input id="fltKuruluCihazSayisi" type="number" class="form-control" placeholder="Kurulu Cihaz Sayısı" />
    </div>
    <div class="col-md-4">
        <input id="fltLimit" type="number" class="form-control" placeholder="Limit" />
    </div>
</div>
