<div class="modal fade" id="mdlLisansAdet" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Lisans Adet Formu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form id="frmLisansAdet">
                <div class="modal-body">
                    <input type="hidden" id="frmId" />

                    <div class="mb-3">
                        <label class="form-label">Lisans</label>
                        <select id="frmLisansId" class="form-select" required></select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Kurulu Cihaz Sayısı</label>
                        <input type="number" id="frmKuruluCihazSayisi" class="form-control" min="0" required />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Limit</label>
                        <input type="number" id="frmLimit" class="form-control" min="0" />
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>
