<div class="col-12">
    <div class="card">
        <div class="card-body">
            <div class="row g-3 align-items-end">
                <div class="col-sm-3"><label class="form-label">Ad Soyad</label><input id="fltAdSoyad" class="form-control" /></div>
                <div class="col-sm-3"><label class="form-label">E-posta</label><input id="fltEposta" class="form-control" /></div>
                <div class="col-sm-4"><label class="form-label">Bayi</label><select id="fltBayiId" class="form-select"></select></div>
                <div class="col-sm-2 text-end"><button id="btnNewMM" class="btn btn-primary w-100">Yeni</button></div>
            </div>
        </div>
    </div>
</div>
