<div class="card">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead><tr><th>Ad Soyad</th><th>Ünvan</th><th>Vergi No</th><th>TCKN</th><th>Telefon</th><th>E-posta</th><th>Bayi</th><th class="text-end">İşlem</th></tr></thead>
            <tbody id="tbl-mm-body"></tbody>
        </table>
    </div>
</div>
