<div class="row g-2">
    <div class="col-md-4">
        <input id="fltApiKey" type="text" class="form-control" placeholder="API Key" />
    </div>
    <div class="col-md-4">
        <input id="fltApiSecret" type="text" class="form-control" placeholder="API Secret" />
    </div>
    <div class="col-md-4">
        <input id="fltGondericiAdi" type="text" class="form-control" placeholder="Gönderici Adı" />
    </div>
    <div class="col-md-3 text-end">
        <button id="btnNewSmsAyar" class="btn btn-primary w-100">Yeni</button>
    </div>
</div>
