<div class="modal fade" id="mdlSmsAyar" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sms Ayar Formu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form id="frmSmsAyar">
                <div class="modal-body">
                    <input type="hidden" id="frmId" />

                    <div class="mb-3">
                        <label class="form-label">API Key</label>
                        <input type="text" id="frmApiKey" class="form-control" required />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">API Secret</label>
                        <input type="text" id="frmApiSecret" class="form-control" required />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Gönderici Adı</label>
                        <input type="text" id="frmGondericiAdi" class="form-control" required />
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>
