@{
    ViewData["Title"] = "Luca - Apps";
}

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/datatables-bs5/datatables.bootstrap5.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css">
    <link rel="stylesheet" href="~/vendor/libs/&#64;form-validation/form-validation.css" />
}

@section VendorScripts {
    <script src="~/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/popular.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/bootstrap5.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/auto-focus.js"></script>
}

@section PageScripts {
    <script type="module" src="~/ApiJS/Apps/Luca.js"></script>
}

<h4 class="mb-1">Luca</h4>
<p class="mb-6">Luca hesaplarını yönetin.</p>

<div class="row g-6">
    @await Html.PartialAsync("../_Partials/Apps/Luca/Filters")
    <div class="col-12">@await Html.PartialAsync("../_Partials/Apps/Luca/Tables")</div>
</div>
@await Html.PartialAsync("../_Partials/Apps/Luca/Modals")
