@{
    ViewData["Title"] = "Firma Bilgileri";
    ViewData["Subtitle"] = "Ayarlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>Firma Bilgileri</h1>
    <ol class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i> Anasayfa</a></li>
        <li class="active">Firma Bilgileri</li>
    </ol>
</section>

<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title" style="font-weight:bold">Firma Bilgileri</h3>
        </div>

        <form id="frmCompany" class="form-horizontal">
            <input type="hidden" id="cmpId" />
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-6 row">
                        <div class="col-sm-4"><label>VKN/TCKN *</label></div>
                        <div class="col-sm-8"><input class="form-control" id="vknTckn" maxlength="11" /></div>
                    </div>
                    <div class="col-sm-6 row">
                        <div class="col-sm-4"><label>Müşteri Adı *</label></div>
                        <div class="col-sm-8"><input class="form-control" id="musteriAdi" /></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 row">
                        <div class="col-sm-4"><label>Unvan *</label></div>
                        <div class="col-sm-8"><input class="form-control" id="unvan" /></div>
                    </div>
                    <div class="col-sm-6 row">
                        <div class="col-sm-4"><label>Kep Adresi</label></div>
                        <div class="col-sm-8"><input class="form-control" id="kepAdresi" type="email" /></div>
                    </div>
                </div>

                <hr />
                <div class="row">
                    <div class="col-sm-6 row">
                        <div class="col-sm-4"><label>Sorumlu TCKN *</label></div>
                        <div class="col-sm-8"><input class="form-control" id="sorumluTckn" maxlength="11" /></div>
                    </div>
                    <div class="col-sm-6 row">
                        <div class="col-sm-4"><label>Sorumlu Adı *</label></div>
                        <div class="col-sm-8"><input class="form-control" id="sorumluAd" /></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 row">
                        <div class="col-sm-4"><label>Sorumlu Soyadı *</label></div>
                        <div class="col-sm-8"><input class="form-control" id="sorumluSoyad" /></div>
                    </div>
                </div>

                <hr />
                <button type="submit" class="btn btn-success pull-right">
                    <i class="fa fa-save"></i> Değişiklikleri Kaydet
                </button>
            </div>
        </form>

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#SozlesmeBilgileri">Sözleşme Bilgileri</a></li>
            <li><a data-toggle="tab" href="#SubeBilgileri">Şube Bilgileri</a></li>
        </ul>

        <div class="tab-content">
            <div id="SozlesmeBilgileri" class="tab-pane fade in active">
                <table id="SozlesmeGrid" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Sözleşme Tarihleri</th>
                            <th>Hizmetler</th>
                            <th>Tarife Türü</th>
                            <th>Durum</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

            <div id="SubeBilgileri" class="tab-pane fade">
                <table id="SubeGrid" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Tip</th>
                            <th>Şube Kodu</th>
                            <th>Şube Adı</th>
                            <th>Şehir</th>
                            <th>İlçe</th>
                            <th>Telefon</th>
                            <th>E-Posta</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script type="module" src="~/apps/companyinformations.js"></script>
}
