@{
    ViewData["Title"] = "Ayarlar Müşteri Genel Bilgileri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .panel-sky {
        background: transparent;
        border: none;
    }

        .panel-sky .panel-body {
            padding: 0;
        }

    .box .box-title {
        font-weight: 600;
    }

    .dt-head-center thead th {
        text-align: center;
    }

    .textShort {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<div class="content-wrapper">
    <section class="content">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title" style="font-weight:bold">Firma Bilgileri</h3>
            </div>

            <!-- ===== Firma Formu ===== -->
            <form id="frmCompany" novalidate>
                <input type="hidden" id="cmpId" name="Id" />

                <div class="box-body form-horizontal">

                    <div class="row">
                        <div class="col-sm-6 row">
                            <div class="col-sm-4"><label>VKN/TCKN *</label></div>
                            <div class="col-sm-8 form-group">
                                <input class="form-control" type="text" maxlength="11" name="vknTckn" id="vknTckn">
                            </div>
                        </div>
                        <div class="col-sm-6 row">
                            <div class="col-sm-4"><label>Müşteri Adı *</label></div>
                            <div class="col-sm-8 form-group">
                                <input class="form-control" type="text" name="musteriAdi" id="musteriAdi">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 row">
                            <div class="col-sm-4"><label>Unvan *</label></div>
                            <div class="col-sm-8 form-group">
                                <input class="form-control" type="text" name="unvan" id="unvan">
                            </div>
                        </div>
                        <div class="col-sm-6 row">
                            <div class="col-sm-4"><label>Kep Adresi</label></div>
                            <div class="col-sm-8 form-group">
                                <input class="form-control" type="email" placeholder="x@hs0.kep.tr" name="kepAdresi" id="kepAdresi">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 row">
                            <div class="col-sm-4"><label>Adı (*Tckn)</label></div>
                            <div class="col-sm-8 form-group">
                                <input class="form-control" type="text" name="ad" id="ad">
                            </div>
                        </div>
                        <div class="col-sm-6 row">
                            <div class="col-sm-4"><label>Kurum Türü *</label></div>
                            <div class="col-sm-8 form-group">
                                <select class="form-control select2" id="kurumTuru" name="kurumTuru">
                                    <option value="1">ÖZEL</option>
                                    <option value="0">KAMU</option>
                                    <option value="3">VUK 507 ÖZEL</option>
                                    <option value="2">VUK 507 KAMU</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 row">
                            <div class="col-sm-4"><label>Soyadı  (*Tckn)</label></div>
                            <div class="col-sm-8 form-group">
                                <input class="form-control" type="text" name="soyad" id="soyad">
                            </div>
                        </div>
                        <div class="col-sm-6 row">
                            <div class="col-sm-4"><label>Kurumsal e-Posta *</label></div>
                            <div class="col-sm-8 form-group">
                                <input class="form-control" type="email" name="kurumsalEposta" id="kurumsalEposta">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 row">
                            <div class="col-sm-4"><label>Vergi Dairesi İl *</label></div>
                            <div class="col-sm-8 form-group">
                                <select class="form-control select2" id="vergiDairesiIl" name="vergiDairesiIl"></select>
                            </div>
                        </div>
                        <div class="col-sm-6 row">
                            <div class="col-sm-4"><label>Vergi Dairesi *</label></div>
                            <div class="col-sm-8 form-group">
                                <select class="form-control select2" id="vergiDairesi" name="vergiDairesi"></select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 row">
                            <div class="col-sm-4"><label>Müşteri Temsilcisi *</label></div>
                            <div class="col-sm-8 form-group">
                                <input class="form-control" type="text" name="musteriTemsilcisi" id="musteriTemsilcisi" data-vlength="1,45">
                            </div>
                        </div>
                    </div>

                    <hr style="margin:10px 0 20px">

                    <div class="row">
                        <div class="col-sm-6 row">
                            <div class="col-sm-4"><label>Sorumlu Tckn *</label></div>
                            <div class="col-sm-8 form-group">
                                <input class="form-control" maxlength="11" type="text" name="sorumluTckn" id="sorumluTckn">
                            </div>
                        </div>
                        <div class="col-sm-6 row"></div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 row">
                            <div class="col-sm-4"><label>Sorumlu Adı *</label></div>
                            <div class="col-sm-8 form-group">
                                <input class="form-control" type="text" name="sorumluAd" id="sorumluAd">
                            </div>
                        </div>
                        <div class="col-sm-6 row">
                            <div class="col-sm-4"><label>Sorumlu Soyadı *</label></div>
                            <div class="col-sm-8 form-group">
                                <input class="form-control" type="text" name="sorumluSoyad" id="sorumluSoyad">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 row">
                            <div class="col-sm-4"><label>Sorumlu Cep Tel. *</label></div>
                            <div class="col-sm-8 form-group">
                                <input class="form-control" type="tel" name="sorumluCepTel" id="sorumluCepTel" placeholder="___ ___-__-__">
                            </div>
                        </div>
                        <div class="col-sm-6 row">
                            <div class="col-sm-4"><label>Sorumlu e-Posta *</label></div>
                            <div class="col-sm-8 form-group">
                                <input class="form-control" type="email" name="sorumluEPosta" id="sorumluEPosta">
                            </div>
                        </div>
                    </div>

                    <hr style="margin:10px 0 20px">
                    <label>Müşteri Kaydını Alan Kişinin:</label>
                    <div class="row">
                        <div class="col-sm-4 row">
                            <div class="col-sm-4"><label>Adı *</label></div>
                            <div class="col-sm-8 form-group">
                                <input class="form-control" type="text" name="kaydedenAd" id="kaydedenAd">
                            </div>
                        </div>
                        <div class="col-sm-4 row">
                            <div class="col-sm-4"><label>Soyadı *</label></div>
                            <div class="col-sm-8 form-group">
                                <input class="form-control" type="text" name="kaydedenSoyad" id="kaydedenSoyad">
                            </div>
                        </div>
                        <div class="col-sm-4 row">
                            <div class="col-sm-4"><label>Cep No *</label></div>
                            <div class="col-sm-8 form-group">
                                <input class="form-control" type="tel" name="kaydedenTel" id="kaydedenTel" placeholder="___ ___-__-__">
                            </div>
                        </div>
                    </div>

                    <hr style="margin:10px 0 20px">

                    <div class="panel-body">
                      @*   <button type="submit" class="btn btn-success pull-right" style="margin:0 10px 10px 0">
                            Değişiklikleri Kaydet &nbsp;<span class="btn-label"><i class="glyphicon glyphicon-saved"></i></span>
                        </button> *@
                    </div>

                </div>
            </form>

            <!-- ===== Tablar ===== -->
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#SozlesmeBilgileri">Sözleşme Bilgileri</a></li>
                <li><a data-toggle="tab" href="#SubeBilgileri">Şube Bilgileri</a></li>
            </ul>

            <div class="tab-content">
                <!-- Sözleşme Bilgileri -->
                <div id="SozlesmeBilgileri" class="tab-pane fade in active">
                    <div class="form-group-12">
                        <div class="panel panel-sky">
                            <div class="panel-body">
                                <div class="modal-header">
                                    <button type="button" id="btnNewContract" class="btn btn-success">
                                        Sözleşme Ekle &nbsp;<span class="btn-label"><i class="glyphicon glyphicon-plus"></i></span>
                                    </button>
                                </div>
                                <table id="SozlesmeGrid" class="table table-bordered table-hover dataTable" style="width:80%">
                                    <thead>
                                        <tr>
                                            <th style="min-width:180px;max-width:180px;text-align:center;">Sözleşme Başlangıç ve Bitiş Tarihi</th>
                                            <th style="min-width:150px;max-width:200px;text-align:center;">Hizmet</th>
                                            <th style="min-width:100px;max-width:100px;text-align:center;">Tarife Türü</th>
                                            <th style="min-width:100px;max-width:100px;text-align:center;">Durum</th>
                                            <th style="min-width:150px;max-width:200px;text-align:center;">İşlemler</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Şube Bilgileri -->
                <div id="SubeBilgileri" class="tab-pane fade in">
                    <div class="form-group-12">
                        <div class="panel panel-sky">
                            <div class="panel-body">
                                <div class="modal-header">
                                    <button type="button" id="btnNewBranch" class="btn btn-success">
                                        Şube Ekle &nbsp;<span class="btn-label"><i class="glyphicon glyphicon-plus"></i></span>
                                    </button>
                                </div>
                                <table id="SubeGrid" class="table table-bordered table-hover dataTable" style="width:50%">
                                    <thead>
                                        <tr>
                                            <th style="min-width:30px;max-width:40px;text-align:center;">Tip</th>
                                            <th style="min-width:150px;max-width:200px;text-align:center;">Şube Kodu</th>
                                            <th style="min-width:150px;max-width:200px;text-align:center;">Şube Adı</th>
                                            <th style="min-width:100px;max-width:100px;text-align:center;">Şehir</th>
                                            <th style="min-width:100px;max-width:100px;text-align:center;">İlçe</th>
                                            <th style="min-width:100px;max-width:100px;text-align:center;">Telefon</th>
                                            <th style="min-width:150px;max-width:200px;text-align:center;">E-Posta</th>
                                            <th style="min-width:150px;max-width:200px;text-align:center;">İşlemler</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>

<!-- =========================
     SÖZLEŞME MODAL
     ========================= -->
<div class="modal fade" id="contractModal" tabindex="-1" role="dialog" aria-labelledby="contractModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="frmContract">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Kapat"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="contractModalLabel">Sözleşme</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="contractId" />
                    <input type="hidden" id="contractRowVersion" />

                    <div class="form-group">
                        <label for="contractStartDate">Başlangıç Tarihi</label>
                        <input type="text" class="form-control" id="contractStartDate" placeholder="GG.AA.YYYY">
                    </div>
                    <div class="form-group">
                        <label for="contractEndDate">Bitiş Tarihi</label>
                        <input type="text" class="form-control" id="contractEndDate" placeholder="GG.AA.YYYY">
                    </div>
                    <div class="form-group">
                        <label for="contractServiceName">Hizmet</label>
                        <input type="text" class="form-control" id="contractServiceName">
                    </div>
                    <div class="form-group">
                        <label for="contractTariffType">Tarife Türü</label>
                        <input type="text" class="form-control" id="contractTariffType">
                    </div>
                    <div class="form-group">
                        <label for="contractStatus">Durum</label>
                        <input type="text" class="form-control" id="contractStatus">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="contractIsActive" checked /> Aktif
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Vazgeç</button>
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- =========================
     ŞUBE MODAL
     ========================= -->
<div class="modal fade" id="branchModal" tabindex="-1" role="dialog" aria-labelledby="branchModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="frmBranch">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Kapat"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="branchModalLabel">Şube</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="branchId" />
                    <input type="hidden" id="branchRowVersion" />

                    <div class="form-group">
                        <label for="branchType">Tip</label>
                        <input type="text" class="form-control" id="branchType">
                    </div>
                    <div class="form-group">
                        <label for="branchCode">Şube Kodu</label>
                        <input type="text" class="form-control" id="branchCode">
                    </div>
                    <div class="form-group">
                        <label for="branchName">Şube Adı</label>
                        <input type="text" class="form-control" id="branchName">
                    </div>
                    <div class="form-group">
                        <label for="branchCity">Şehir</label>
                        <input type="text" class="form-control" id="branchCity">
                    </div>
                    <div class="form-group">
                        <label for="branchDistrict">İlçe</label>
                        <input type="text" class="form-control" id="branchDistrict">
                    </div>
                    <div class="form-group">
                        <label for="branchPhone">Telefon</label>
                        <input type="text" class="form-control" id="branchPhone">
                    </div>
                    <div class="form-group">
                        <label for="branchEmail">E-Posta</label>
                        <input type="email" class="form-control" id="branchEmail">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="branchIsActive" checked /> Aktif
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Vazgeç</button>
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/apps/listdata.js"></script>
    <script type="module" src="~/Apps/CompanyInformations.js"></script>
    @* <!-- Bu listeleri ister burada tut, ister ortak bir JS'e taşı -->
    <script>
        // Vergi Dairesi İl listesi
        window.vergiDaireIlList = [
            { "VergiDairesiIl": "Adana" }, { "VergiDairesiIl": "Adıyaman" }, { "VergiDairesiIl": "Afyonkarahisar" }, { "VergiDairesiIl": "Ağrı" },
            { "VergiDairesiIl": "Aksaray" }, { "VergiDairesiIl": "Amasya" }, { "VergiDairesiIl": "Ankara" }, { "VergiDairesiIl": "Antalya" },
            { "VergiDairesiIl": "Ardahan" }, { "VergiDairesiIl": "Artvin" }, { "VergiDairesiIl": "Aydın" }, { "VergiDairesiIl": "Balıkesir" },
            { "VergiDairesiIl": "Bartın" }, { "VergiDairesiIl": "Batman" }, { "VergiDairesiIl": "Bayburt" }, { "VergiDairesiIl": "Bilecik" },
            { "VergiDairesiIl": "Bingöl" }, { "VergiDairesiIl": "Bitlis" }, { "VergiDairesiIl": "Bolu" }, { "VergiDairesiIl": "Burdur" },
            { "VergiDairesiIl": "Bursa" }, { "VergiDairesiIl": "Çanakkale" }, { "VergiDairesiIl": "Çankırı" }, { "VergiDairesiIl": "Çorum" },
            { "VergiDairesiIl": "Denizli" }, { "VergiDairesiIl": "Diyarbakır" }, { "VergiDairesiIl": "Düzce" }, { "VergiDairesiIl": "Edirne" },
            { "VergiDairesiIl": "Elazığ" }, { "VergiDairesiIl": "Erzincan" }, { "VergiDairesiIl": "Erzurum" }, { "VergiDairesiIl": "Eskişehir" },
            { "VergiDairesiIl": "Gaziantep" }, { "VergiDairesiIl": "Giresun" }, { "VergiDairesiIl": "Gümüşhane" }, { "VergiDairesiIl": "Hakkari" },
            { "VergiDairesiIl": "Hatay" }, { "VergiDairesiIl": "Iğdır" }, { "VergiDairesiIl": "Isparta" }, { "VergiDairesiIl": "İstanbul" },
            { "VergiDairesiIl": "İzmir" }, { "VergiDairesiIl": "Kahramanmaraş" }, { "VergiDairesiIl": "Karabük" }, { "VergiDairesiIl": "Karaman" },
            { "VergiDairesiIl": "Kars" }, { "VergiDairesiIl": "Kastamonu" }, { "VergiDairesiIl": "Kayseri" }, { "VergiDairesiIl": "Kırıkkale" },
            { "VergiDairesiIl": "Kırklareli" }, { "VergiDairesiIl": "Kırşehir" }, { "VergiDairesiIl": "Kilis" }, { "VergiDairesiIl": "Kocaeli" },
            { "VergiDairesiIl": "Konya" }, { "VergiDairesiIl": "Kütahya" }, { "VergiDairesiIl": "Malatya" }, { "VergiDairesiIl": "Manisa" },
            { "VergiDairesiIl": "Mardin" }, { "VergiDairesiIl": "Mersin" }, { "VergiDairesiIl": "Muğla" }, { "VergiDairesiIl": "Muş" },
            { "VergiDairesiIl": "Nevşehir" }, { "VergiDairesiIl": "Niğde" }, { "VergiDairesiIl": "Ordu" }, { "VergiDairesiIl": "Osmaniye" },
            { "VergiDairesiIl": "Rize" }, { "VergiDairesiIl": "Sakarya" }, { "VergiDairesiIl": "Samsun" }, { "VergiDairesiIl": "Siirt" },
            { "VergiDairesiIl": "Sinop" }, { "VergiDairesiIl": "Sivas" }, { "VergiDairesiIl": "Şanlıurfa" }, { "VergiDairesiIl": "Şırnak" },
            { "VergiDairesiIl": "Tekirdağ" }, { "VergiDairesiIl": "Tokat" }, { "VergiDairesiIl": "Trabzon" }, { "VergiDairesiIl": "Tunceli" },
            { "VergiDairesiIl": "Uşak" }, { "VergiDairesiIl": "Van" }, { "VergiDairesiIl": "Yalova" }, { "VergiDairesiIl": "Yozgat" },
            { "VergiDairesiIl": "Zonguldak" }
        ];

        // İzmir için örnek vergi daireleri (istersen genişletebilirsin)
        window.vergiDaireList = [
            "BORNOVA VERGİ DAİRESİ MÜDÜRLÜĞÜ","ÇAKABEY VERGİ DAİRESİ MÜDÜRLÜĞÜ","KORDON VERGİ DAİRESİ MÜDÜRLÜĞÜ","HASAN TAHSİN VERGİ DAİRESİ MÜDÜRLÜĞÜ",
            "İZMİR İHTİSAS VERGİ DAİRESİ MÜDÜRLÜĞÜ","9 EYLÜL VERGİ DAİRESİ MÜDÜRLÜĞÜ","YAMANLAR VERGİ DAİRESİ MÜDÜRLÜĞÜ","KARŞIYAKA VERGİ DAİRESİ MÜDÜRLÜĞÜ",
            "KEMERALTI VERGİ DAİRESİ MÜDÜRLÜĞÜ","KONAK VERGİ DAİRESİ MÜDÜRLÜĞÜ","ŞİRİNYER VERGİ DAİRESİ MÜDÜRLÜĞÜ","KADİFEKALE VERGİ DAİRESİ MÜDÜRLÜĞÜ",
            "TAŞITLAR VERGİ DAİRESİ MÜDÜRLÜĞÜ","BELKAHVE VERGİ DAİRESİ MÜDÜRLÜĞÜ","BALÇOVA VERGİ DAİRESİ MÜDÜRLÜĞÜ","GAZİEMİR VERGİ DAİRESİ MÜDÜRLÜĞÜ",
            "EGE VERGİ DAİRESİ MÜDÜRLÜĞÜ","ÇİĞLİ VERGİ DAİRESİ MÜDÜRLÜĞÜ","BAYINDIR VERGİ DAİRESİ MÜDÜRLÜĞÜ","BERGAMA VERGİ DAİRESİ MÜDÜRLÜĞÜ",
            "MENEMEN VERGİ DAİRESİ MÜDÜRLÜĞÜ","ÖDEMİŞ VERGİ DAİRESİ MÜDÜRLÜĞÜ","TİRE VERGİ DAİRESİ MÜDÜRLÜĞÜ","TORBALI VERGİ DAİRESİ MÜDÜRLÜĞÜ",
            "KEMALPAŞA VERGİ DAİRESİ MÜDÜRLÜĞÜ","URLA VERGİ DAİRESİ MÜDÜRLÜĞÜ","SELÇUK VERGİ DAİRESİ MÜDÜRLÜĞÜ","KINIK VERGİ DAİRESİ MÜDÜRLÜĞÜ",
            "KİRAZ VERGİ DAİRESİ MÜDÜRLÜĞÜ","ÇEŞME VERGİ DAİRESİ MÜDÜRLÜĞÜ","ALİAĞA VERGİ DAİRESİ MÜDÜRLÜĞÜ","MENDERES VERGİ DAİRESİ MÜDÜRLÜĞÜ",
            "DİKİLİ MALMÜDÜRLÜĞÜ","FOÇA MALMÜDÜRLÜĞÜ","KARABURUN MALMÜDÜRLÜĞÜ","SEFERİHİSAR MALMÜDÜRLÜĞÜ","BEYDAĞ MALMÜDÜRLÜĞÜ"
        ];

        // (İstersen başka sayfalarda da kullanmak için il listesi de bırakıyorum)
        window.ilList = [
            {"IlId":1,"IlAdi":"ADANA"},{"IlId":2,"IlAdi":"ADIYAMAN"},{"IlId":3,"IlAdi":"AFYONKARAHİSAR"},{"IlId":4,"IlAdi":"AĞRI"},
            {"IlId":5,"IlAdi":"AMASYA"},{"IlId":6,"IlAdi":"ANKARA"},{"IlId":7,"IlAdi":"ANTALYA"},{"IlId":8,"IlAdi":"ARTVİN"},
            {"IlId":9,"IlAdi":"AYDIN"},{"IlId":10,"IlAdi":"BALIKESİR"},{"IlId":11,"IlAdi":"BİLECİK"},{"IlId":12,"IlAdi":"BİNGÖL"},
            {"IlId":13,"IlAdi":"BİTLİS"},{"IlId":14,"IlAdi":"BOLU"},{"IlId":15,"IlAdi":"BURDUR"},{"IlId":16,"IlAdi":"BURSA"},
            {"IlId":17,"IlAdi":"ÇANAKKALE"},{"IlId":18,"IlAdi":"ÇANKIRI"},{"IlId":19,"IlAdi":"ÇORUM"},{"IlId":20,"IlAdi":"DENİZLİ"},
            {"IlId":21,"IlAdi":"DİYARBAKIR"},{"IlId":22,"IlAdi":"EDİRNE"},{"IlId":23,"IlAdi":"ELAZIĞ"},{"IlId":24,"IlAdi":"ERZİNCAN"},
            {"IlId":25,"IlAdi":"ERZURUM"},{"IlId":26,"IlAdi":"ESKİŞEHİR"},{"IlId":27,"IlAdi":"GAZİANTEP"},{"IlId":28,"IlAdi":"GİRESUN"},
            {"IlId":29,"IlAdi":"GÜMÜŞHANE"},{"IlId":30,"IlAdi":"HAKKARİ"},{"IlId":31,"IlAdi":"HATAY"},{"IlId":32,"IlAdi":"ISPARTA"},
            {"IlId":33,"IlAdi":"MERSİN"},{"IlId":34,"IlAdi":"İSTANBUL"},{"IlId":35,"IlAdi":"İZMİR"},{"IlId":36,"IlAdi":"KARS"},
            {"IlId":37,"IlAdi":"KASTAMONU"},{"IlId":38,"IlAdi":"KAYSERİ"},{"IlId":39,"IlAdi":"KIRKLARELİ"},{"IlId":40,"IlAdi":"KIRŞEHİR"},
            {"IlId":41,"IlAdi":"KOCAELİ"},{"IlId":42,"IlAdi":"KONYA"},{"IlId":43,"IlAdi":"KÜTAHYA"},{"IlId":44,"IlAdi":"MALATYA"},
            {"IlId":45,"IlAdi":"MANİSA"},{"IlId":46,"IlAdi":"KAHRAMANMARAŞ"},{"IlId":47,"IlAdi":"MARDİN"},{"IlId":48,"IlAdi":"MUĞLA"},
            {"IlId":49,"IlAdi":"MUŞ"},{"IlId":50,"IlAdi":"NEVŞEHİR"},{"IlId":51,"IlAdi":"NİĞDE"},{"IlId":52,"IlAdi":"ORDU"},
            {"IlId":53,"IlAdi":"RİZE"},{"IlId":54,"IlAdi":"SAKARYA"},{"IlId":55,"IlAdi":"SAMSUN"},{"IlId":56,"IlAdi":"SİİRT"},
            {"IlId":57,"IlAdi":"SİNOP"},{"IlId":58,"IlAdi":"SİVAS"},{"IlId":59,"IlAdi":"TEKİRDAĞ"},{"IlId":60,"IlAdi":"TOKAT"},
            {"IlId":61,"IlAdi":"TRABZON"},{"IlId":62,"IlAdi":"TUNCELİ"},{"IlId":63,"IlAdi":"ŞANLIURFA"},{"IlId":64,"IlAdi":"UŞAK"},
            {"IlId":65,"IlAdi":"VAN"},{"IlId":66,"IlAdi":"YOZGAT"},{"IlId":67,"IlAdi":"ZONGULDAK"},{"IlId":68,"IlAdi":"AKSARAY"},
            {"IlId":69,"IlAdi":"BAYBURT"},{"IlId":70,"IlAdi":"KARAMAN"},{"IlId":71,"IlAdi":"KIRIKKALE"},{"IlId":72,"IlAdi":"BATMAN"},
            {"IlId":73,"IlAdi":"ŞIRNAK"},{"IlId":74,"IlAdi":"BARTIN"},{"IlId":75,"IlAdi":"ARDAHAN"},{"IlId":76,"IlAdi":"IĞDIR"},
            {"IlId":77,"IlAdi":"YALOVA"},{"IlId":78,"IlAdi":"KARABÜK"},{"IlId":79,"IlAdi":"KİLİS"},{"IlId":80,"IlAdi":"OSMANİYE"},
            {"IlId":81,"IlAdi":"DÜZCE"}
        ];
    </script> *@

}
