@{
    ViewData["Title"] = "Kullanıcı Ayarları";
    ViewData["Subtitle"] = "Ayarlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <h2>Kullanıcı Ayarları</h2>

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Kullanıcı İşlemleri</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-default btn-sm jsOpenMessageModal">İstek/Talep Bildirimi</button>
                <button type="button" class="btn btn-default btn-sm jsOpenDownloads">Bekleyen İndirmeler</button>
            </div>
        </div>

        <div class="box-body">
            <div class="row">
                <div class="col-md-5">
                    <br>
                    <button id="sifreDegistirBtn" class="btn btn-block btn-info">Şifre değişikliği yapmak istiyorsanız tıklayınız</button>
                    <br>

                    <div id="sifreDegistirmeAktif" style="display:none;">
                        <div class="form-horizontal row">
                            <label class="control-label col-sm-4">Mevcut Şifre*</label>
                            <div class="col-sm-8">
                                <input type="password" id="txteskisifre" class="form-control" />
                            </div>
                        </div>
                        <br>
                        <div class="form-horizontal row">
                            <label class="control-label col-sm-4">Yeni Şifre*</label>
                            <div class="col-sm-8">
                                <input type="password" id="txtyenisifre" class="form-control" />
                            </div>
                        </div>
                        <div class="form-horizontal row">
                            <label class="control-label col-sm-4">Şifre Tekrar*</label>
                            <div class="col-sm-8">
                                <input type="password" id="txtyenisifretekrar" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="form-horizontal row">
                        <label class="control-label col-sm-4">E-Mail*</label>
                        <div class="col-sm-8">
                            <input type="email" id="txtkullanicimail" class="form-control" />
                            <div id="mailDogrulandidiv" style="display:none; margin-top:6px;"><span class="label label-success">Mail adresi doğrulandı</span></div>
                            <div id="mailDogrulanmadidiv" style="margin-top:6px;"><span class="label label-danger">Mail adresi doğrulanmadı!</span></div>
                            <br />
                            <button class="btn btn-block btn-default" id="mailDogrulamagonder">Mail için doğrulama kodu gönder</button>
                            <br />
                        </div>
                    </div>

                    <div class="form-horizontal row">
                        <label class="control-label col-sm-4">Cep Telefonu</label>
                        <div class="col-sm-8">
                            <input type="tel" id="txtkullanicitelefon" class="form-control" placeholder="___ ___-__-__" />
                            <div id="telefonDogrulandidiv" style="display:none; margin-top:6px;"><span class="label label-success">Telefon doğrulandı</span></div>
                            <div id="telefonDogrulanmadidiv" style="margin-top:6px;"><span class="label label-danger">Telefon doğrulanmadı!</span></div>
                            <br />
                            <button class="btn btn-block btn-default" id="telDogrulamagonder">Telefon için doğrulama kodu gönder</button>
                            <br />
                        </div>
                    </div>

                    <div class="form-horizontal row">
                        <div class="callout callout-warning" style="margin:10px;">
                            &nbsp;&nbsp;* Mail adresi veya Cep Telefonundan birini doğrulamanız yeterlidir.<br />
                            &nbsp;&nbsp;* Cep Telefonu zorunlu değildir, mail adresi kullanılamaz ise alternatif bir doğrulama seçeneğiniz olacaktır.<br />
                            &nbsp;&nbsp;* Her cihaz ve IP adresi için bir defa doğrulamanız yeterli olacaktır.
                        </div>
                    </div>

                    <button id="btn_guncelle" class="btn btn-success">
                        Güncelle &nbsp;<span class="btn-label"><i class="glyphicon glyphicon-edit"></i></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>



@section Scripts {
    <!-- Tüm sayfa mantığı harici dosyada -->
    <script type="module" src="~/apps/usersettings.js"></script>
}
