@{
    ViewData["Title"] = "e-Fatura";
    ViewData["Subtitle"] = "Yeni Fatura Oluştur";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">

    <!-- Fatura Bilgileri -->
    <div class="box box-default">
        <div class="box-header with-border"><h3 class="box-title">Fatura Bilgileri</h3></div>
        <div class="box-body">
            <div class="row">

                <!-- Sol kolon -->
                <div class="col-md-4">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Şube</label>
                            <div class="col-sm-8"><input id="CompanyName" class="form-control" value="NOX YAZILIM HİZMETLERİ LİMİTED ŞİRKETİ" /></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Gönderici Etiketi</label>
                            <div class="col-sm-8"><input id="SenderLabel" class="form-control" value="urn:mail:defaultgb@hotmail.com" /></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">ETTN</label>
                            <div class="col-sm-8"><input id="ETTN" class="form-control" value="74A32A37-1A14-4DEC-AC44-722DC4EB32A5" /></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Fatura Ön Eki</label>
                            <div class="col-sm-8"><input id="InvoicePrefix" class="form-control" value="NYZ" /></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Senaryo</label>
                            <div class="col-sm-8">
                                <select id="InvoiceScenario" class="form-control">
                                    <option selected>TİCARİ FATURA</option>
                                    <option>İHRACAT</option>
                                    <option>YOLCUBERABER</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Orta kolon -->
                <div class="col-md-4">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Fatura Tipi</label>
                            <div class="col-sm-8">
                                <select id="ddlFaturaTipi" class="form-control">
                                    <option selected>SATIŞ</option>
                                    <option>İADE</option>
                                    <option>TEVKİFAT</option>
                                    <option>İSTİSNA</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Fatura Tarihi</label>
                            <div class="col-sm-8"><input id="dtFaturaTarihi" class="form-control datepicker" /></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Para Birimi</label>
                            <div class="col-sm-8">
                                <select id="ddlParaBirimi" class="form-control">
                                    <option selected>TRY</option>
                                    <option>USD</option>
                                    <option>EUR</option>
                                    <option>GBP</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Sağ kolon -->
                <div class="col-md-4">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Sipariş No</label>
                            <div class="col-sm-8"><input id="OrderNo" class="form-control" /></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Sipariş Tarihi</label>
                            <div class="col-sm-8"><input id="OrderDate" class="form-control datepicker" /></div>
                        </div>
                    </div>
                </div>

            </div><!-- /row -->
        </div>
    </div>

    <!-- Sekmeler -->
    <div class="box box-default">
        <div class="box-body">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#tab-alici" role="tab" data-toggle="tab">Alıcı Bilgileri</a></li>
                <li><a href="#tab-irsaliye" role="tab" data-toggle="tab">İrsaliye Bilgileri</a></li>
                <li><a href="#tab-sgk" role="tab" data-toggle="tab">SGK Ek Alanlar</a></li>
                <li><a href="#tab-odeme" role="tab" data-toggle="tab">Ödeme</a></li>
                <li><a href="#tab-eka" role="tab" data-toggle="tab">Ek Alanlar / Ek Dosya</a></li>
            </ul>

            <div class="tab-content" style="padding-top:15px;">
                <!-- ALICI -->
                <div role="tabpanel" class="tab-pane active" id="tab-alici">
                    <div class="row">
                        <div class="col-md-6">
                            <input id="CustomerTaxNo" class="form-control" placeholder="VKN/TCKN" />
                            <input id="CustomerName" class="form-control" placeholder="Firma Adı" />
                            <input id="CustomerSurname" class="form-control" placeholder="Soyadı" />
                            <input id="CustomerEmail" type="email" class="form-control" placeholder="E-posta" />
                        </div>
                        <div class="col-md-6">
                            <input id="CustomerTaxOffice" class="form-control" placeholder="Vergi Dairesi" />
                            <input id="CustomerCountry" class="form-control" placeholder="Ülke" value="TR" />
                            <input id="CustomerCity" class="form-control" placeholder="İl" />
                            <input id="CustomerDistrict" class="form-control" placeholder="İlçe" />
                            <textarea id="CustomerAddress" class="form-control" rows="3" placeholder="Adres"></textarea>
                        </div>
                    </div>
                </div>

                <!-- İRSALİYE -->
                <div role="tabpanel" class="tab-pane" id="tab-irsaliye">
                    <div class="row">
                        <div class="col-md-6">
                            <input id="DespatchNo" class="form-control" placeholder="İrsaliye No" />
                            <input id="DespatchDate" class="form-control datepicker" placeholder="İrsaliye Tarihi" />
                        </div>
                        <div class="col-md-6">
                            <input id="DespatchPlace" class="form-control" placeholder="Sevk Yeri" />
                            <input id="DeliveryPlace" class="form-control" placeholder="Teslim Yeri" />
                        </div>
                    </div>
                </div>

                <!-- SGK -->
                <div role="tabpanel" class="tab-pane" id="tab-sgk">
                    <div class="row">
                        <div class="col-md-6">
                            <input id="SgkProvizyon" class="form-control" placeholder="Provizyon No" />
                            <input id="SgkTakip" class="form-control" placeholder="Takip No" />
                        </div>
                    </div>
                </div>

                <!-- ÖDEME -->
                <div role="tabpanel" class="tab-pane" id="tab-odeme">
                    <div class="row">
                        <div class="col-md-6">
                            <select id="PaymentType" class="form-control">
                                <option>NAKİT</option>
                                <option>HAVALE/EFT</option>
                                <option>KREDİ KARTI</option>
                            </select>
                            <input id="DueDate" class="form-control datepicker" placeholder="Vade Tarihi" />
                        </div>
                    </div>
                </div>

                <!-- EK ALANLAR -->
                <div role="tabpanel" class="tab-pane" id="tab-eka">
                    <div class="row">
                        <div class="col-md-6">
                            <textarea id="ExtraNotes" class="form-control" rows="6" placeholder="Ek alanlar..."></textarea>
                        </div>
                        <div class="col-md-6">
                            <div class="well well-sm">Ek dosya yükleme alanı</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- KALEMLER -->
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Fatura Kalemleri</h3>
            <div class="pull-right">
                <a class="btn btn-primary btn-sm" id="btnAddRow"><i class="fa fa-plus"></i> Yeni Satır Ekle</a>
            </div>
        </div>
        <div class="box-body table-responsive">
            <table id="tblLines" class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Mal/Hizmet</th>
                        <th>Miktar</th>
                        <th>Birim</th>
                        <th>Birim Fiyat</th>
                        <th>İskonto %</th>
                        <th>KDV %</th>
                        <th>Tutar</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    <!-- Kaydet -->
    <div class="text-right" style="margin-bottom:20px;">
        <button id="btnKaydet" class="btn btn-success btn-lg"><i class="fa fa-save"></i> Faturayı Kaydet</button>
    </div>
</section>

@section Scripts {
    <script type="module" src="~/apps/invoice.js"></script>
}
