@{
    ViewData["Title"] = "e-Fatura";
    ViewData["Subtitle"] = "Yeni Fatura Oluştur";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form id="faturaformu">
    <!--ÜST BİLGİLER-->
    <div class="box box-default">
        <div class="box-header with-border">
            <div class="row align-items-center">
                <div class="col-12 col-md-4 col-lg-4">
                    <h4 id="h3ftbil" style="margin-top:0px !important" class="mb-0">Fatura Bilgileri</h4>
                </div>

                <div class="col-12 col-md-8 col-lg-8">
                    <div class="d-flex justify-content-end justify-content-lg-start">
                        <div class="col-0 col-md-2 col-lg-2 mb-2 px-1"></div>

                        <div class="col-6 col-md-2 col-lg-2 mb-2 px-1">
                            <button type="button" class="btn btn-danger btn-block text-sm text-md text-lg" id="btnDownloadPDF">
                                Fatura PDF İndir &nbsp;<span class="btn-label"><i class="fa fa-download"></i></span>
                            </button>
                        </div>

                        <div class="col-6 col-md-2 col-lg-2 mb-2 px-1">
                            <button type="button" class="btn btn-danger btn-block text-sm text-md text-lg" id="btnDownloadXML">
                                Fatura XML İndir &nbsp;<span class="btn-label"><i class="fa fa-download"></i></span>
                            </button>
                        </div>

                        <div class="col-6 col-md-2 col-lg-2 mb-2 px-1">
                            <button type="button" class="btn btn-info btn-block text-sm text-md text-lg" id="btnPreviewInvoice">
                                Fatura Önizle &nbsp;<span class="btn-label"><i class="glyphicon glyphicon-zoom-in"></i></span>
                            </button>
                        </div>

                        <div class="col-6 col-md-2 col-lg-2 mb-2 px-1">
                            <button type="button" id="btnDraftSave" class="btn btn-primary btn-block text-sm text-md text-lg">
                                Taslak Kaydet &nbsp;<span class="btn-label"><i class="glyphicon glyphicon-tasks"></i></span>
                            </button>
                        </div>

                        <div class="col-6 col-md-2 col-lg-2 mb-2 px-1">
                            <button type="button" id="btnSendToGib" class="btn btn-success btn-block text-sm text-md text-lg">
                                Gib'e Gönder &nbsp;<span class="btn-label"><i class="glyphicon glyphicon-send"></i></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box-body">
            <div class="row">

                <!-- 1. Sütun -->
                <div class="col-md-4">
                    <div class="form-horizontal row">
                        <label class="control-label col-sm-3">Şube</label>
                        <div class="col-sm-9 inputPadding">
                            <select id="ddlSubeKodu" class="form-control">
                                <option value="0">Seçiniz</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-horizontal row">
                        <label class="control-label col-sm-3">Gönderici Etiketi</label>
                        <div class="col-sm-9 inputPadding">
                            <select id="ddlSourceUrn" class="form-control"></select>
                        </div>
                    </div>

                    <div class="form-horizontal row">
                        <label class="control-label col-sm-3">ETTN</label>
                        <div class="col-sm-9 inputPadding">
                            <input type="text" id="txtUUID" class="form-control" disabled />
                        </div>
                    </div>

                    <div class="form-horizontal row">
                        <label class="control-label col-sm-3">Fatura Ön Eki</label>
                        <div class="col-sm-9 inputPadding">
                            <select id="ddlInvoicePrefix" class="form-control"></select>
                        </div>
                    </div>

                    <div class="form-horizontal row">
                        <label class="control-label col-sm-3">Senaryo</label>
                        <div class="col-sm-9 inputPadding">
                            <select id="ddlSenaryo" class="form-control">
                                <option value="TEMELFATURA">TEMEL FATURA</option>
                                <option value="TICARIFATURA">TİCARİ FATURA</option>
                                <option value="IHRACAT">İHRACAT FATURA</option>
                                <option value="YOLCUBERABERFATURA">YOLCU BERABER FATURA</option>
                                <option value="KAMU">KAMU FATURA</option>
                                <option value="HKS">HAL KAYIT SİSTEMİ</option>
                                <option value="ILAC_TIBBICIHAZ">İLAÇ TIBBİCİHAZ</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- 2. Sütun -->
                <div class="col-md-4">
                    <div class="form-horizontal row">
                        <label class="control-label col-sm-3">Fatura Tipi</label>
                        <div class="col-sm-9 inputPadding">
                            <select id="ddlFaturaTipi" class="form-control">
                                <option value="SATIS" selected>SATIŞ</option>
                                <option value="ISTISNA">İSTİSNA</option>
                                <option value="IADE">İADE</option>
                                <option value="TEVKIFAT">TEVKİFAT</option>
                                <option value="TEVKIFATIADE">TEVKİFAT İADE</option>
                                <option value="TEKNOLOJIDESTEK">TEKNOLOJİ DESTEK</option>
                                <option value="OZELMATRAH">ÖZEL MATRAH</option>
                                <option value="IHRACKAYITLI">İHRAÇ KAYITLI</option>
                                <option value="SGK">SGK</option>
                                <option value="KONAKLAMAVERGISI">KONAKLAMAVERGISI</option>
                                <option value="HKSSATIS">HKS SATIŞ</option>
                                <option value="HKSKOMISYONCU">HKS KOMİSYONCU</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-horizontal row">
                        <label class="control-label col-sm-3">Fatura Tarihi</label>
                        <div class="col-sm-9 inputPadding">
                            <input type="date" id="txtIssueDate" class="form-control">
                        </div>
                    </div>

                    <div class="form-horizontal row">
                        <label class="control-label col-sm-3">Fatura Saati</label>
                        <div class="col-sm-9 inputPadding">
                            <input type="time" id="txtIssueTime" class="form-control">
                        </div>
                    </div>

                    <div class="form-horizontal row">
                        <label class="control-label col-sm-3">Para Birimi</label>
                        <div class="col-sm-9 inputPadding">
                            <select id="ddlParaBirimi" class="form-control"></select>
                        </div>
                    </div>
                </div>

                <!-- 3. Sütun -->
                <div class="col-md-4">
                    <div class="form-horizontal row">
                        <label class="control-label col-sm-3">Sipariş No</label>
                        <div class="col-sm-9 inputPadding">
                            <input type="text" id="txtSiparisNo" class="form-control">
                        </div>
                    </div>

                    <div class="form-horizontal row">
                        <label class="control-label col-sm-3">Sipariş Tarihi</label>
                        <div class="col-sm-9 inputPadding">
                            <input type="date" id="txtSiparisTarih" class="form-control">
                        </div>
                    </div>

                    <div class="form-horizontal row">
                        <label class="control-label col-sm-3">Görüntü Dosyası</label>
                        <div class="col-sm-9 inputPadding">
                            <select id="ddlGoruntuDosyasi" class="form-control"></select>
                        </div>
                    </div>

                    <div class="form-horizontal row">
                        <label class="control-label col-sm-3">Döviz-TL Kur</label>
                        <div class="col-sm-9 inputPadding">
                            <input type="number" id="txtKurBilgisi" class="form-control" step="0.0001" />
                        </div>
                    </div>

                    <div class="form-horizontal row">
                        <label class="control-label col-sm-3">TCBM Kur</label>
                        <div class="col-sm-6 inputPadding" style="padding-right:0px">
                            <select id="ddlKurTipi" class="form-control">
                                <option value="satiskur">Satış Kur</option>
                                <option value="aliskur">Alış Kur</option>
                            </select>
                        </div>
                        <div class="col-sm-3 inputPadding" style="padding-left:0px;">
                            <button id="btnKurGetir" type="button" class="btn btn-primary btn-md btn-labeled">Getir</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- SEKMELER -->
    <div class="box box-default">
        <ul class="nav nav-tabs" id="mytabs">
            <li class="active"><a data-toggle="tab" href="#alicibilgileri">Alıcı Bilgileri</a></li>
            <li><a data-toggle="tab" href="#irsaliyebilgileri">İrsaliye Bilgileri</a></li>
            <li><a data-toggle="tab" href="#sgkek">SGK Ek Alanlar</a></li>
            <li><a data-toggle="tab" href="#odeme">Ödeme</a></li>
            <li><a data-toggle="tab" href="#ekalicisatici">Alıcı-Satıcı Ek Alanlar</a></li>
            <li><a data-toggle="tab" href="#ekalan">Ek Alan</a></li>
        </ul>
        <div class="tab-content tab-validate">
            <!-- Alıcı Bilgileri -->
            <div class="tab-pane active" id="alicibilgileri">
                <div class="box-body">
                    <div class="row">

                        <!-- SOL SÜTUN -->
                        <div class="col-md-4">
                            <!-- Ara / Müşteri Seç -->
                            <div class="form-horizontal row" id="araDiv">
                                <label class="control-label col-sm-3">Ara</label>
                                <div class="col-sm-9 inputPadding">
                                    <select id="ddlMusteriAra" class="form-control select2" style="width:100%">
                                        <option value="">Seçiniz</option>
                                        @* Müşteri listesi List.js veya backend'den doldurulacak *@
                                    </select>
                                </div>
                            </div>

                            <br>

                            <!-- VKN/TCKN -->
                            <div class="form-horizontal row">
                                <label class="control-label col-sm-3">VKN/TCKN *</label>
                                <div class="col-sm-9 inputPadding">
                                    <input type="text" id="txtIdentificationID" maxlength="11" class="form-control" />
                                </div>
                            </div>

                            <!-- Alıcı Etiketi -->
                            <div class="form-horizontal row">
                                <label class="control-label col-sm-3">Alıcı Etiketi</label>
                                <div class="col-sm-9 inputPadding">
                                    <select id="ddlAliciEtiketi" class="form-control" style="width:100%">
                                        <option value="">Seçiniz</option>
                                        @* aliciEtiketList List.js'den *@
                                    </select>
                                </div>
                            </div>

                            <!-- Firma Adı -->
                            <div class="form-horizontal row">
                                <label class="control-label col-sm-3">Firma Adı *</label>
                                <div class="col-sm-9 inputPadding">
                                    <input type="text" id="txtPartyName" class="form-control" />
                                </div>
                            </div>

                            <!-- Adı -->
                            <div class="form-horizontal row">
                                <label class="control-label col-sm-3">Adı *</label>
                                <div class="col-sm-9 inputPadding">
                                    <input type="text" id="txtPersonFirstName" class="form-control" />
                                </div>
                            </div>

                            <!-- Soyadı -->
                            <div class="form-horizontal row">
                                <label class="control-label col-sm-3">Soyadı *</label>
                                <div class="col-sm-9 inputPadding">
                                    <input type="text" id="txtPersonLastName" class="form-control" />
                                </div>
                            </div>
                        </div>

                        <!-- ORTA SÜTUN -->
                        <div class="col-md-4">

                            <!-- Vergi Dairesi -->
                            <div class="form-horizontal row">
                                <label class="control-label col-sm-3">Vergi Dairesi</label>
                                <div class="col-sm-9 inputPadding">
                                    <input type="text" id="txtTaxSchemeName" class="form-control" />
                                </div>
                            </div>

                            <!-- Ülke -->
                            <div class="form-horizontal row">
                                <label class="control-label col-sm-3">Ülke *</label>
                                <div class="col-sm-9 inputPadding">
                                    <div id="divUlkeSelect">
                                        <select id="ddlUlke" class="form-control select2" style="width:100%">
                                            <option value="">Seçiniz</option>
                                            @* ulkeList List.js'den doldurulacak *@
                                        </select>
                                    </div>
                                    <div id="divUlkeText" class="d-none">
                                        <input type="text" id="txtUlke" class="form-control" />
                                    </div>
                                </div>
                            </div>

                            <!-- İl -->
                            <div class="form-horizontal row">
                                <label class="control-label col-sm-3">
                                    İl *
                                    <input type="checkbox" id="chkManuelSehir" title="İl ve ilçe manuel giriş">
                                </label>
                                <div class="col-sm-9 inputPadding">
                                    <div id="divIlSelect">
                                        <select id="ddlIl" class="form-control select2" style="width:100%">
                                            <option value="">Seçiniz</option>
                                            @* ilList List.js'den doldurulacak *@
                                        </select>
                                    </div>
                                    <div id="divIlText" class="d-none">
                                        <input type="text" id="txtIl" class="form-control" />
                                    </div>
                                </div>
                            </div>

                            <!-- İlçe -->
                            <div class="form-horizontal row">
                                <label class="control-label col-sm-3">İlçe *</label>
                                <div class="col-sm-9 inputPadding">
                                    <div id="divIlceSelect">
                                        <select id="ddlIlce" class="form-control select2" style="width:100%">
                                            <option value="">Seçiniz</option>
                                            @* ilceList, seçilen il'e göre JS'de doldurulacak *@
                                        </select>
                                    </div>
                                    <div id="divIlceText" class="d-none">
                                        <input type="text" id="txtIlce" class="form-control" />
                                    </div>
                                </div>
                            </div>

                            <!-- Adres -->
                            <div class="form-horizontal row">
                                <label class="control-label col-sm-3">Adres</label>
                                <div class="col-sm-9 inputPadding">
                                    <input type="text" id="txtStreetName" class="form-control" />
                                </div>
                            </div>

                            <!-- E-Mail -->
                            <div class="form-horizontal row">
                                <label class="control-label col-sm-3">E-Mail</label>
                                <div class="col-sm-9 inputPadding">
                                    <input type="email" id="txtEmail" class="form-control" />
                                </div>
                            </div>
                        </div>

                        <!-- SAĞ SÜTUN -->
                        <div class="col-md-4">

                            <!-- Posta Kodu -->
                            <div class="form-horizontal row">
                                <label class="control-label col-sm-3">Posta Kodu</label>
                                <div class="col-sm-9 inputPadding">
                                    <input type="text" id="txtPostalCode" maxlength="5" class="form-control" />
                                </div>
                            </div>

                            <!-- Web Sitesi -->
                            <div class="form-horizontal row">
                                <label class="control-label col-sm-3">Web Sitesi</label>
                                <div class="col-sm-9 inputPadding">
                                    <input type="text" id="txtWebsite" class="form-control" />
                                </div>
                            </div>

                            <!-- Telefon -->
                            <div class="form-horizontal row">
                                <label class="control-label col-sm-3">Telefon</label>
                                <div class="col-sm-9 inputPadding">
                                    <input type="tel" id="txtTelephone" maxlength="11" class="form-control" />
                                </div>
                            </div>

                            <!-- Fax -->
                            <div class="form-horizontal row">
                                <label class="control-label col-sm-3">Fax</label>
                                <div class="col-sm-9 inputPadding">
                                    <input type="text" id="txtFax" class="form-control" />
                                </div>
                            </div>

                            <!-- Türmob Müşteri Sorgulama -->
                            <div class="form-horizontal row" style="margin:15px 10px">
                                <button id="btnTurmobSorgula" class="btn btn-primary btn-md btn-labeled" style="float:right">
                                    Türmob Müşteri Sorgula
                                </button>
                            </div>

                            <div style="float:right; color:red; font-size:15px; font-weight:bold;">
                                Türmob'tan sorgulama başına 1 adet kontör düşümü yapılmaktadır!
                            </div>

                            <div style="float:right; margin-top:5px;">
                                <a href="/Gerekliler/TurmobSorgula.pdf" target="_blank">
                                    <b>Türmob Müşteri Sorgula Dokümantasyonu</b>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- İrsaliye Bilgileri -->
            <div class="tab-pane" id="irsaliyebilgileri">
                <div class="box-body">
                    <div class="col-6 col-md-4">
                        <table id="irsaliye_grid" style="border:0.5px solid #cccccc; width:100%;">
                            <caption>
                                <button id="btnYeniIrsaliyeEkle" type="button" class="btn btn-primary btn-sm">
                                    <i class="fa fa-plus"></i> Yeni İrsaliye Ekle
                                </button>
                            </caption>

                            <thead>
                                <tr>
                                    <th style="min-width:180px; max-width:250px; text-align:center;">İrsaliye No</th>
                                    <th style="min-width:180px; max-width:250px; text-align:center;">İrsaliye Tarihi</th>
                                    <th style="min-width:60px; max-width:60px; text-align:center;">İşlem</th>
                                </tr>
                            </thead>

                            <tbody id="tblIrsaliyeBody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Sgk Ek Alan -->
            <div class="tab-pane" id="sgkek">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">

                            <!-- İlave Fatura Tipi -->
                            <div class="form-horizontal row">
                                <label class="control-label col-sm-3">İlave Fatura Tipi</label>
                                <div class="col-sm-9 inputPadding">
                                    <select id="ddlilaveFaturaTipi" class="form-control">
                                        <option value="">Seçiniz</option>
                                        <option value="SAGLIK_ECZ">SAGLIK_ECZANE</option>
                                        <option value="SAGLIK_HAS">SAGLIK_HASTANE</option>
                                        <option value="SAGLIK_OPT">SAGLIK_OPTİK</option>
                                        <option value="SAGLIK_MED">SAGLIK_MEDİKAL</option>
                                        <option value="ABONELIK">ABONELİK</option>
                                        <option value="MAL_HIZMET">MAL_HİZMET</option>
                                        <option value="DIGER">DİĞER</option>
                                    </select>
                                </div>
                            </div>

                            <!-- Ortak Alanlar (hepsi başlangıçta gizli) -->
                            <div id="sgkFieldsContainer">

                                <!-- Mükellef / Kurum Bilgileri -->
                                <div class="form-horizontal row sgk-field d-none" id="fieldMukellefKodu">
                                    <label class="control-label col-sm-3" id="lblMukellefKodu"></label>
                                    <div class="col-sm-4 inputPadding">
                                        <input type="text" id="mukellefkodu" name="mukellefkodu" class="form-control">
                                    </div>
                                </div>

                                <div class="form-horizontal row sgk-field d-none" id="fieldMukellefAdi">
                                    <label class="control-label col-sm-3" id="lblMukellefAdi"></label>
                                    <div class="col-sm-4 inputPadding">
                                        <input type="text" id="mukellefadi" name="mukellefadi" class="form-control">
                                    </div>
                                </div>

                                <!-- Dosya / Evrak / Referans / Abone Bilgisi -->
                                <div class="form-horizontal row sgk-field d-none" id="fieldDosyaNo">
                                    <label class="control-label col-sm-3" id="lblDosyaNo"></label>
                                    <div class="col-sm-4 inputPadding">
                                        <input type="text" id="dosyano" name="dosyano" class="form-control">
                                    </div>
                                </div>

                                <!-- Gönderim Tarihi -->
                                <div class="form-horizontal row sgk-field d-none" id="fieldGonderimTarihi">
                                    <label class="control-label col-sm-3">Gönderim Tarihi</label>
                                    <div class="col-sm-5 inputPadding">
                                        <input type="date" id="txtSendingDateBaslangic" name="txtSendingDateBaslangic" placeholder="Başlangıç Tarihi" class="form-control">
                                    </div>
                                    <div class="col-sm-4 inputPadding">
                                        <input type="date" id="txtSendingDateBitis" name="txtSendingDateBitis" placeholder="Bitiş Tarihi" class="form-control">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Ödeme -->
            <div class="tab-pane" id="odeme">
                <div class="box-body">
                    <div class="row">
                        <!-- ÖDEME BİLGİLERİ SOL TARAF -->
                        <div class="col-md-6">
                            <div class="form-horizontal row">
                                <label class="control-label col-sm-3">Ödeme Şekli *</label>
                                <div class="col-sm-9 inputPadding">
                                    <select id="PaymentMeansCode" name="PaymentMeansCode" class="form-control">
                                        <option value="">Seçiniz</option>
                                        <!-- OdemeList verileri List.js üzerinden dinamik doldurulacak -->
                                    </select>
                                </div>
                            </div>

                            <div class="form-horizontal row">
                                <label class="control-label col-sm-3">Ödeme Tarihi *</label>
                                <div class="col-sm-9 inputPadding">
                                    <input type="date" id="PaymentDueDate" name="PaymentDueDate" class="form-control">
                                </div>
                            </div>

                            <div class="form-horizontal row">
                                <label class="control-label col-sm-3">Ödeme Notu</label>
                                <div class="col-sm-9 inputPadding">
                                    <input type="text" id="InstructionNote" name="InstructionNote" class="form-control">
                                </div>
                            </div>

                            <div class="form-horizontal row">
                                <label class="control-label col-sm-3">Ödeme Kanalı</label>
                                <div class="col-sm-9 inputPadding">
                                    <select id="PaymentChannelCode" name="PaymentChannelCode" class="form-control">
                                        <option value="">Seçiniz</option>
                                        <!-- OdemeKanalList verileri List.js üzerinden dinamik doldurulacak -->
                                    </select>
                                </div>
                            </div>

                            <div class="form-horizontal row">
                                <label class="control-label col-sm-3">Hesap No / IBAN</label>
                                <div class="col-sm-9 inputPadding">
                                    <input type="text" id="PayeeFinancialAccount" name="PayeeFinancialAccount" class="form-control">
                                </div>
                            </div>

                            <div class="form-horizontal row">
                                <label class="control-label col-sm-3">Hesap Para Birimi</label>
                                <div class="col-sm-9 inputPadding">
                                    <select id="PayeeFinancialCurrencyCode" name="PayeeFinancialCurrencyCode" class="form-control">
                                        <option value="">Seçiniz</option>
                                        <!-- parabirimList verileri List.js üzerinden dinamik doldurulacak -->
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- KAMU KURUMU ÖDEME YAPACAK ALICI BİLGİLERİ SAĞ TARAF -->
                        <div class="col-md-6">
                            <div class="box-header with-border">
                                <h3 class="box-title">Kamu Kurumu Ödeme Yapacak Alıcı Bilgileri</h3>
                            </div>

                            <div class="form-horizontal row">
                                <label class="control-label col-sm-3">VKN *</label>
                                <div class="col-sm-9 inputPadding">
                                    <input type="text" id="txtKamuVkn" name="txtKamuVkn" maxlength="11" class="form-control">
                                </div>
                            </div>

                            <div class="form-horizontal row">
                                <label class="control-label col-sm-3">Unvan *</label>
                                <div class="col-sm-9 inputPadding">
                                    <input type="text" id="txtKamuUnvan" name="txtKamuUnvan" class="form-control">
                                </div>
                            </div>

                            <div class="form-horizontal row">
                                <label class="control-label col-sm-3">Ülke *</label>
                                <div class="col-sm-9 inputPadding">
                                    <input type="text" id="txtKamuUlke" name="txtKamuUlke" class="form-control">
                                </div>
                            </div>

                            <div class="form-horizontal row">
                                <label class="control-label col-sm-3">İl *</label>
                                <div class="col-sm-9 inputPadding">
                                    <input type="text" id="txtKamuIl" name="txtKamuIl" class="form-control">
                                </div>
                            </div>

                            <div class="box-tools pull-right mt-2">
                                <button type="button" id="btnAliciBilgilerindenKopyala" class="btn btn-default btn-sm btn-labeled">
                                    Alıcı Bilgilerinden Kopyala
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!--Alıcı - Satıcı Ek Alanlar -->
            <div class="tab-pane" id="ekalicisatici">
                <div class="box-body row">

                    <!-- SATIJI EK ALANLAR -->
                    <div class="col-6 col-md-4">
                        <div class="box box-default">
                            <div class="box-header with-border">
                                <h3 class="box-title">Satıcı Ek Alanlar</h3>
                            </div>
                            <div class="box-body">
                                <table id="saticiekalan_grid" style="border:0.5px solid #cccccc; width:100%;">
                                    <caption>
                                        <button type="button" id="btnAddSaticiEk" class="btn btn-primary btn-sm btn-labeled" style="float:right">
                                            <i class="fa fa-plus"></i> Yeni Satır Ekle
                                        </button>
                                    </caption>
                                    <thead>
                                        <tr>
                                            <th style="width:33%">Tanıtıcı Kod</th>
                                            <th style="width:34%">Tanıtıcı Değer</th>
                                            <th style="width:10%">Sil</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbodySaticiEk"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- SATIJI ŞUBE EK ALANLAR -->
                    <div class="col-6 col-md-4">
                        <div class="box box-default">
                            <div class="box-header with-border">
                                <h3 class="box-title">Satıcı Şube Ek Alanlar</h3>
                            </div>
                            <div class="box-body">
                                <table id="saticiAgentekalan_grid" style="border:0.5px solid #cccccc; width:100%;">
                                    <caption>
                                        <button type="button" id="btnAddSaticiSubeEk" class="btn btn-primary btn-sm btn-labeled" style="float:right">
                                            <i class="fa fa-plus"></i> Yeni Satır Ekle
                                        </button>
                                    </caption>
                                    <thead>
                                        <tr>
                                            <th style="width:33%">Tanıtıcı Kod</th>
                                            <th style="width:34%">Tanıtıcı Değer</th>
                                            <th style="width:10%">Sil</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbodySaticiSubeEk"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- ALICI EK ALANLAR -->
                    <div class="col-6 col-md-4">
                        <div class="box box-default">
                            <div class="box-header with-border">
                                <h3 class="box-title">Alıcı Ek Alanlar</h3>
                            </div>
                            <div class="box-body">
                                <table id="aliciekalan_grid" style="border:0.5px solid #cccccc; width:100%;">
                                    <caption>
                                        <button type="button" id="btnAddAliciEk" class="btn btn-primary btn-sm btn-labeled" style="float:right">
                                            <i class="fa fa-plus"></i> Yeni Satır Ekle
                                        </button>
                                    </caption>
                                    <thead>
                                        <tr>
                                            <th style="width:33%">Tanıtıcı Kod</th>
                                            <th style="width:34%">Tanıtıcı Değer</th>
                                            <th style="width:10%">Sil</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbodyAliciEk"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- Ek Alan Bilgileri -->
            <div class="tab-pane" id="ekalan">
                <div class="box-body">
                    <div class="col-6 col-md-4">
                        <div class="box-body">
                            <table id="ekalan_grid" style="border:0.5px solid #cccccc; width: 100%; border-collapse: collapse;">
                                <caption>
                                    <button type="button" id="btnAddEkalani" class="btn btn-primary btn-sm btn-labeled" style="float:right; margin: 8px 0;">
                                        <i class="fa fa-plus"></i>
                                        Yeni Satır Ekle
                                    </button>
                                </caption>

                                <thead class="table-light">
                                    <tr>
                                        <th style="width: 20%; text-align: center; vertical-align: middle; padding: 12px;">
                                            KOBI/EYDEP
                                        </th>
                                        <th style="width: 22%; text-align: center; vertical-align: middle; padding: 12px;">
                                            EVET/HAYIR
                                        </th>
                                        <th style="width: 22%; text-align: center; vertical-align: middle; padding: 12px;">
                                            KOBI/EYDEP BİLGİ
                                        </th>
                                        <th style="width: 26%; text-align: center; vertical-align: middle; padding: 12px;">
                                            Tarih
                                        </th>
                                        <th style="width: 10%; text-align: center; vertical-align: middle; padding: 12px;">
                                            Sil
                                        </th>
                                    </tr>
                                </thead>

                                <tbody id="tbodyEkalani"></tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div> <!-- /tab-content -->
    </div> <!-- /box -->
</form>
<!-- ===================== F A T U R A  K A L E M L E R İ ===================== -->
<div class="box box-default" id="boxKalemler">
    <div class="box-header with-border">
        <h3 class="box-title">Fatura Kalemleri</h3>
        <!-- ÜST ARAÇ ÇUBUĞU (tamamlandı) -->
        <div class="box-tools pull-right">
            <!-- KDV Hariç/Dahil -->
            <div class="input-group input-group-md pull-left" style="margin-right:8px">
                <select class="form-control" id="kdvStatu" name="kdvstatu">
                    <option value="false">KDV Hariç</option>
                    <option value="true">KDV Dahil</option>
                </select>
            </div>
            <!-- Excel drop-down -->
            <div class="btn-group" style="margin-right:8px">
                <button aria-expanded="false" class="btn btn-default btn-md dropdown-toggle" data-toggle="dropdown" type="button">
                    Excel <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" id="excelLineModalOpen"><i class="fa fa-file-excel-o"></i> Excel'den Yükle</a></li>
                    <li><a href="#" id="excelLineExport"><i class="fa fa-share"></i> Excel'e Aktar</a></li>
                </ul>
            </div>
            <!-- Medula ve Cezaevi aktar -->
            <button class="btn btn-default btn-md" id="btnMedulaAktar" style="margin-right:8px" type="button">
                <i class="fa fa-inbox"></i> Medula'dan Aktar
            </button>
            <button class="btn btn-default btn-md" id="btnCezaeviAktar" style="margin-right:8px" type="button">
                <i class="fa fa-inbox"></i> Cezaevi Aktar
            </button>
            <!-- Toplu işlemler -->
            <button class="btn btn-default btn-md" id="btnTopluIndirim" style="margin-right:8px" type="button">
                <i class="fa fa-plus"></i> Toplu İndirim/Artırım Ekle
            </button>
            <button class="btn btn-default btn-md" id="btnTopluVergi" style="margin-right:8px" type="button">
                <i class="fa fa-plus"></i> Toplu Vergi Ekle
            </button>
            <!-- Yeni satır -->
            <button class="btn btn-primary btn-md" id="btnLineAdd" type="button">
                <i class="fa fa-plus"></i> Yeni Satır Ekle
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="dataTables_scrollBody" style="overflow: auto;">
            <table id="manuel_grid" class="dataTable no-footer" style="width: 100%;">
                <thead style="background-color:#ebedf0;">
                    <tr>
                        <th style="width:60px;">Sıra No</th>
                        <th style="width:180px;">Mal/Hizmet Adı *</th>
                        <th style="width:100px;">Miktar</th>
                        <th style="width:100px;">Birim *</th>
                        <th style="width:100px;">Birim Fiyat</th>
                        <th style="width:80px;">İskonto Oranı(%)</th>
                        <th style="width:100px;">İskonto Tutarı</th>
                        <th style="width:100px;">Mal/Hizmet Tutarı</th>
                        <th style="width:60px;">KDV Oranı(%)</th>
                        <th style="width:100px;">KDV Tutarı</th>
                        <th style="width:80px;">İstisna</th>
                        <th style="width:100px;">İşlem</th>
                    </tr>
                </thead>
                <tbody id="invoiceBody"></tbody>
            </table>
        </div>
        <!-- Ürün arama listesi (opsiyonel) -->
        <datalist id="stoks"></datalist>
    </div>
</div>
<!-- ======================== A Ç I K L A M A  /  T O P L A M ======================== -->
<div class="row">
    <!-- AÇIKLAMA -->
    <div class="col-md-6">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Açıklama / Notlar</h3>
            </div>
            <div class="box-body">
                <div class="form-group form-group-sm" style="padding: 0px;">
                    <textarea rows="8" id="Note" name="Note" autocomplete="off" placeholder="Açıklama..." class="form-control"></textarea>
                </div>
            </div>
        </div>
    </div>

    <!-- TOPLAM BİLGİLERİ -->
    <div class="col-md-6">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Toplam Bilgileri</h3>
                <div class="box-tools pull-right">
                    <div class="input-group input-group-md pull-left">
                        <select class="form-control" id="manuelToplam" name="manuelToplam">
                            <option value="false" selected>Otomatik</option>
                            <option value="true">Manuel</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="box-body">
                <!-- Mal/Hizmet Toplam Tutarı -->
                <div class="form-horizontal row">
                    <label class="control-label col-sm-6">Mal/Hizmet Toplam Tutarı</label>
                    <div class="col-sm-5 inputPadding">
                        <input type="text" id="toplamMalHizmet" class="form-control" value="0,00 TL" disabled>
                    </div>
                </div>

                <!-- Toplam İskonto Tutarı -->
                <div class="form-horizontal row">
                    <label class="control-label col-sm-6">Toplam İskonto Tutarı</label>
                    <div class="col-sm-5 inputPadding">
                        <input type="text" id="toplamIskonto" class="form-control" value="0,00 TL" disabled>
                    </div>
                </div>

                <!-- Hesaplanan KDV -->
                <div class="form-horizontal row">
                    <label class="control-label col-sm-6">Hesaplanan KDV Matrah (20)</label>
                    <div class="col-sm-5 inputPadding">
                        <input type="text" id="kdvMatrah" class="form-control" value="0,00 TL" disabled>
                    </div>

                    <label class="control-label col-sm-6">Hesaplanan KDV (20)</label>
                    <div class="col-sm-5 inputPadding">
                        <input type="text" id="kdvTutar" class="form-control" value="0,00 TL" disabled>
                    </div>
                </div>

                <!-- Vergiler Dahil Toplam -->
                <div class="form-horizontal row">
                    <label class="control-label col-sm-6">Vergiler Dahil Toplam Tutar</label>
                    <div class="col-sm-5 inputPadding">
                        <input type="text" id="vergilerDahil" class="form-control" value="0,00 TL" disabled>
                    </div>
                </div>

                <!-- Ödenecek Toplam -->
                <div class="form-horizontal row">
                    <label class="control-label col-sm-6">Ödenecek Toplam Tutar</label>
                    <div class="col-sm-5 inputPadding">
                        <input type="text" id="odenecekToplam" class="form-control" value="0,00 TL" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ====================== ÖNİZLEME MODALI ====================== -->
<div class="modal fade" id="invoicePreviewModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document" style="max-width: 95% !important;">
        <div class="modal-content">

            <div class="modal-header bg-info">
                <h4 class="modal-title">Fatura Önizleme</h4>
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
            </div>

            <div class="modal-body" id="invoicePreviewContent">
                <!-- Dynamic HTML buraya gelecek -->
            </div>

        </div>
    </div>
</div>

<style>
    .d-none {
        display: none !important;
    }
</style>
@section Scripts {
    <script src="~/apps/listdata.js"></script>
    <script src="~/apps/Invoice.js"></script>
}