@{
    ViewData["Title"] = "Gelen Faturalar";
    ViewData["Subtitle"] = "e-Fatura Gelen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <style>
        .box {
            border: 1px solid #ddd;
            margin-bottom: 15px
        }

        .box-header {
            padding: 10px 15px;
            border-bottom: 1px solid #eee;
            background: #fafafa
        }

        .box-body {
            padding: 15px
        }

        .dt-head-center thead th {
            text-align: center
        }

        .inputPadding {
            padding-left: 0
        }

        .myCollapseIcon {
            transition: transform .2s
        }

        .rotate-45 {
            transform: rotate(45deg)
        }

        tfoot td span {
            font-weight: 700;
            margin-left: 6px
        }

        .dataTables_wrapper .dataTables_filter input {
            min-width: 220px
        }

        .select2-container--default .select2-selection--single,
        .select2-container--default .select2-selection--multiple {
            border: 1px solid #ccc;
            min-height: 34px
        }
    </style>

    <div class="panel panel-sky">
        <div class="panel-body" style="overflow:auto;">

            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Gelen Fatura Arama Seçenekleri</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool box-title" style="color:black;"
                                data-toggle="collapse" href=".myCollapseExample" id="btnDetayliArama">
                            Detaylı Arama <i class="fa fa-plus myCollapseIcon"></i>
                        </button>
                    </div>
                </div>

                <div class="box-body" id="btnAramaYapEnter">
                    <div class="row">
                        <!-- Sütun 1 -->
                        <div class="col-md-3">
                            <div class="form-horizontal row">
                                <label class="control-label col-sm-6">Arşiv</label>
                                <div class="col-sm-6 inputPadding">
                                    <select id="IsArchive" class="form-control">
                                        <option value="">Tümü</option>
                                        <option value="True">Arşivlenenler</option>
                                        <option value="False" selected>Arşivlenmeyenler</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-horizontal row">
                                <label class="control-label col-sm-6">Fatura Tarihi (Başlangıç)</label>
                                <div class="col-sm-6 inputPadding">
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                        <!-- TEXT + datepicker yerine datetime-local -->
                                        <input id="IssueDateStart" type="datetime-local" class="form-control" autocomplete="off">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Sütun 2 -->
                        <div class="col-md-3">
                            <div class="form-horizontal row">
                                <label class="control-label col-sm-6">Cevap Durumu</label>
                                <div class="col-sm-6 inputPadding">
                                    <select id="ApplicationResponseCode" class="form-control">
                                        <option value="">Tümü</option>
                                        <option value="CEVAPVERILMEDI">Cevap Verilmedi</option>
                                        <option value="KABUL">Kabul</option>
                                        <option value="RED">Red</option>
                                        <option value="GECERSIZCEVAP">Geçersiz Cevap</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-horizontal row">
                                <label class="control-label col-sm-6">Fatura Tarihi (Bitiş)</label>
                                <div class="col-sm-6 inputPadding">
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                        <!-- TEXT + datepicker yerine datetime-local -->
                                        <input id="IssueDateStartEnd" type="datetime-local" class="form-control" autocomplete="off">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Sütun 3 -->
                        <div class="col-md-3">
                            <div class="form-horizontal row">
                                <label class="control-label col-sm-6">Fatura No</label>
                                <div class="col-sm-6 inputPadding">
                                    <input id="DocumentId" type="text" class="form-control" autocomplete="off">
                                </div>
                            </div>
                            <div class="form-horizontal row">
                                <label class="control-label col-sm-6">Fatura ETTN</label>
                                <div class="col-sm-6 inputPadding">
                                    <input id="UUID" type="text" class="form-control" autocomplete="off" maxlength="36">
                                </div>
                            </div>
                        </div>
                        <!-- Sütun 4 -->
                        <div class="col-md-3">
                            <div class="form-horizontal row">
                                <label class="control-label col-sm-6">
                                    Gönderici VKN/TCKN
                                    <input id="TargetIdentifierChk" type="checkbox" onclick="vknAyracChk()" title="Virgül ile çoklu VKN/TCKN" style="margin-left:6px">
                                </label>
                                <div class="col-sm-6 inputPadding">
                                    <input id="TargetIdentifier" type="text" maxlength="11" class="form-control" autocomplete="off" placeholder="11 hane">
                                </div>
                            </div>
                            <div class="form-horizontal row">
                                <label class="control-label col-sm-6">Gönderici Unvan</label>
                                <div class="col-sm-6 inputPadding">
                                    <input id="TargetTitle" type="text" class="form-control" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Detaylı Arama -->
                    <div class="collapse myCollapseExample">
                        <div class="row">
                            <!-- Col 1 -->
                            <div class="col-md-3">
                                <div class="form-horizontal row">
                                    <label class="control-label col-sm-6">İşlem Tarihi (Başlangıç)</label>
                                    <div class="col-sm-6 inputPadding">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                            <input id="CreatedDateStart" type="text" class="form-control datepicker" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-horizontal row">
                                    <label class="control-label col-sm-6">Senaryo Türü</label>
                                    <div class="col-sm-6 inputPadding">
                                        <select id="ProfileId" class="form-control">
                                            <option value="">Seçiniz</option>
                                            <option value="TEMELFATURA">Temel Fatura</option>
                                            <option value="TICARIFATURA">Ticari Fatura</option>
                                            <option value="IHRACAT">İhracat Fatura</option>
                                            <option value="YOLCUBERABERFATURA">Yolcu Beraber Fatura</option>
                                            <option value="HKS">Hal Tipi Fatura</option>
                                            <option value="KAMU">Kamu Tipi Fatura</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-horizontal row">
                                    <label class="control-label col-sm-6">İptal İşareti</label>
                                    <div class="col-sm-6 inputPadding">
                                        <select id="IsCancelled" class="form-control">
                                            <option value="">Seçiniz</option>
                                            <option value="YES">İptal Edildi</option>
                                            <option value="NO">İptal Edilmedi</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- Col 2 -->
                            <div class="col-md-3">
                                <div class="form-horizontal row">
                                    <label class="control-label col-sm-6">İşlem Tarihi (Bitiş)</label>
                                    <div class="col-sm-6 inputPadding">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                            <input id="CreatedDateEnd" type="text" class="form-control datepicker" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-horizontal row">
                                    <label class="control-label col-sm-6">Fatura Türü</label>
                                    <div class="col-sm-6 inputPadding">
                                        <select id="InvoiceTypeCode" class="form-control">
                                            <option value="">Seçiniz</option>
                                            <option value="SATIS">Satış</option>
                                            <option value="IADE">İade</option>
                                            <option value="ISTISNA">İstisna</option>
                                            <option value="TEVKIFAT">Tevkifat</option>
                                            <option value="SGK">SGK</option>
                                            <option value="OZELMATRAH">Özel Matrah</option>
                                            <option value="IHRACKAYITLI">İhraç Kayıtlı</option>
                                            <option value="KOMISYONCU">Komisyoncu</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-horizontal row">
                                    <label class="control-label col-sm-6">Para Birimi</label>
                                    <div class="col-sm-6 inputPadding">
                                        <select id="CurrencyCode" class="form-control">
                                            <option value="">Seçiniz</option>
                                            <option value="TRY">Türk Lirası</option>
                                            <option value="USD">Dolar</option>
                                            <option value="EUR">Euro</option>
                                            <option value="GBP">İngiliz Sterlini</option>
                                            <option value="CHF">İsviçre Frangı</option>
                                            <option value="CAD">Kanada Doları</option>
                                            <option value="DKK">Danimarka Kronu</option>
                                            <option value="SEK">İsveç Kronu</option>
                                            <option value="NOK">Norveç Kronu</option>
                                            <option value="JPY">Japon Yeni</option>
                                            <option value="AED">BAE Dirhemi</option>
                                            <option value="AUD">Avustralya Doları</option>
                                            <option value="RUB">Rus Rublesi</option>
                                            <option value="KWD">Kuveyt Dinarı</option>
                                            <option value="ZAR">Güney Afrika Parası</option>
                                            <option value="BHD">Bahreyn Dinarı</option>
                                            <option value="LYD">Libya Dinarı</option>
                                            <option value="SAR">Suudi Arabistan Riyali</option>
                                            <option value="IQD">Irak Dinarı</option>
                                            <option value="ILS">Yeni İsrail Şekeli</option>
                                            <option value="IRR">İran Riyali</option>
                                            <option value="INR">Hindistan Rupisi</option>
                                            <option value="MXN">Meksika Pezosu</option>
                                            <option value="HUF">Forint</option>
                                            <option value="NZD">Yeni Zelanda Doları</option>
                                            <option value="BRL">Brezilya Reali</option>
                                            <option value="IDR">Rupiah</option>
                                            <option value="PLN">Polonya Zlotisi</option>
                                            <option value="BGN">Bulgar Levası</option>
                                            <option value="CNY">Yuan</option>
                                            <option value="ARS">Arjantin Pezosu</option>
                                            <option value="ALL">Arnavutluk Leki</option>
                                            <option value="AZN">Azerbaycan Manatı</option>
                                            <option value="CLP">Şili Pezosu</option>
                                            <option value="EGP">Mısır Lirası</option>
                                            <option value="HKD">Hong Kong Doları</option>
                                            <option value="KRW">Won</option>
                                            <option value="KZT">Kazakistan Tengesi</option>
                                            <option value="LBP">Lübnan Lirası</option>
                                            <option value="LKR">Sri Lanka Rupisi</option>
                                            <option value="MAD">Fas Dirhemi</option>
                                            <option value="MYR">Malezya Ringiti</option>
                                            <option value="OMR">Umman Riyali</option>
                                            <option value="PEN">Nuevo Sol</option>
                                            <option value="PHP">Filipin Pezosu</option>
                                            <option value="PKR">Pakistan Rupisi</option>
                                            <option value="QAR">Katar Riyali</option>
                                            <option value="RSD">Sırp Dinarı</option>
                                            <option value="SGD">Singapur Doları</option>
                                            <option value="THB">Tayland Bahtı</option>
                                            <option value="TWD">Yeni Tayvan Doları</option>
                                            <option value="UAH">Hryvnia</option>
                                            <option value="UYU">Uruguay Pesosu</option>
                                            <option value="XAU_22C">22 Ayar Çeyrek</option>
                                            <option value="XAU_22Y">22 Ayar Yarım</option>
                                            <option value="XAU_22T">22 Ayar Tam</option>
                                            <option value="XAU_22I">22 Ayar İkibuçuk</option>
                                            <option value="XAU_22B">22 Ayar Beşlik</option>
                                            <option value="XAU_24G">24 Ayar Gram</option>
                                            <option value="XAU_24G_1000">Külçe Altın</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- Col 3 -->
                            <div class="col-md-3">
                                <div class="form-horizontal row">
                                    <label class="control-label col-sm-6">Ödenecek Tutar</label>
                                    <div class="col-sm-6 inputPadding">
                                        <input id="PayableAmount" type="number" class="form-control" step="0.01" min="0" placeholder=">=">
                                    </div>
                                </div>
                                <div class="form-horizontal row">
                                    <label class="control-label col-sm-6">Yazdırılma</label>
                                    <div class="col-sm-6 inputPadding">
                                        <select id="IsPrinted" class="form-control">
                                            <option value="">Seçiniz</option>
                                            <option value="YES">Yazdırıldı</option>
                                            <option value="NO">Yazdırılmadı</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-horizontal row">
                                    <label class="control-label col-sm-6">GİB Durumu</label>
                                    <div class="col-sm-6 inputPadding">
                                        <select id="Status" class="form-control">
                                            <option value="">Seçiniz</option>
                                            <option value="Hata">Hatalı</option>
                                            <option value="Hatasiz">Hatasız</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- Col 4 -->
                            <div class="col-md-3">
                                <div class="form-horizontal row">
                                    <label class="control-label col-sm-6">Posta Kutusu Etiketi</label>
                                    <div class="col-sm-6 inputPadding">
                                        <select id="PostaKutusuEtiketi" class="form-control">
                                            <option value="">Seçiniz</option>
                                            <option value="urn:mail:defaultpk@icloud.com">urn:mail:defaultpk@icloud.com</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-horizontal row">
                                    <label class="control-label col-sm-6">Muhasebeleştirme</label>
                                    <div class="col-sm-6 inputPadding">
                                        <select id="IsAccount" class="form-control">
                                            <option value="">Seçiniz</option>
                                            <option value="YES">Muhasebeleştirildi</option>
                                            <option value="NO">Muhasebeleştirilmedi</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-horizontal row">
                                    <label class="control-label col-sm-6">Ödendi</label>
                                    <div class="col-sm-6 inputPadding">
                                        <select id="IsPaid" class="form-control">
                                            <option value="">Seçiniz</option>
                                            <option value="YES">Ödendi</option>
                                            <option value="NO">Ödenmedi</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- /Detaylı -->
                </div>

                <div class="box-footer">
                    <div>
                        <!-- Toplu İşlemler -->
                        <div class="input-group input-group-md pull-left" style="margin-right:10px;">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                Toplu İşlem Seçiniz <span class="fa fa-caret-down"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#" onclick="invoiceTopluArsivIslem(1)"><i class="fa fa-archive"></i> Arşive Kaldır</a></li>
                                <li><a href="#" onclick="invoiceTopluArsivIslem(0)"><i class="fa fa-archive"></i> Arşivden Çıkar</a></li>
                                <li><a href="#" onclick="invoiceTopluOkunduIslem(1)"><i class="fa fa-inbox"></i> Okundu</a></li>
                                <li><a href="#" onclick="invoiceTopluOkunduIslem(0)"><i class="fa fa-address-book"></i> Okunmadı</a></li>
                                <li><a href="#" onclick="invoiceTopluOdendiIslem(1)"><i class="fa fa-money"></i> Ödendi</a></li>
                                <li><a href="#" onclick="invoiceTopluOdendiIslem(0)"><i class="fa fa-money"></i> Ödenmedi</a></li>

                                <li><a href="#" onclick="invoiceSendMailModalCol([],true)"><i class="fa fa-mail-forward"></i> Seçilenleri Mail Gönder</a></li>
                                <li><a href="#" onclick="invoiceExcelAktarModal(false)"><i class="fa fa-file-excel-o"></i> Seçilenleri Excel'e Aktar</a></li>
                                <li><a href="#" onclick="invoiceExcelAktarModal(true)"><i class="fa fa-file-excel-o"></i> Toplu Excel'e Aktar</a></li>
                                <li><a href="#" onclick="sendLucaToplu()"><i class="fa fa-file-excel-o"></i> Toplu Nettecap ile Luca'ya Aktar</a></li>
                                <li><a href="#" onclick="muhasebeyeTopluAktar()"><i class="fa fa-paper-plane"></i> Toplu ERP Muhasebe Fişi Aktar</a></li>
                                <li><a href="#" onclick="getInvoiceTopluPrint()"><i class="fa fa-print"></i> Seçilenleri Yazdır</a></li>
                                <li class="divider"></li>
                                <li><a href="#" onclick="getDownloadFileAll('XML')"><i class="fa fa-download"></i> XML Olarak İndir</a></li>
                                <li><a href="#" onclick="getDownloadFileAll('PDF')"><i class="fa fa-download"></i> PDF Olarak İndir</a></li>
                                <li><a href="#" onclick="getDownloadFileAll('TPDF')"><i class="fa fa-download"></i> Tek PDF Olarak İndir</a></li>
                                <li><a href="#" onclick="getDownloadFileAll('HTML')"><i class="fa fa-download"></i> HTML Olarak İndir</a></li>
                                <li><a href="#" onclick="getDownloadFileAll('JPG')"><i class="fa fa-download"></i> JPG Olarak İndir</a></li>
                            </ul>
                        </div>

                        <!-- Yıl -->
                        <div class="input-group input-group-md pull-left" style="margin-right:10px;">
                            <div class="col-sm-12">
                                <label class="control-label col-sm-3">Yıl</label>
                                <div class="col-sm-9">
                                    <select id="IntegrationYear" class="form-control">
                                        <option>2025</option>
                                        <option>2024</option>
                                        <option>2023</option>
                                        <option>2022</option>
                                        <option>2021</option>
                                        <option>2020</option>
                                        <option>2019</option>
                                        <option>2018</option>
                                        <option>2017</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- Ay -->
                        <div class="input-group input-group-md pull-left" style="margin-right:10px;">
                            <div class="col-sm-12">
                                <label class="control-label col-sm-3">Ay</label>
                                <div class="col-sm-9">
                                    <select id="IntegrationMonth" class="form-control">
                                        <option value="-1">Tümü</option>
                                        <option value="1">Ocak</option>
                                        <option value="2">Şubat</option>
                                        <option value="3">Mart</option>
                                        <option value="4">Nisan</option>
                                        <option value="5">Mayıs</option>
                                        <option value="6">Haziran</option>
                                        <option value="7">Temmuz</option>
                                        <option value="8">Ağustos</option>
                                        <option value="9">Eylül</option>
                                        <option value="10">Ekim</option>
                                        <option value="11">Kasım</option>
                                        <option value="12">Aralık</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- Aksiyon Butonları -->
                        <div class="input-group input-group-md pull-right" style="padding:3px 6px;">
                            <button onclick="gridSearch()" type="button" class="btn btn-success">Arama Yap <i class="glyphicon glyphicon-search"></i></button>
                        </div>
                        <div class="input-group input-group-md pull-right" style="padding:3px 6px;">
                            <button onclick="clearSearchInputs()" type="button" class="btn btn-danger">Temizle <i class="glyphicon glyphicon-remove-circle"></i></button>
                        </div>
                    </div>
                </div>

            </div>

            <!-- GRID -->
            <div class="body-inner">
                <div class="table-vertical">
                    <table id="myDataTable" class="table table-bordered table-hover dataTable dt-head-center" width="100%">
                        <thead>
                            <tr>
                                <th style="width:18px;"><input type="checkbox" id="chkAll" /></th>
                                <th>Fatura No/ETTN</th>
                                <th>Firma Adı</th>
                                <th>Vergi Kimlik No</th>
                                <th>Fatura Tip/Senaryo</th>
                                <th>Fatura Tarihi</th>
                                <th>İşlem Tarihi</th>
                                <th>KDV</th>
                                <th>Ödenecek Tutar</th>
                                <th>Muhasebeleştirme</th>
                                <th>Fatura Durumu</th>
                                <th>İşlemler</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3">Toplam KDV Matrah:<span id="totalKDVTaxableAmount">0,00 TL</span></td>
                                <td colspan="3">Toplam KDV Tutar:<span id="totalKDVAmount">0,00 TL</span></td>
                                <td colspan="4">Toplam Ödenecek Tutar:<span id="totalPayableAmount">0,00 TL</span></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

        </div>
    </div>

    <script>
        // Önce gridSearch / clearSearch stub olsun ki onclick çağrıları patlamasın
        window.gridSearch = window.gridSearch || function () {
            console.warn("gridSearch henüz hazır değil.");
        };
        window.clearSearchInputs = window.clearSearchInputs || function () {
            console.warn("clearSearchInputs henüz hazır değil.");
        };

        (function () {
            "use strict";

            // ---------- Genel küçük helper'lar ----------
            function num(v) {
                v = (v == null ? 0 : v);
                var n = +v;
                return isNaN(n) ? 0 : n;
            }

            function fmtMoney(n, c, d, t) {
                c = isNaN(c = Math.abs(c)) ? 2 : c;
                d = (d === undefined) ? "," : d;
                t = (t === undefined) ? "." : t;
                var s = n < 0 ? "-" : "",
                    i = String(parseInt(Math.abs(Number(n) || 0).toFixed(c))),
                    j = (j = i.length) > 3 ? j % 3 : 0;
                return s +
                    (j ? i.substr(0, j) + t : "") +
                    i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) +
                    (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
            }

            function notifyOk(m) {
                if (window.toastr && toastr.success) toastr.success(m);
                else alert(m);
            }

            function notifyErr(m) {
                if (window.toastr && toastr.error) toastr.error(m);
                else alert(m);
            }

            // datetime-local => "yyyy-MM-dd HH:mm:ss"
            function normalizeHtmlDateTime(v, isEnd) {
                if (!v) return "";
                if (v.indexOf("T") >= 0) {
                    var parts = v.split("T");
                    var date = parts[0];
                    var time = parts[1] || "";
                    if (time.length === 5) { // HH:mm
                        time += ":00";
                    }
                    return date + " " + time;
                }
                return v + (isEnd ? " 23:59:59" : " 00:00:00");
            }

            function getCurrentUserIdForGib($) {
                var userId = 0;

                var $userHidden = $("#hdnUserId");
                if ($userHidden.length) {
                    var parsed = parseInt($userHidden.val(), 10);
                    if (!isNaN(parsed) && parsed > 0) {
                        userId = parsed;
                    }
                }

                if (!userId && typeof window.currentUserId === "number" && window.currentUserId > 0) {
                    userId = window.currentUserId;
                }

                if (!userId && typeof sessionStorage !== "undefined") {
                    try {
                        var stored =
                            sessionStorage.getItem("CurrentUserId") ||
                            sessionStorage.getItem("currentUserId") ||
                            sessionStorage.getItem("UserId");

                        if (stored) {
                            var parsed2 = parseInt(stored, 10);
                            if (!isNaN(parsed2) && parsed2 > 0) {
                                userId = parsed2;
                                console.log("[InboxInvoice] userId sessionStorage'dan okundu:", userId);
                            }
                        }
                    } catch (e) {
                        console.warn("[InboxInvoice] CurrentUserId sessionStorage'dan okunamadı:", e);
                    }
                }

                if (!userId) {
                    throw new Error("Kullanıcı Id (userId) bulunamadı. Lütfen oturumu kontrol edin.");
                }

                return userId;
            }

            // ---------- ASIL INIT FONKSİYONU ----------
            function initInboxInvoice() {
                // jQuery yüklü mü kontrol et
                if (!window.jQuery) {
                    console.error("[InboxInvoice] jQuery (window.jQuery) bulunamadı. Script çalışmayacak.");
                    return;
                }

                var $ = window.jQuery;

                // Yıl/Ay ilk ayar
                function yearChange() {
                    var now = new Date(),
                        selY = +$("#IntegrationYear").val();
                    if (selY === now.getFullYear()) {
                        $("#IntegrationMonth").val(String(now.getMonth() + 1));
                    } else {
                        $("#IntegrationMonth").val("-1");
                    }
                }
                $("#IntegrationYear").on("change", yearChange);
                yearChange();

                // Fatura tarihlerini varsayılan doldur (ayın 1'i - bugün)
                (function initDefaultIssueDates() {
                    var now = new Date();
                    var y = now.getFullYear();
                    var m = ("0" + (now.getMonth() + 1)).slice(-2);
                    var dNow = ("0" + now.getDate()).slice(-2);
                    $("#IssueDateStart").val(y + "-" + m + "-01T00:00");
                    $("#IssueDateStartEnd").val(y + "-" + m + "-" + dNow + "T23:59");
                })();

                // Çoklu VKN/TCKN kutucuğu
                window.vknAyracChk = function () {
                    var multi = $("#TargetIdentifierChk").is(":checked");
                    var $inp = $("#TargetIdentifier");
                    $inp.val("");
                    if (multi) {
                        $inp.attr("maxlength", "400").attr("placeholder", "111...,222...,333...");
                    } else {
                        $inp.attr("maxlength", "11").attr("placeholder", "11 hane");
                    }
                };

                // Detaylı arama ikon toggle
                $("#btnDetayliArama").on("click", function () {
                    var $i = $(this).find(".myCollapseIcon");
                    setTimeout(function () { $i.toggleClass("fa-plus fa-minus"); }, 150);
                });

                // GİB userId
                var gibUserId = 0;
                try {
                    gibUserId = getCurrentUserIdForGib($);
                } catch (e) {
                    console.error(e);
                    gibUserId = 0;
                }

                // Base URL
                var baseUrl = window.gibPortalApiBaseUrl || "/api/";
                if (!baseUrl.endsWith("/")) baseUrl += "/";
                var normBase = baseUrl; // örn: https://localhost:7151/api/

                // API endpoint URL builder
                // GET /api/TurkcellEFatura/einvoice/inbox/list?start=...&end=...&userId=...&pageIndex=1&pageSize=100&isNew=true
                function buildInboxListUrl() {
                    var params = {
                        pageIndex: 1,
                        pageSize: 100,
                        isNew: true
                    };

                    if (gibUserId) {
                        params.userId = gibUserId;
                    }

                    var issueStartRaw = $("#IssueDateStart").val();
                    var issueEndRaw = $("#IssueDateStartEnd").val();
                    var startStr = normalizeHtmlDateTime(issueStartRaw, false);
                    var endStr = normalizeHtmlDateTime(issueEndRaw, true);

                    if (startStr) params.start = startStr;
                    if (endStr) params.end = endStr;

                    var qsParts = [];
                    for (var k in params) {
                        if (!params.hasOwnProperty(k)) continue;
                        var val = params[k];
                        if (val === undefined || val === null || val === "") continue;
                        qsParts.push(encodeURIComponent(k) + "=" + encodeURIComponent(String(val)));
                    }

                    var url = normBase + "TurkcellEFatura/einvoice/inbox/list";
                    if (qsParts.length) {
                        url += "?" + qsParts.join("&");
                    }
                    return url;
                }

                // Gelen items listesini tabloya bas
                function renderTableRows(items) {
                    var $tbody = $("#myDataTable tbody");
                    $tbody.empty();

                    var kdvToplam = 0;
                    var odemeToplam = 0;
                    var matrahToplam = 0; // matrah bilgisi yok

                    (items || []).forEach(function (row) {
                        row = row || {};
                        var key = row.id || row.envelopeId || row.invoiceNumber || "";

                        var no = row.invoiceNumber || "";
                        var ettn = row.envelopeId || row.id || "";
                        var firma = row.targetTitle || "";
                        var vkn = row.targetVknTckn || "";
                        var tip = row.tipType || "";
                        var type = row.type || "";
                        var faturaTip = tip + (type ? " / " + type : "");

                        var faturaTarihi = row.executionDate ? String(row.executionDate).substring(0, 10) : "";
                        var islemTarihi = row.createdDate
                            ? String(row.createdDate).replace("T", " ").substring(0, 16)
                            : "";

                        var total = num(row.totalAmount);
                        var payable = num(row.payableAmount);
                        var kdv = total - payable;
                        if (kdv < 0) kdv = 0;

                        kdvToplam += kdv;
                        odemeToplam += payable;

                        var muhasebe;
                        if (row.isAccount === true || row.isAccount === "YES") muhasebe = "Evet";
                        else if (row.isAccount === false || row.isAccount === "NO") muhasebe = "Hayır";
                        else muhasebe = "-";

                        var durum = (row.status || "");
                        if (row.envelope && row.envelope.status) {
                            durum += (durum ? " / " : "") + row.envelope.status;
                        }

                        var trHtml =
                            "<tr>" +
                            '<td><input type="checkbox" class="rowchk" data-id="' + key + '"></td>' +
                            "<td>" + no + (ettn ? "<br><small>" + ettn + "</small>" : "") + "</td>" +
                            "<td>" + (firma || "") + "</td>" +
                            "<td>" + (vkn || "") + "</td>" +
                            "<td>" + (faturaTip || "") + "</td>" +
                            "<td>" + (faturaTarihi || "") + "</td>" +
                            "<td>" + (islemTarihi || "") + "</td>" +
                            '<td class="text-right">' + fmtMoney(kdv, 2, ",", ".") + "</td>" +
                            '<td class="text-right">' + fmtMoney(payable, 2, ",", ".") + "</td>" +
                            '<td class="text-center">' + muhasebe + "</td>" +
                            '<td class="text-center">' + (durum || "") + "</td>" +
                            '<td class="text-center">' +
                            '<div class="btn-group btn-group-xs">' +
                            '<button type="button" class="btn btn-info" title="Detay" onclick="console.log(\'Detay\', \'' + key + '\')">' +
                            '<i class="fa fa-eye"></i>' +
                            "</button>" +
                            "</div>" +
                            "</td>" +
                            "</tr>";

                        $tbody.append(trHtml);
                    });

                    $("#totalKDVTaxableAmount").text(fmtMoney(matrahToplam, 2, ",", ".") + " TL");
                    $("#totalKDVAmount").text(fmtMoney(kdvToplam, 2, ",", ".") + " TL");
                    $("#totalPayableAmount").text(fmtMoney(odemeToplam, 2, ",", ".") + " TL");

                    $("#chkAll").prop("checked", false);
                }

                // Tümünü seç checkbox
                $("#chkAll").on("change", function () {
                    var c = $(this).is(":checked");
                    $("#myDataTable .rowchk").prop("checked", c);
                });

                // ---- ASIL: Arama Yap butonunun çağırdığı fonksiyon ----
                window.gridSearch = function () {
                    var url = buildInboxListUrl();
                    console.log("[InboxInvoice] İstek:", url);

                    $.ajax({
                        url: url,
                        method: "GET",
                        dataType: "json"
                    })
                        .done(function (json) {
                            var items = (json && json.items) ? json.items : [];
                            if (items && !Array.isArray(items)) {
                                items = [items];
                            }
                            items = items || [];
                            renderTableRows(items);
                        })
                        .fail(function (xhr, status, err) {
                            console.error("Inbox list hatası:", status, err, xhr);
                            notifyErr("Gelen faturalar alınamadı.");
                            renderTableRows([]);
                        });
                };

                window.clearSearchInputs = function () {
                    $("#IsArchive,#ApplicationResponseCode,#ProfileId,#InvoiceTypeCode,#CurrencyCode,#IsCancelled,#IsPrinted,#Status,#IsAccount,#IsPaid,#PostaKutusuEtiketi").val("");
                    $("#DocumentId,#UUID,#TargetIdentifier,#TargetTitle").val("");
                    $("#TargetIdentifierChk").prop("checked", false);
                    window.vknAyracChk();

                    // Fatura tarihlerini reset
                    var now = new Date();
                    var y = now.getFullYear();
                    var m = ("0" + (now.getMonth() + 1)).slice(-2);
                    var dNow = ("0" + now.getDate()).slice(-2);
                    $("#IssueDateStart").val(y + "-" + m + "-01T00:00");
                    $("#IssueDateStartEnd").val(y + "-" + m + "-" + dNow + "T23:59");

                    $("#CreatedDateStart,#CreatedDateEnd").val("");
                    $("#IntegrationMonth").val("-1");
                    yearChange();

                    gridSearch();
                };

                // Enter ile arama
                $("#btnAramaYapEnter").on("keypress", "input", function (e) {
                    if (e.which === 13) {
                        e.preventDefault();
                        gridSearch();
                    }
                });

                // Seçilen satır anahtarları
                function getSelectedUUIDs() {
                    var ids = [];
                    $("#myDataTable .rowchk:checked").each(function () {
                        ids.push($(this).data("id"));
                    });
                    return ids;
                }

                // Toplu işlem stub'ları (onclick'ler boşa düşmesin diye)
                window.invoiceTopluArsivIslem = function (val) {
                    var uuids = getSelectedUUIDs();
                    if (!uuids.length) return notifyErr("Lütfen en az bir kayıt seçin.");
                    console.log("Toplu Arşiv (stub):", val, uuids);
                };

                window.invoiceTopluOkunduIslem = function (val) {
                    var uuids = getSelectedUUIDs();
                    if (!uuids.length) return notifyErr("Lütfen en az bir kayıt seçin.");
                    console.log("Toplu Okundu (stub):", val, uuids);
                };

                window.invoiceTopluOdendiIslem = function (val) {
                    var uuids = getSelectedUUIDs();
                    if (!uuids.length) return notifyErr("Lütfen en az bir kayıt seçin.");
                    console.log("Toplu Ödendi (stub):", val, uuids);
                };

                window.invoicePreview = function (uuid) {
                    console.log("Önizleme (stub):", uuid);
                };

                window.getInvoiceTopluPrint = function () {
                    var uuids = getSelectedUUIDs();
                    if (!uuids.length) return notifyErr("Lütfen en az bir kayıt seçin.");
                    console.log("Toplu Yazdır (stub):", uuids);
                };

                window.getDownloadFileAll = function (type) {
                    var uuids = getSelectedUUIDs();
                    if (!uuids.length) return notifyErr("Lütfen en az bir kayıt seçin.");
                    console.log("Toplu Download (stub):", type, uuids);
                };

                window.invoiceSendMailModalCol = function (uuids, fromBulk) {
                    if (fromBulk) {
                        uuids = getSelectedUUIDs();
                        if (!uuids.length) return notifyErr("Lütfen en az bir kayıt seçin.");
                    }
                    console.log("Mail Modal (stub):", uuids);
                };

                window.invoiceExcelAktarModal = function (all) {
                    console.log("Excel Aktar (stub):", all);
                };

                window.sendLucaToplu = function () {
                    var uuids = getSelectedUUIDs();
                    if (!uuids.length) return notifyErr("Lütfen en az bir kayıt seçin.");
                    console.log("Luca Toplu (stub):", uuids);
                };

                window.muhasebeyeTopluAktar = function () {
                    console.log("Muhasebeye Toplu Aktar (stub)");
                };

                window.openGibCancel = function (docNo, uuid) {
                    console.log("GİB Cancel (stub):", docNo, uuid);
                };

                window.invoiceCancelGibSend = function (val, uuid) {
                    console.log("GİB Cancel Gönder (stub):", val, uuid);
                };

                window.openCevaplaModal = function (uuid) {
                    console.log("Cevapla Modal (stub):", uuid);
                };

                window.sendApplicationResponse = function () {
                    console.log("Uygulama Yanıtı Gönder (stub)");
                };

                window.sendInvoiceDogrudanIade = function () {
                    console.log("Doğrudan İade (stub)");
                };

                // Sayfa açılınca ilk liste
                window.gridSearch();
            }

            // ---------- jQuery + DOM hazır olunca initInboxInvoice çağır ----------
            function onReady() {
                try {
                    initInboxInvoice();
                } catch (e) {
                    console.error("[InboxInvoice] initInboxInvoice hata:", e);
                }
            }

            if (document.readyState === "loading") {
                document.addEventListener("DOMContentLoaded", onReady);
            } else {
                onReady();
            }
        })();
    </script>


</section>
