@{
    ViewData["Title"] = "Gelen Faturalar";
    ViewData["Subtitle"] = "e-Fatura Gelen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <style>
        .box {
            border: 1px solid #ddd;
            margin-bottom: 15px
        }

        .box-header {
            padding: 10px 15px;
            border-bottom: 1px solid #eee;
            background: #fafafa
        }

        .box-body {
            padding: 15px
        }

        .dt-head-center thead th {
            text-align: center
        }

        .inputPadding {
            padding-left: 0
        }

        .myCollapseIcon {
            transition: transform .2s
        }

        .rotate-45 {
            transform: rotate(45deg)
        }

        tfoot td span {
            font-weight: 700;
            margin-left: 6px
        }

        .dataTables_wrapper .dataTables_filter input {
            min-width: 220px
        }

        .select2-container--default .select2-selection--single,
        .select2-container--default .select2-selection--multiple {
            border: 1px solid #ccc;
            min-height: 34px
        }
    </style>

    <div class="panel panel-sky">
        <div class="panel-body" style="overflow:auto;">

            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Gelen Fatura Arama Seçenekleri</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool box-title" style="color:black;"
                                data-toggle="collapse" href=".myCollapseExample" id="btnDetayliArama">
                            Detaylı Arama <i class="fa fa-plus myCollapseIcon"></i>
                        </button>
                    </div>
                </div>

                <div class="box-body" id="btnAramaYapEnter">
                    <div class="row">
                        <!-- Sütun 1 -->
                        <div class="col-md-3">
                            <div class="form-horizontal row">
                                <label class="control-label col-sm-6">Arşiv</label>
                                <div class="col-sm-6 inputPadding">
                                    <select id="IsArchive" class="form-control">
                                        <option value="">Tümü</option>
                                        <option value="True">Arşivlenenler</option>
                                        <option value="False" selected>Arşivlenmeyenler</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-horizontal row">
                                <label class="control-label col-sm-6">Fatura Tarihi (Başlangıç)</label>
                                <div class="col-sm-6 inputPadding">
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                        <!-- TEXT + datepicker yerine datetime-local -->
                                        <input id="IssueDateStart" type="datetime-local" class="form-control" autocomplete="off">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Sütun 2 -->
                        <div class="col-md-3">
                            <div class="form-horizontal row">
                                <label class="control-label col-sm-6">Cevap Durumu</label>
                                <div class="col-sm-6 inputPadding">
                                    <select id="ApplicationResponseCode" class="form-control">
                                        <option value="">Tümü</option>
                                        <option value="CEVAPVERILMEDI">Cevap Verilmedi</option>
                                        <option value="KABUL">Kabul</option>
                                        <option value="RED">Red</option>
                                        <option value="GECERSIZCEVAP">Geçersiz Cevap</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-horizontal row">
                                <label class="control-label col-sm-6">Fatura Tarihi (Bitiş)</label>
                                <div class="col-sm-6 inputPadding">
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                        <!-- TEXT + datepicker yerine datetime-local -->
                                        <input id="IssueDateStartEnd" type="datetime-local" class="form-control" autocomplete="off">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Sütun 3 -->
                        <div class="col-md-3">
                            <div class="form-horizontal row">
                                <label class="control-label col-sm-6">Fatura No</label>
                                <div class="col-sm-6 inputPadding">
                                    <input id="DocumentId" type="text" class="form-control" autocomplete="off">
                                </div>
                            </div>
                            <div class="form-horizontal row">
                                <label class="control-label col-sm-6">Fatura ETTN</label>
                                <div class="col-sm-6 inputPadding">
                                    <input id="UUID" type="text" class="form-control" autocomplete="off" maxlength="36">
                                </div>
                            </div>
                        </div>
                        <!-- Sütun 4 -->
                        <div class="col-md-3">
                            <div class="form-horizontal row">
                                <label class="control-label col-sm-6">
                                    Gönderici VKN/TCKN
                                    <input id="TargetIdentifierChk" type="checkbox" onclick="vknAyracChk()" title="Virgül ile çoklu VKN/TCKN" style="margin-left:6px">
                                </label>
                                <div class="col-sm-6 inputPadding">
                                    <input id="TargetIdentifier" type="text" maxlength="11" class="form-control" autocomplete="off" placeholder="11 hane">
                                </div>
                            </div>
                            <div class="form-horizontal row">
                                <label class="control-label col-sm-6">Gönderici Unvan</label>
                                <div class="col-sm-6 inputPadding">
                                    <input id="TargetTitle" type="text" class="form-control" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Detaylı Arama -->
                    <div class="collapse myCollapseExample">
                        <div class="row">
                            <!-- Col 1 -->
                            <div class="col-md-3">
                                <div class="form-horizontal row">
                                    <label class="control-label col-sm-6">İşlem Tarihi (Başlangıç)</label>
                                    <div class="col-sm-6 inputPadding">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                            <input id="CreatedDateStart" type="text" class="form-control datepicker" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-horizontal row">
                                    <label class="control-label col-sm-6">Senaryo Türü</label>
                                    <div class="col-sm-6 inputPadding">
                                        <select id="ProfileId" class="form-control">
                                            <option value="">Seçiniz</option>
                                            <option value="TEMELFATURA">Temel Fatura</option>
                                            <option value="TICARIFATURA">Ticari Fatura</option>
                                            <option value="IHRACAT">İhracat Fatura</option>
                                            <option value="YOLCUBERABERFATURA">Yolcu Beraber Fatura</option>
                                            <option value="HKS">Hal Tipi Fatura</option>
                                            <option value="KAMU">Kamu Tipi Fatura</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-horizontal row">
                                    <label class="control-label col-sm-6">İptal İşareti</label>
                                    <div class="col-sm-6 inputPadding">
                                        <select id="IsCancelled" class="form-control">
                                            <option value="">Seçiniz</option>
                                            <option value="YES">İptal Edildi</option>
                                            <option value="NO">İptal Edilmedi</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- Col 2 -->
                            <div class="col-md-3">
                                <div class="form-horizontal row">
                                    <label class="control-label col-sm-6">İşlem Tarihi (Bitiş)</label>
                                    <div class="col-sm-6 inputPadding">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                            <input id="CreatedDateEnd" type="text" class="form-control datepicker" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-horizontal row">
                                    <label class="control-label col-sm-6">Fatura Türü</label>
                                    <div class="col-sm-6 inputPadding">
                                        <select id="InvoiceTypeCode" class="form-control">
                                            <option value="">Seçiniz</option>
                                            <option value="SATIS">Satış</option>
                                            <option value="IADE">İade</option>
                                            <option value="ISTISNA">İstisna</option>
                                            <option value="TEVKIFAT">Tevkifat</option>
                                            <option value="SGK">SGK</option>
                                            <option value="OZELMATRAH">Özel Matrah</option>
                                            <option value="IHRACKAYITLI">İhraç Kayıtlı</option>
                                            <option value="KOMISYONCU">Komisyoncu</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-horizontal row">
                                    <label class="control-label col-sm-6">Para Birimi</label>
                                    <div class="col-sm-6 inputPadding">
                                        <select id="CurrencyCode" class="form-control">
                                            <option value="">Seçiniz</option>
                                            <option value="TRY">Türk Lirası</option>
                                            <option value="USD">Dolar</option>
                                            <option value="EUR">Euro</option>
                                            <option value="GBP">İngiliz Sterlini</option>
                                            <option value="CHF">İsviçre Frangı</option>
                                            <option value="CAD">Kanada Doları</option>
                                            <option value="DKK">Danimarka Kronu</option>
                                            <option value="SEK">İsveç Kronu</option>
                                            <option value="NOK">Norveç Kronu</option>
                                            <option value="JPY">Japon Yeni</option>
                                            <option value="AED">BAE Dirhemi</option>
                                            <option value="AUD">Avustralya Doları</option>
                                            <option value="RUB">Rus Rublesi</option>
                                            <option value="KWD">Kuveyt Dinarı</option>
                                            <option value="ZAR">Güney Afrika Parası</option>
                                            <option value="BHD">Bahreyn Dinarı</option>
                                            <option value="LYD">Libya Dinarı</option>
                                            <option value="SAR">Suudi Arabistan Riyali</option>
                                            <option value="IQD">Irak Dinarı</option>
                                            <option value="ILS">Yeni İsrail Şekeli</option>
                                            <option value="IRR">İran Riyali</option>
                                            <option value="INR">Hindistan Rupisi</option>
                                            <option value="MXN">Meksika Pezosu</option>
                                            <option value="HUF">Forint</option>
                                            <option value="NZD">Yeni Zelanda Doları</option>
                                            <option value="BRL">Brezilya Reali</option>
                                            <option value="IDR">Rupiah</option>
                                            <option value="PLN">Polonya Zlotisi</option>
                                            <option value="BGN">Bulgar Levası</option>
                                            <option value="CNY">Yuan</option>
                                            <option value="ARS">Arjantin Pezosu</option>
                                            <option value="ALL">Arnavutluk Leki</option>
                                            <option value="AZN">Azerbaycan Manatı</option>
                                            <option value="CLP">Şili Pezosu</option>
                                            <option value="EGP">Mısır Lirası</option>
                                            <option value="HKD">Hong Kong Doları</option>
                                            <option value="KRW">Won</option>
                                            <option value="KZT">Kazakistan Tengesi</option>
                                            <option value="LBP">Lübnan Lirası</option>
                                            <option value="LKR">Sri Lanka Rupisi</option>
                                            <option value="MAD">Fas Dirhemi</option>
                                            <option value="MYR">Malezya Ringiti</option>
                                            <option value="OMR">Umman Riyali</option>
                                            <option value="PEN">Nuevo Sol</option>
                                            <option value="PHP">Filipin Pezosu</option>
                                            <option value="PKR">Pakistan Rupisi</option>
                                            <option value="QAR">Katar Riyali</option>
                                            <option value="RSD">Sırp Dinarı</option>
                                            <option value="SGD">Singapur Doları</option>
                                            <option value="THB">Tayland Bahtı</option>
                                            <option value="TWD">Yeni Tayvan Doları</option>
                                            <option value="UAH">Hryvnia</option>
                                            <option value="UYU">Uruguay Pesosu</option>
                                            <option value="XAU_22C">22 Ayar Çeyrek</option>
                                            <option value="XAU_22Y">22 Ayar Yarım</option>
                                            <option value="XAU_22T">22 Ayar Tam</option>
                                            <option value="XAU_22I">22 Ayar İkibuçuk</option>
                                            <option value="XAU_22B">22 Ayar Beşlik</option>
                                            <option value="XAU_24G">24 Ayar Gram</option>
                                            <option value="XAU_24G_1000">Külçe Altın</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- Col 3 -->
                            <div class="col-md-3">
                                <div class="form-horizontal row">
                                    <label class="control-label col-sm-6">Ödenecek Tutar</label>
                                    <div class="col-sm-6 inputPadding">
                                        <input id="PayableAmount" type="number" class="form-control" step="0.01" min="0" placeholder=">=">
                                    </div>
                                </div>
                                <div class="form-horizontal row">
                                    <label class="control-label col-sm-6">Yazdırılma</label>
                                    <div class="col-sm-6 inputPadding">
                                        <select id="IsPrinted" class="form-control">
                                            <option value="">Seçiniz</option>
                                            <option value="YES">Yazdırıldı</option>
                                            <option value="NO">Yazdırılmadı</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-horizontal row">
                                    <label class="control-label col-sm-6">GİB Durumu</label>
                                    <div class="col-sm-6 inputPadding">
                                        <select id="Status" class="form-control">
                                            <option value="">Seçiniz</option>
                                            <option value="Hata">Hatalı</option>
                                            <option value="Hatasiz">Hatasız</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- Col 4 -->
                            <div class="col-md-3">
                                <div class="form-horizontal row">
                                    <label class="control-label col-sm-6">Posta Kutusu Etiketi</label>
                                    <div class="col-sm-6 inputPadding">
                                        <select id="PostaKutusuEtiketi" class="form-control">
                                            <option value="">Seçiniz</option>
                                            <option value="urn:mail:defaultpk@icloud.com">urn:mail:defaultpk@icloud.com</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-horizontal row">
                                    <label class="control-label col-sm-6">Muhasebeleştirme</label>
                                    <div class="col-sm-6 inputPadding">
                                        <select id="IsAccount" class="form-control">
                                            <option value="">Seçiniz</option>
                                            <option value="YES">Muhasebeleştirildi</option>
                                            <option value="NO">Muhasebeleştirilmedi</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-horizontal row">
                                    <label class="control-label col-sm-6">Ödendi</label>
                                    <div class="col-sm-6 inputPadding">
                                        <select id="IsPaid" class="form-control">
                                            <option value="">Seçiniz</option>
                                            <option value="YES">Ödendi</option>
                                            <option value="NO">Ödenmedi</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- /Detaylı -->
                </div>

                <div class="box-footer">
                    <div>
                        <!-- Toplu İşlemler -->
                        <div class="input-group input-group-md pull-left" style="margin-right:10px;">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                Toplu İşlem Seçiniz <span class="fa fa-caret-down"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#" onclick="invoiceTopluArsivIslem(1)"><i class="fa fa-archive"></i> Arşive Kaldır</a></li>
                                <li><a href="#" onclick="invoiceTopluArsivIslem(0)"><i class="fa fa-archive"></i> Arşivden Çıkar</a></li>
                                <li><a href="#" onclick="invoiceTopluOkunduIslem(1)"><i class="fa fa-inbox"></i> Okundu</a></li>
                                <li><a href="#" onclick="invoiceTopluOkunduIslem(0)"><i class="fa fa-address-book"></i> Okunmadı</a></li>
                                <li><a href="#" onclick="invoiceTopluOdendiIslem(1)"><i class="fa fa-money"></i> Ödendi</a></li>
                                <li><a href="#" onclick="invoiceTopluOdendiIslem(0)"><i class="fa fa-money"></i> Ödenmedi</a></li>

                                <li><a href="#" onclick="invoiceSendMailModalCol([],true)"><i class="fa fa-mail-forward"></i> Seçilenleri Mail Gönder</a></li>
                                <li><a href="#" onclick="invoiceExcelAktarModal(false)"><i class="fa fa-file-excel-o"></i> Seçilenleri Excel'e Aktar</a></li>
                                <li><a href="#" onclick="invoiceExcelAktarModal(true)"><i class="fa fa-file-excel-o"></i> Toplu Excel'e Aktar</a></li>
                                <li><a href="#" onclick="sendLucaToplu()"><i class="fa fa-file-excel-o"></i> Toplu Nettecap ile Luca'ya Aktar</a></li>
                                <li><a href="#" onclick="muhasebeyeTopluAktar()"><i class="fa fa-paper-plane"></i> Toplu ERP Muhasebe Fişi Aktar</a></li>
                                <li><a href="#" onclick="getInvoiceTopluPrint()"><i class="fa fa-print"></i> Seçilenleri Yazdır</a></li>
                                <li class="divider"></li>
                                <li><a href="#" onclick="getDownloadFileAll('XML')"><i class="fa fa-download"></i> XML Olarak İndir</a></li>
                                <li><a href="#" onclick="getDownloadFileAll('PDF')"><i class="fa fa-download"></i> PDF Olarak İndir</a></li>
                                <li><a href="#" onclick="getDownloadFileAll('TPDF')"><i class="fa fa-download"></i> Tek PDF Olarak İndir</a></li>
                                <li><a href="#" onclick="getDownloadFileAll('HTML')"><i class="fa fa-download"></i> HTML Olarak İndir</a></li>
                                <li><a href="#" onclick="getDownloadFileAll('JPG')"><i class="fa fa-download"></i> JPG Olarak İndir</a></li>
                            </ul>
                        </div>

                        <!-- Yıl -->
                        <div class="input-group input-group-md pull-left" style="margin-right:10px;">
                            <div class="col-sm-12">
                                <label class="control-label col-sm-3">Yıl</label>
                                <div class="col-sm-9">
                                    <select id="IntegrationYear" class="form-control">
                                        <option>2025</option>
                                        <option>2024</option>
                                        <option>2023</option>
                                        <option>2022</option>
                                        <option>2021</option>
                                        <option>2020</option>
                                        <option>2019</option>
                                        <option>2018</option>
                                        <option>2017</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- Ay -->
                        <div class="input-group input-group-md pull-left" style="margin-right:10px;">
                            <div class="col-sm-12">
                                <label class="control-label col-sm-3">Ay</label>
                                <div class="col-sm-9">
                                    <select id="IntegrationMonth" class="form-control">
                                        <option value="-1">Tümü</option>
                                        <option value="1">Ocak</option>
                                        <option value="2">Şubat</option>
                                        <option value="3">Mart</option>
                                        <option value="4">Nisan</option>
                                        <option value="5">Mayıs</option>
                                        <option value="6">Haziran</option>
                                        <option value="7">Temmuz</option>
                                        <option value="8">Ağustos</option>
                                        <option value="9">Eylül</option>
                                        <option value="10">Ekim</option>
                                        <option value="11">Kasım</option>
                                        <option value="12">Aralık</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- Aksiyon Butonları -->
                        <div class="input-group input-group-md pull-right" style="padding:3px 6px;">
                            <button onclick="gridSearch()" type="button" class="btn btn-success">Arama Yap <i class="glyphicon glyphicon-search"></i></button>
                        </div>
                        <div class="input-group input-group-md pull-right" style="padding:3px 6px;">
                            <button onclick="clearSearchInputs()" type="button" class="btn btn-danger">Temizle <i class="glyphicon glyphicon-remove-circle"></i></button>
                        </div>
                    </div>
                </div>

            </div>

            <!-- GRID -->
            <div class="body-inner">
                <div class="table-vertical">
                    <table id="myDataTable" class="table table-bordered table-hover dataTable dt-head-center" width="100%">
                        <thead>
                            <tr>
                                <th style="width:18px;"><input type="checkbox" id="chkAll" /></th>
                                <th>Fatura No/ETTN</th>
                                <th>Firma Adı</th>
                                <th>Vergi Kimlik No</th>
                                <th>Fatura Tip/Senaryo</th>
                                <th>Fatura Tarihi</th>
                                <th>İşlem Tarihi</th>
                                <th>KDV</th>
                                <th>Ödenecek Tutar</th>
                                <th>Muhasebeleştirme</th>
                                <th>Fatura Durumu</th>
                                <th>İşlemler</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3">Toplam KDV Matrah:<span id="totalKDVTaxableAmount">0,00 TL</span></td>
                                <td colspan="3">Toplam KDV Tutar:<span id="totalKDVAmount">0,00 TL</span></td>
                                <td colspan="4">Toplam Ödenecek Tutar:<span id="totalPayableAmount">0,00 TL</span></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <!-- ====== Önizleme (PDF) Modal ====== -->
    <div class="modal fade" id="invoicePreviewModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xl" role="document" style="max-width:95%">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <h4 class="modal-title">Fatura Önizleme</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body" style="height:80vh;">
                    <iframe id="invoicePreviewFrame" style="width:100%;height:100%;border:0;"></iframe>
                </div>
            </div>
        </div>
    </div>

    <!-- ====== Kabul / Red Modal ====== -->
    <div class="modal fade" id="responseModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document" style="max-width:720px;">
            <div class="modal-content">
                <div class="modal-header bg-success">
                    <h4 class="modal-title">Uygulama Yanıtı (Kabul / Red)</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <input type="hidden" id="respUuid" />
                    <div class="form-group">
                        <label>Fatura No</label>
                        <div><b id="respInvoiceNo"></b></div>
                    </div>

                    <div class="form-group">
                        <label>Yanıt</label>
                        <select id="ddlResponseCode" class="form-control">
                            <option value="KABUL">KABUL</option>
                            <option value="RED">RED</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Not (opsiyonel)</label>
                        <textarea id="txtResponseNote" class="form-control" rows="4" placeholder="Açıklama / Red gerekçesi..."></textarea>
                    </div>
                </div>

                <div class="modal-footer">
                    <button id="btnSendResponse" class="btn btn-success">Gönder</button>
                    <button class="btn btn-default" data-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script type="module" src="~/apps/InboxInvoice.js"></script>
}