@{
    ViewData["Title"] = "Gelen Faturalar";
    ViewData["Subtitle"] = "e-Fatura Gelen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <style>
        .box {
            border: 1px solid #ddd;
            margin-bottom: 15px
        }

        .box-header {
            padding: 10px 15px;
            border-bottom: 1px solid #eee;
            background: #fafafa
        }

        .box-body {
            padding: 15px
        }

        .dt-head-center thead th {
            text-align: center
        }

        .inputPadding {
            padding-left: 0
        }

        .myCollapseIcon {
            transition: transform .2s
        }

        .rotate-45 {
            transform: rotate(45deg)
        }

        tfoot td span {
            font-weight: 700;
            margin-left: 6px
        }

        .dataTables_wrapper .dataTables_filter input {
            min-width: 220px
        }

        .select2-container--default .select2-selection--single,
        .select2-container--default .select2-selection--multiple {
            border: 1px solid #ccc;
            min-height: 34px
        }
    </style>

    <div class="panel panel-sky">
        <div class="panel-body" style="overflow:auto;">

            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Gelen Fatura Arama Seçenekleri</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool box-title" style="color:black;"
                                data-toggle="collapse" href=".myCollapseExample" id="btnDetayliArama">
                            Detaylı Arama <i class="fa fa-plus myCollapseIcon"></i>
                        </button>
                    </div>
                </div>

                <div class="box-body" id="btnAramaYapEnter">
                    <div class="row">
                        <!-- Sütun 1 -->
                        <div class="col-md-3">
                            <div class="form-horizontal row">
                                <label class="control-label col-sm-6">Arşiv</label>
                                <div class="col-sm-6 inputPadding">
                                    <select id="IsArchive" class="form-control">
                                        <option value="">Tümü</option>
                                        <option value="True">Arşivlenenler</option>
                                        <option value="False" selected>Arşivlenmeyenler</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-horizontal row">
                                <label class="control-label col-sm-6">Fatura Tarihi (Başlangıç)</label>
                                <div class="col-sm-6 inputPadding">
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                        <input id="IssueDateStart" type="text" class="form-control datepicker" autocomplete="off">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Sütun 2 -->
                        <div class="col-md-3">
                            <div class="form-horizontal row">
                                <label class="control-label col-sm-6">Cevap Durumu</label>
                                <div class="col-sm-6 inputPadding">
                                    <select id="ApplicationResponseCode" class="form-control">
                                        <option value="">Tümü</option>
                                        <option value="CEVAPVERILMEDI">Cevap Verilmedi</option>
                                        <option value="KABUL">Kabul</option>
                                        <option value="RED">Red</option>
                                        <option value="GECERSIZCEVAP">Geçersiz Cevap</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-horizontal row">
                                <label class="control-label col-sm-6">Fatura Tarihi (Bitiş)</label>
                                <div class="col-sm-6 inputPadding">
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                        <input id="IssueDateStartEnd" type="text" class="form-control datepicker" autocomplete="off">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Sütun 3 -->
                        <div class="col-md-3">
                            <div class="form-horizontal row">
                                <label class="control-label col-sm-6">Fatura No</label>
                                <div class="col-sm-6 inputPadding">
                                    <input id="DocumentId" type="text" class="form-control" autocomplete="off">
                                </div>
                            </div>
                            <div class="form-horizontal row">
                                <label class="control-label col-sm-6">Fatura ETTN</label>
                                <div class="col-sm-6 inputPadding">
                                    <input id="UUID" type="text" class="form-control" autocomplete="off" maxlength="36">
                                </div>
                            </div>
                        </div>
                        <!-- Sütun 4 -->
                        <div class="col-md-3">
                            <div class="form-horizontal row">
                                <label class="control-label col-sm-6">
                                    Gönderici VKN/TCKN
                                    <input id="TargetIdentifierChk" type="checkbox" onclick="vknAyracChk()" title="Virgül ile çoklu VKN/TCKN" style="margin-left:6px">
                                </label>
                                <div class="col-sm-6 inputPadding">
                                    <input id="TargetIdentifier" type="text" maxlength="11" class="form-control" autocomplete="off" placeholder="11 hane">
                                </div>
                            </div>
                            <div class="form-horizontal row">
                                <label class="control-label col-sm-6">Gönderici Unvan</label>
                                <div class="col-sm-6 inputPadding">
                                    <input id="TargetTitle" type="text" class="form-control" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Detaylı Arama -->
                    <div class="collapse myCollapseExample">
                        <div class="row">
                            <!-- Col 1 -->
                            <div class="col-md-3">
                                <div class="form-horizontal row">
                                    <label class="control-label col-sm-6">İşlem Tarihi (Başlangıç)</label>
                                    <div class="col-sm-6 inputPadding">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                            <input id="CreatedDateStart" type="text" class="form-control datepicker" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-horizontal row">
                                    <label class="control-label col-sm-6">Senaryo Türü</label>
                                    <div class="col-sm-6 inputPadding">
                                        <select id="ProfileId" class="form-control">
                                            <option value="">Seçiniz</option>
                                            <option value="TEMELFATURA">Temel Fatura</option>
                                            <option value="TICARIFATURA">Ticari Fatura</option>
                                            <option value="IHRACAT">İhracat Fatura</option>
                                            <option value="YOLCUBERABERFATURA">Yolcu Beraber Fatura</option>
                                            <option value="HKS">Hal Tipi Fatura</option>
                                            <option value="KAMU">Kamu Tipi Fatura</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-horizontal row">
                                    <label class="control-label col-sm-6">İptal İşareti</label>
                                    <div class="col-sm-6 inputPadding">
                                        <select id="IsCancelled" class="form-control">
                                            <option value="">Seçiniz</option>
                                            <option value="YES">İptal Edildi</option>
                                            <option value="NO">İptal Edilmedi</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- Col 2 -->
                            <div class="col-md-3">
                                <div class="form-horizontal row">
                                    <label class="control-label col-sm-6">İşlem Tarihi (Bitiş)</label>
                                    <div class="col-sm-6 inputPadding">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                            <input id="CreatedDateEnd" type="text" class="form-control datepicker" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-horizontal row">
                                    <label class="control-label col-sm-6">Fatura Türü</label>
                                    <div class="col-sm-6 inputPadding">
                                        <select id="InvoiceTypeCode" class="form-control">
                                            <option value="">Seçiniz</option>
                                            <option value="SATIS">Satış</option>
                                            <option value="IADE">İade</option>
                                            <option value="ISTISNA">İstisna</option>
                                            <option value="TEVKIFAT">Tevkifat</option>
                                            <option value="SGK">SGK</option>
                                            <option value="OZELMATRAH">Özel Matrah</option>
                                            <option value="IHRACKAYITLI">İhraç Kayıtlı</option>
                                            <option value="KOMISYONCU">Komisyoncu</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-horizontal row">
                                    <label class="control-label col-sm-6">Para Birimi</label>
                                    <div class="col-sm-6 inputPadding">
                                        <select id="CurrencyCode" class="form-control">
                                            <option value="">Seçiniz</option>
                                            <option value="TRY">Türk Lirası</option>
                                            <option value="USD">Dolar</option>
                                            <option value="EUR">Euro</option>
                                            <option value="GBP">İngiliz Sterlini</option>
                                            <option value="CHF">İsviçre Frangı</option>
                                            <option value="CAD">Kanada Doları</option>
                                            <option value="DKK">Danimarka Kronu</option>
                                            <option value="SEK">İsveç Kronu</option>
                                            <option value="NOK">Norveç Kronu</option>
                                            <option value="JPY">Japon Yeni</option>
                                            <option value="AED">BAE Dirhemi</option>
                                            <option value="AUD">Avustralya Doları</option>
                                            <option value="RUB">Rus Rublesi</option>
                                            <option value="KWD">Kuveyt Dinarı</option>
                                            <option value="ZAR">Güney Afrika Parası</option>
                                            <option value="BHD">Bahreyn Dinarı</option>
                                            <option value="LYD">Libya Dinarı</option>
                                            <option value="SAR">Suudi Arabistan Riyali</option>
                                            <option value="IQD">Irak Dinarı</option>
                                            <option value="ILS">Yeni İsrail Şekeli</option>
                                            <option value="IRR">İran Riyali</option>
                                            <option value="INR">Hindistan Rupisi</option>
                                            <option value="MXN">Meksika Pezosu</option>
                                            <option value="HUF">Forint</option>
                                            <option value="NZD">Yeni Zelanda Doları</option>
                                            <option value="BRL">Brezilya Reali</option>
                                            <option value="IDR">Rupiah</option>
                                            <option value="PLN">Polonya Zlotisi</option>
                                            <option value="BGN">Bulgar Levası</option>
                                            <option value="CNY">Yuan</option>
                                            <option value="ARS">Arjantin Pezosu</option>
                                            <option value="ALL">Arnavutluk Leki</option>
                                            <option value="AZN">Azerbaycan Manatı</option>
                                            <option value="CLP">Şili Pezosu</option>
                                            <option value="EGP">Mısır Lirası</option>
                                            <option value="HKD">Hong Kong Doları</option>
                                            <option value="KRW">Won</option>
                                            <option value="KZT">Kazakistan Tengesi</option>
                                            <option value="LBP">Lübnan Lirası</option>
                                            <option value="LKR">Sri Lanka Rupisi</option>
                                            <option value="MAD">Fas Dirhemi</option>
                                            <option value="MYR">Malezya Ringiti</option>
                                            <option value="OMR">Umman Riyali</option>
                                            <option value="PEN">Nuevo Sol</option>
                                            <option value="PHP">Filipin Pezosu</option>
                                            <option value="PKR">Pakistan Rupisi</option>
                                            <option value="QAR">Katar Riyali</option>
                                            <option value="RSD">Sırp Dinarı</option>
                                            <option value="SGD">Singapur Doları</option>
                                            <option value="THB">Tayland Bahtı</option>
                                            <option value="TWD">Yeni Tayvan Doları</option>
                                            <option value="UAH">Hryvnia</option>
                                            <option value="UYU">Uruguay Pesosu</option>
                                            <option value="XAU_22C">22 Ayar Çeyrek</option>
                                            <option value="XAU_22Y">22 Ayar Yarım</option>
                                            <option value="XAU_22T">22 Ayar Tam</option>
                                            <option value="XAU_22I">22 Ayar İkibuçuk</option>
                                            <option value="XAU_22B">22 Ayar Beşlik</option>
                                            <option value="XAU_24G">24 Ayar Gram</option>
                                            <option value="XAU_24G_1000">Külçe Altın</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- Col 3 -->
                            <div class="col-md-3">
                                <div class="form-horizontal row">
                                    <label class="control-label col-sm-6">Ödenecek Tutar</label>
                                    <div class="col-sm-6 inputPadding">
                                        <input id="PayableAmount" type="number" class="form-control" step="0.01" min="0" placeholder=">=">
                                    </div>
                                </div>
                                <div class="form-horizontal row">
                                    <label class="control-label col-sm-6">Yazdırılma</label>
                                    <div class="col-sm-6 inputPadding">
                                        <select id="IsPrinted" class="form-control">
                                            <option value="">Seçiniz</option>
                                            <option value="YES">Yazdırıldı</option>
                                            <option value="NO">Yazdırılmadı</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-horizontal row">
                                    <label class="control-label col-sm-6">GİB Durumu</label>
                                    <div class="col-sm-6 inputPadding">
                                        <select id="Status" class="form-control">
                                            <option value="">Seçiniz</option>
                                            <option value="Hata">Hatalı</option>
                                            <option value="Hatasiz">Hatasız</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- Col 4 -->
                            <div class="col-md-3">
                                <div class="form-horizontal row">
                                    <label class="control-label col-sm-6">Posta Kutusu Etiketi</label>
                                    <div class="col-sm-6 inputPadding">
                                        <select id="PostaKutusuEtiketi" class="form-control">
                                            <option value="">Seçiniz</option>
                                            <option value="urn:mail:defaultpk@icloud.com">urn:mail:defaultpk@icloud.com</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-horizontal row">
                                    <label class="control-label col-sm-6">Muhasebeleştirme</label>
                                    <div class="col-sm-6 inputPadding">
                                        <select id="IsAccount" class="form-control">
                                            <option value="">Seçiniz</option>
                                            <option value="YES">Muhasebeleştirildi</option>
                                            <option value="NO">Muhasebeleştirilmedi</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-horizontal row">
                                    <label class="control-label col-sm-6">Ödendi</label>
                                    <div class="col-sm-6 inputPadding">
                                        <select id="IsPaid" class="form-control">
                                            <option value="">Seçiniz</option>
                                            <option value="YES">Ödendi</option>
                                            <option value="NO">Ödenmedi</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- /Detaylı -->
                </div>

                <div class="box-footer">
                    <div>
                        <!-- Toplu İşlemler -->
                        <div class="input-group input-group-md pull-left" style="margin-right:10px;">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                Toplu İşlem Seçiniz <span class="fa fa-caret-down"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#" onclick="invoiceTopluArsivIslem(1)"><i class="fa fa-archive"></i> Arşive Kaldır</a></li>
                                <li><a href="#" onclick="invoiceTopluArsivIslem(0)"><i class="fa fa-archive"></i> Arşivden Çıkar</a></li>
                                <li><a href="#" onclick="invoiceTopluOkunduIslem(1)"><i class="fa fa-inbox"></i> Okundu</a></li>
                                <li><a href="#" onclick="invoiceTopluOkunduIslem(0)"><i class="fa fa-address-book"></i> Okunmadı</a></li>
                                <li><a href="#" onclick="invoiceTopluOdendiIslem(1)"><i class="fa fa-money"></i> Ödendi</a></li>
                                <li><a href="#" onclick="invoiceTopluOdendiIslem(0)"><i class="fa fa-money"></i> Ödenmedi</a></li>

                                <li><a href="#" onclick="invoiceSendMailModalCol([],true)"><i class="fa fa-mail-forward"></i> Seçilenleri Mail Gönder</a></li>
                                <li><a href="#" onclick="invoiceExcelAktarModal(false)"><i class="fa fa-file-excel-o"></i> Seçilenleri Excel'e Aktar</a></li>
                                <li><a href="#" onclick="invoiceExcelAktarModal(true)"><i class="fa fa-file-excel-o"></i> Toplu Excel'e Aktar</a></li>
                                <li><a href="#" onclick="sendLucaToplu()"><i class="fa fa-file-excel-o"></i> Toplu Nettecap ile Luca'ya Aktar</a></li>
                                <li><a href="#" onclick="muhasebeyeTopluAktar()"><i class="fa fa-paper-plane"></i> Toplu ERP Muhasebe Fişi Aktar</a></li>
                                <li><a href="#" onclick="getInvoiceTopluPrint()"><i class="fa fa-print"></i> Seçilenleri Yazdır</a></li>
                                <li class="divider"></li>
                                <li><a href="#" onclick="getDownloadFileAll('XML')"><i class="fa fa-download"></i> XML Olarak İndir</a></li>
                                <li><a href="#" onclick="getDownloadFileAll('PDF')"><i class="fa fa-download"></i> PDF Olarak İndir</a></li>
                                <li><a href="#" onclick="getDownloadFileAll('TPDF')"><i class="fa fa-download"></i> Tek PDF Olarak İndir</a></li>
                                <li><a href="#" onclick="getDownloadFileAll('HTML')"><i class="fa fa-download"></i> HTML Olarak İndir</a></li>
                                <li><a href="#" onclick="getDownloadFileAll('JPG')"><i class="fa fa-download"></i> JPG Olarak İndir</a></li>
                            </ul>
                        </div>

                        <!-- Yıl -->
                        <div class="input-group input-group-md pull-left" style="margin-right:10px;">
                            <div class="col-sm-12">
                                <label class="control-label col-sm-3">Yıl</label>
                                <div class="col-sm-9">
                                    <select id="IntegrationYear" class="form-control">
                                        <option>2025</option>
                                        <option>2024</option>
                                        <option>2023</option>
                                        <option>2022</option>
                                        <option>2021</option>
                                        <option>2020</option>
                                        <option>2019</option>
                                        <option>2018</option>
                                        <option>2017</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- Ay -->
                        <div class="input-group input-group-md pull-left" style="margin-right:10px;">
                            <div class="col-sm-12">
                                <label class="control-label col-sm-3">Ay</label>
                                <div class="col-sm-9">
                                    <select id="IntegrationMonth" class="form-control">
                                        <option value="-1">Tümü</option>
                                        <option value="1">Ocak</option>
                                        <option value="2">Şubat</option>
                                        <option value="3">Mart</option>
                                        <option value="4">Nisan</option>
                                        <option value="5">Mayıs</option>
                                        <option value="6">Haziran</option>
                                        <option value="7">Temmuz</option>
                                        <option value="8">Ağustos</option>
                                        <option value="9">Eylül</option>
                                        <option value="10">Ekim</option>
                                        <option value="11">Kasım</option>
                                        <option value="12">Aralık</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- Aksiyon Butonları -->
                        <div class="input-group input-group-md pull-right" style="padding:3px 6px;">
                            <button onclick="gridSearch()" type="button" class="btn btn-success">Arama Yap <i class="glyphicon glyphicon-search"></i></button>
                        </div>
                        <div class="input-group input-group-md pull-right" style="padding:3px 6px;">
                            <button onclick="clearSearchInputs()" type="button" class="btn btn-danger">Temizle <i class="glyphicon glyphicon-remove-circle"></i></button>
                        </div>
                    </div>
                </div>

            </div>

            <!-- GRID -->
            <div class="body-inner">
                <div class="table-vertical">
                    <table id="myDataTable" class="table table-bordered table-hover dataTable dt-head-center" width="100%">
                        <thead>
                            <tr>
                                <th style="width:18px;"><input type="checkbox" id="chkAll" /></th>
                                <th>Fatura No/ETTN</th>
                                <th>Firma Adı</th>
                                <th>Vergi Kimlik No</th>
                                <th>Fatura Tip/Senaryo</th>
                                <th>Fatura Tarihi</th>
                                <th>İşlem Tarihi</th>
                                <th>KDV</th>
                                <th>Ödenecek Tutar</th>
                                <th>Muhasebeleştirme</th>
                                <th>Fatura Durumu</th>
                                <th>İşlemler</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3">Toplam KDV Matrah:<span id="totalKDVTaxableAmount">0,00 TL</span></td>
                                <td colspan="3">Toplam KDV Tutar:<span id="totalKDVAmount">0,00 TL</span></td>
                                <td colspan="4">Toplam Ödenecek Tutar:<span id="totalPayableAmount">0,00 TL</span></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

          

        </div>
    </div>

    <script>
        (function(){
            // ===== Utils =====
            var TR_DATE = {
                closeText:"Kapat",prevText:"Önceki",nextText:"Sonraki",currentText:"Bugün",
                monthNames:["Ocak","Şubat","Mart","Nisan","Mayıs","Haziran","Temmuz","Ağustos","Eylül","Ekim","Kasım","Aralık"],
                monthNamesShort:["Oca","Şub","Mar","Nis","May","Haz","Tem","Ağu","Eyl","Eki","Kas","Ara"],
                dayNames:["Pazar","Pazartesi","Salı","Çarşamba","Perşembe","Cuma","Cumartesi"],
                dayNamesShort:["Paz","Pts","Sal","Çar","Per","Cum","Cts"],
                dayNamesMin:["Pz","Pt","Sa","Ça","Pe","Cu","Ct"],
                dateFormat:"dd.mm.yy", firstDay:1, isRTL:false
            };
            function toApiDate(str){ if(!str) return ""; var p=str.split("."); if(p.length!==3) return ""; return p[2]+"-"+p[1].padStart(2,"0")+"-"+p[0].padStart(2,"0"); }
            function num(v){ v=(v==null?0:v); var n=+v; return isNaN(n)?0:n; }
            function fmtMoney(n,c,d,t){ c=isNaN(c=Math.abs(c))?2:c; d=(d===undefined)?",":d; t=(t===undefined)?".":t;
                var s=n<0?"-":"", i=String(parseInt(Math.abs(Number(n)||0).toFixed(c))), j=(j=i.length)>3?j%3:0;
                return s+(j?i.substr(0,j)+t:"")+i.substr(j).replace(/(\d{3})(?=\d)/g,"$1"+t)+(c?d+Math.abs(n-i).toFixed(c).slice(2):""); }
            function notifyOk(m){ if(window.toastr&&toastr.success) toastr.success(m); else alert(m); }
            function notifyErr(m){ if(window.toastr&&toastr.error) toastr.error(m); else alert(m); }

            // ===== Datepicker =====
            function initDatepicker(){
                if($.fn.datepicker){
                    $.datepicker.setDefaults(TR_DATE);
                    $('.datepicker').datepicker({ changeMonth:true, changeYear:true, showAnim:"fadeIn" });
                    // yyyy-mm-dd gerektiren alanlar için
                    $('.datepicker-yyyy-mm-dd').datepicker({ dateFormat:'yy-mm-dd', changeMonth:true, changeYear:true });
                }else{
                    $('.datepicker').attr('placeholder','gg.aa.yyyy');
                }
            }
            initDatepicker();
            function linkRange($s,$e){
                if(!$.fn.datepicker) return;
                $s.on('change',function(){ var d=$s.datepicker('getDate'); if(d) $e.datepicker('option','minDate',d); });
                $e.on('change',function(){ var d=$e.datepicker('getDate'); if(d) $s.datepicker('option','maxDate',d); });
            }
            linkRange($('#IssueDateStart'), $('#IssueDateStartEnd'));
            linkRange($('#CreatedDateStart'), $('#CreatedDateEnd'));

            // ===== Select2 (varsa) =====
            if($.fn.select2){ $('#CurrencyCode').select2({width:'100%'}); }

            // ===== Detaylı Arama ikon toggle =====
            $('#btnDetayliArama').on('click', function(){
                var $i=$(this).find('.myCollapseIcon'); setTimeout(function(){ $i.toggleClass('fa-plus fa-minus'); },150);
            });

            // ===== Yıl/Ay =====
            function yearChange(){
                var now=new Date(), selY=+$('#IntegrationYear').val();
                if(selY===now.getFullYear()){ $('#IntegrationMonth').val(String(now.getMonth()+1)); }
                else { $('#IntegrationMonth').val('-1'); }
            }
            $('#IntegrationYear').on('change', yearChange); yearChange();

            // ===== Çoklu VKN/TCKN =====
            window.vknAyracChk = function(){
                var multi = $('#TargetIdentifierChk').is(':checked');
                var $inp = $('#TargetIdentifier'); $inp.val('');
                if(multi){ $inp.attr('maxlength','400').attr('placeholder','111...,222...,333...'); }
                else { $inp.attr('maxlength','11').attr('placeholder','11 hane'); }
            };

            // ===== DataTable =====
            var table;
            function buildFilters(){
                var ids = $('#TargetIdentifier').val() || "";
                if($('#TargetIdentifierChk').is(':checked')){
                    ids = ids.split(',').map(function(s){return $.trim(s);}).filter(Boolean);
                }
                return {
                    IsArchive: $('#IsArchive').val(),
                    ApplicationResponseCode: $('#ApplicationResponseCode').val(),
                    IssueDateStart: toApiDate($('#IssueDateStart').val()),
                    IssueDateEnd: toApiDate($('#IssueDateStartEnd').val()),
                    DocumentId: $('#DocumentId').val(),
                    UUID: $('#UUID').val(),
                    TargetIdentifier: ids,       // Gönderici VKN/TCKN
                    TargetTitle: $('#TargetTitle').val(), // Gönderici Unvan
                    CreatedDateStart: toApiDate($('#CreatedDateStart').val()),
                    CreatedDateEnd: toApiDate($('#CreatedDateEnd').val()),
                    ProfileId: $('#ProfileId').val(),
                    InvoiceTypeCode: $('#InvoiceTypeCode').val(),
                    CurrencyCode: $('#CurrencyCode').val(),
                    IsCancelled: $('#IsCancelled').val(),
                    PayableAmountMin: $('#PayableAmount').val(),
                    IsPrinted: $('#IsPrinted').val(),
                    Status: $('#Status').val(),
                    IsAccount: $('#IsAccount').val(),
                    IsPaid: $('#IsPaid').val(),
                    PostaKutusuEtiketi: $('#PostaKutusuEtiketi').val(),
                    Year: $('#IntegrationYear').val(),
                    Month: $('#IntegrationMonth').val()
                };
            }
            function updateFooters(t){
                if(t){
                    $('#totalKDVTaxableAmount').text(fmtMoney(num(t.totalKdvTaxable),2,",",".")+" TL");
                    $('#totalKDVAmount').text(fmtMoney(num(t.totalKdv),2,",",".")+" TL");
                    $('#totalPayableAmount').text(fmtMoney(num(t.totalPayable),2,",",".")+" TL");
                    return;
                }
                var kdv=0,pay=0,mat=0;
                table.rows({page:'current'}).every(function(){
                    var d=this.data();
                    kdv += num(d.KdvAmount||d.kdv||d.KDV);
                    pay += num(d.PayableAmount||d.payable||d.OdenecekTutar);
                    mat += num(d.KdvTaxable||d.kdvMatrah||d.KDVMatrah);
                });
                $('#totalKDVTaxableAmount').text(fmtMoney(mat,2,",",".")+" TL");
                $('#totalKDVAmount').text(fmtMoney(kdv,2,",",".")+" TL");
                $('#totalPayableAmount').text(fmtMoney(pay,2,",",".")+" TL");
            }
            function initTable(){
                if($.fn.DataTable.isDataTable('#myDataTable')){ table.destroy(); $('#myDataTable tbody').empty(); }
                table = $('#myDataTable').DataTable({
                    processing:true, serverSide:true, deferRender:true,
                    order:[[6,'desc']], // İşlem Tarihi
                    pageLength:25,
                    lengthMenu:[[25,50,75,100,250,500,1000],[25,50,75,100,250,500,"1.000"]],
                    language:{ url:'//cdn.datatables.net/plug-ins/1.13.6/i18n/tr.json' },
                    ajax:{
                        url:'/api/efatura/inbox/search',
                        type:'POST',
                        contentType:'application/json',
                        data: function(d){ return JSON.stringify({ dt:d, filters: buildFilters() }); },
                        dataSrc: function(res){ if(res && res.totals) updateFooters(res.totals); else updateFooters(null); return (res && res.data) ? res.data : []; },
                        error: function(){ notifyErr('Liste alınamadı.'); }
                    },
                    columns:[
                        { data:null, orderable:false, searchable:false,
                          render:function(d,t,r){ return '<input type="checkbox" class="rowchk" data-id="'+(r.UUID||'')+'">'; } },
                        { data:null, render:function(d){ return (d.DocumentId||'')+(d.UUID?'<br><small>'+d.UUID+'</small>':''); } },
                        { data:null, render:function(d){ return d.SenderTitle||d.SourceTitle||d.TargetTitle||''; } },
                        { data:null, render:function(d){ return d.SenderIdentifier||d.SourceIdentifier||d.TargetIdentifier||''; } },
                        { data:null, render:function(d){ var it=d.InvoiceTypeCode||''; var pr=d.ProfileId||''; return it+(pr?('/'+pr):''); } },
                        { data:'IssueDate', render:function(v){ return v?String(v).substr(0,10):''; } },
                        { data:'CreatedDate', render:function(v){ return v?String(v).replace('T',' ').substr(0,16):''; } },
                        { data:'KdvAmount', className:'text-right', render:function(v){ return fmtMoney(num(v),2,",","."); } },
                        { data:'PayableAmount', className:'text-right', render:function(v){ return fmtMoney(num(v),2,",","."); } },
                        { data:'IsAccount', className:'text-center', render:function(v){ return v==='YES'?'Evet':'Hayır'; } },
                        { data:null, className:'text-center', render:function(d){ var s=d.Status||''; var a=d.ApplicationResponseCode||''; return s+(a?(' / '+a):''); } },
                        { data:null, orderable:false, searchable:false, render:function(d){
                            var uid=d.UUID||''; var doc=d.DocumentId||'';
                            return ''+
                             '<div class="btn-group btn-group-xs">'+
                             '<button class="btn btn-info" title="Önizle" onclick="invoicePreview(\''+uid+'\')"><i class="fa fa-eye"></i></button>'+
                             '<button class="btn btn-primary" title="Mail" onclick="invoiceSendMailModalCol([\\''+uid+'\\'], false)"><i class="fa fa-envelope"></i></button>'+
                             '<button class="btn btn-warning" title="Cevapla (Kabul/Red)" onclick="openCevaplaModal(\''+uid+'\')"><i class="fa fa-reply"></i></button>'+
                             '<button class="btn btn-danger" title="GİB İptal/İtiraz işareti" onclick="openGibCancel(\''+doc+'\', \''+uid+'\')"><i class="fa fa-times"></i></button>'+
                             '</div>';
                        } }
                    ],
                    drawCallback:function(){ $('#chkAll').prop('checked', false); }
                });

                // header select all
                $('#myDataTable').on('change','#chkAll',function(){ var c=$(this).is(':checked'); $('#myDataTable .rowchk').prop('checked', c); });
            }
            initTable();

            // ===== Arama / Temizle =====
            window.gridSearch = function(){ if(table){ table.ajax.reload(); } };
            window.clearSearchInputs = function(){
                $('#IsArchive,#ApplicationResponseCode,#ProfileId,#InvoiceTypeCode,#CurrencyCode,#IsCancelled,#IsPrinted,#Status,#IsAccount,#IsPaid,#PostaKutusuEtiketi').val('');
                $('#IssueDateStart,#IssueDateStartEnd,#CreatedDateStart,#CreatedDateEnd').val('');
                $('#DocumentId,#UUID,#TargetIdentifier,#TargetTitle').val('');
                $('#TargetIdentifierChk').prop('checked',false); vknAyracChk();
                $('#IntegrationMonth').val('-1'); yearChange();
                if($.fn.select2){ $('#CurrencyCode').trigger('change'); }
                gridSearch();
            };
            // Enter ile arama
            $('#btnAramaYapEnter').on('keypress','input',function(e){ if(e.which===13){ e.preventDefault(); gridSearch(); } });

            // ===== Seçim =====
            function getSelectedUUIDs(){
                var ids=[]; $('#myDataTable .rowchk:checked').each(function(){ ids.push($(this).data('id')); }); return ids;
            }

            // ===== Toplu İşlemler (Inbox) =====
            window.invoiceTopluArsivIslem = function(val){
                var uuids = getSelectedUUIDs(); if(!uuids.length) return notifyErr('Lütfen en az bir kayıt seçin.');
                $.ajax({ url:'/api/efatura/inbox/archive', method:'POST', contentType:'application/json', data: JSON.stringify({ uuids:uuids, value: !!val }) })
                 .done(function(){ notifyOk('Arşiv durumu güncellendi.'); gridSearch(); })
                 .fail(function(xhr){ notifyErr('Hata: '+(xhr.responseText||'')); });
            };
            window.invoiceTopluOkunduIslem = function(val){
                var uuids = getSelectedUUIDs(); if(!uuids.length) return notifyErr('Lütfen en az bir kayıt seçin.');
                $.ajax({ url:'/api/efatura/inbox/read', method:'POST', contentType:'application/json', data: JSON.stringify({ uuids:uuids, value: !!val }) })
                 .done(function(){ notifyOk('Okunma durumu güncellendi.'); gridSearch(); })
                 .fail(function(xhr){ notifyErr('Hata: '+(xhr.responseText||'')); });
            };
            window.invoiceTopluOdendiIslem = function(val){
                var uuids = getSelectedUUIDs(); if(!uuids.length) return notifyErr('Lütfen en az bir kayıt seçin.');
                $.ajax({ url:'/api/efatura/inbox/paid', method:'POST', contentType:'application/json', data: JSON.stringify({ uuids:uuids, value: !!val }) })
                 .done(function(){ notifyOk('Ödeme durumu güncellendi.'); gridSearch(); })
                 .fail(function(xhr){ notifyErr('Hata: '+(xhr.responseText||'')); });
            };

            // ===== Önizleme / İndirme / Yazdırma =====
            window.invoicePreview = function(uuid){ window.open('/api/efatura/inbox/preview?uuid='+encodeURIComponent(uuid),'_blank'); };
            window.getInvoiceTopluPrint = function(){
                var uuids=getSelectedUUIDs(); if(!uuids.length) return notifyErr('Lütfen en az bir kayıt seçin.');
                window.open('/api/efatura/inbox/print?uuids='+encodeURIComponent(uuids.join(',')),'_blank');
            };
            window.getDownloadFileAll = function(type){
                var uuids=getSelectedUUIDs(); if(!uuids.length) return notifyErr('Lütfen en az bir kayıt seçin.');
                window.open('/api/efatura/inbox/download?type='+encodeURIComponent(type)+'&uuids='+encodeURIComponent(uuids.join(',')),'_blank');
            };

            // ===== Mail =====
            function checkMailRequired(dto){
                if(!dto.ReceiverMail || !dto.Title || !dto.ReceiverFirstnameLastname){ notifyErr('E-posta, konu ve alıcı adı zorunlu.'); return false; }
                if(!dto.AttachXml && !dto.AttachPdf){ notifyErr('En az bir ek (XML/PDF) seçmelisiniz.'); return false; }
                return true;
            }
            window.invoiceSendMailModalCol = function(uuids, fromBulk){
                if(fromBulk){ uuids = getSelectedUUIDs(); if(!uuids.length) return notifyErr('Lütfen en az bir kayıt seçin.'); }
                $('#modal-mail').data('uuids', uuids||[]).modal('show');
            };
            window.checkChecked = function(which){
                var on = $('#sendXml').is(':checked') || $('#sendPdf').is(':checked');
                $('#sendMailBtn').prop('disabled', !on);
            };
            window.sendMailDocument = function(){
                var uuids = $('#modal-mail').data('uuids') || [];
                if(!uuids.length){ return notifyErr('Lütfen en az bir kayıt seçin.'); }
                var dto = {
                    Uuids: uuids,
                    ReceiverMail: $('#ReceiverMail').val(),
                    Title: $('#Title').val(),
                    ReceiverFirstnameLastname: $('#ReceiverFirstnameLastname').val(),
                    AttachXml: $('#sendXml').is(':checked'),
                    AttachPdf: $('#sendPdf').is(':checked')
                };
                if(!checkMailRequired(dto)) return;
                $.ajax({ url:'/api/efatura/inbox/send-mail', method:'POST', contentType:'application/json', data: JSON.stringify(dto) })
                 .done(function(){ notifyOk('E-posta gönderildi.'); $('#modal-mail').modal('hide'); })
                 .fail(function(xhr){ notifyErr('E-posta gönderilemedi: '+(xhr.responseText||'')); });
            };

            // ===== Excel Aktarım =====
            window.invoiceExcelAktarModal = function(all){
                $('#modal-exceleaktar').data('all', !!all).modal('show');
            };
            window.excelaktar = function(){
                var all = $('#modal-exceleaktar').data('all');
                var uuids = all ? [] : getSelectedUUIDs();
                if(!all && !uuids.length){ return notifyErr('Lütfen en az bir kayıt seçin.'); }
                var dto = {
                    All: !!all, Uuids: uuids,
                    IssueStart: toApiDate($('#faturaBaslangicTarihi').val()),
                    IssueEnd: toApiDate($('#faturaBitisTarihi').val()),
                    ProcStart: toApiDate($('#faturaIslemeBaslamaTarihi').val()),
                    ProcEnd: toApiDate($('#faturaIslemBitisTarihi').val()),
                    IsArchive: $('#isArchive').val(),
                    ReceiverIdentifier: $('#receiverIdentifier').val(),
                    ReceiverTitle: $('#receiverTitle').val(),
                    IsCancel: $('#isCancel').val(),
                    Year: $('#IntegrationYearExcel').val(),
                    SumKdv: $('#sumKdv').val()
                };
                $.ajax({ url:'/api/efatura/inbox/export-excel', method:'POST', contentType:'application/json', data: JSON.stringify(dto) })
                 .done(function(resp){ notifyOk('Excel hazırlanıyor/indirildi.'); if(resp && resp.fileUrl){ window.location=resp.fileUrl; } $('#modal-exceleaktar').modal('hide'); })
                 .fail(function(xhr){ notifyErr('Excel aktarım hatası: '+(xhr.responseText||'')); });
            };

            // ===== GİB İptal/İtiraz İşareti =====
            window.openGibCancel = function(docNo, uuid){
                $('#modalGibIptal').text(docNo||'');
                function setBtns(){ var ok=$('#uyariyiOkudumGibIptalchk').is(':checked'); $('#iptalEtGibBtn,#iptalKaldirGibBtn').prop('disabled', !ok); }
                $('#uyariyiOkudumGibIptalchk').off('change').on('change', setBtns); setBtns();
                // butonlar
                $('#iptalEtGibBtn').off('click').on('click', function(){ invoiceCancelGibSend(1, uuid); });
                $('#iptalKaldirGibBtn').off('click').on('click', function(){ invoiceCancelGibSend(0, uuid); });
                $('#modal-cancel').modal('show');
            };
            window.invoiceCancelGibSend = function(val, uuid){
                $.ajax({ url:'/api/efatura/inbox/gib-cancel-flag', method:'POST', contentType:'application/json', data: JSON.stringify({ UUID: uuid, Value: !!val }) })
                 .done(function(){ notifyOk('GİB iptal/itiraz işareti güncellendi.'); $('#modal-cancel').modal('hide'); gridSearch(); })
                 .fail(function(xhr){ notifyErr('İşlem başarısız: '+(xhr.responseText||'')); });
            };

            // ===== Cevapla (Kabul/Red) =====
            window.openCevaplaModal = function(uuid){
                $('#modal-cevapla').data('uuid', uuid).modal('show');
            };
            window.sendApplicationResponse = function(){
                var uuid = $('#modal-cevapla').data('uuid');
                if(!uuid) return notifyErr('Kayıt seçilemedi.');
                var dto = {
                    UUID: uuid,
                    ReceiverAlias: $('#AliciBirimEtiketi_').val(),
                    SourceAlias: $('#SourceAlias_').val(),
                    ResponseCode: $('#kabulRed').val(),
                    ResponseDescription: $('#ResponseDescription').val()
                };
                if(!dto.ReceiverAlias || !dto.SourceAlias || !dto.ResponseCode) return notifyErr('Zorunlu alanları doldurunuz.');
                $.ajax({ url:'/api/efatura/inbox/app-response', method:'POST', contentType:'application/json', data: JSON.stringify(dto) })
                 .done(function(){ notifyOk('Uygulama yanıtı gönderildi.'); $('#modal-cevapla').modal('hide'); gridSearch(); })
                 .fail(function(xhr){ notifyErr('Yanıt gönderilemedi: '+(xhr.responseText||'')); });
            };

            // ===== Doğrudan İade =====
            // IadeFaturaTarihi bugün değilse set edelim
            if(!$('#IadeFaturaTarihi').val()){
                var dt = new Date(), y=dt.getFullYear(), m=('0'+(dt.getMonth()+1)).slice(-2), d=('0'+dt.getDate()).slice(-2);
                $('#IadeFaturaTarihi').val(y+'-'+m+'-'+d);
            }
            window.sendInvoiceDogrudanIade = function(){
                var dto = {
                    UUID: $('#IadeFormUUID').val(),
                    BranchCode: $('#SubeKodu').val(),
                    SenderAlias: $('#GondericiBirimEtiketi').val(),
                    ReceiverAlias: $('#AliciBirimEtiketi').val(),
                    Xslt: $('#Xslt').val(),
                    Prefix: $('#FaturaOnek').val(),
                    IssueDate: $('#IadeFaturaTarihi').val(), // yyyy-MM-dd
                    Note: $('#note').val()
                };
                if(!dto.BranchCode || !dto.SenderAlias || !dto.ReceiverAlias || !dto.Xslt || !dto.Prefix || !dto.IssueDate){
                    return notifyErr('Zorunlu alanları doldurunuz.');
                }
                $.ajax({ url:'/api/efatura/inbox/direct-refund', method:'POST', contentType:'application/json', data: JSON.stringify(dto) })
                 .done(function(){ notifyOk('İade süreci başlatıldı.'); $('#modal-dogrudanIade').modal('hide'); gridSearch(); })
                 .fail(function(xhr){ notifyErr('İade oluşturulamadı: '+(xhr.responseText||'')); });
            };

            // ===== Diğer stublar =====
            window.sendLucaToplu = function(){ var uuids=getSelectedUUIDs(); if(!uuids.length) return notifyErr('Lütfen en az bir kayıt seçin.'); notifyOk('Luca aktarım isteği gönderildi ('+uuids.length+' kayıt).'); };
            window.muhasebeyeTopluAktar = function(){ $('#muhasebeFisiModal').modal('show'); };

        })();
    </script>
</section>
