<div class="row g-2">
    <div class="col-md-4">
        <select id="fltTeklifId" class="form-select">
            <option value="">Teklif</option>
        </select>
    </div>
    <div class="col-md-4">
        <select id="fltPaketId" class="form-select">
            <option value="">Paket</option>
        </select>
    </div>
    <div class="col-md-2">
        <input id="fltMiktar" type="number" class="form-control" placeholder="Miktar" />
    </div>
    <div class="col-md-2">
        <input id="fltTutar" type="number" step="0.01" class="form-control" placeholder="Tutar" />
    </div>
</div>
