<table class="table table-bordered table-striped">
    <thead class="table-light">
        <tr>
            <th>Id</th>
            <th>Kanal</th>
            <th>Planlanan Tarih</th>
            <th>Başlık</th>
            <th>İçerik</th>
            <th>Durum</th>
            <th>Hedef Kullanıcı</th>
            <th class="text-end">İşlemler</th>
        </tr>
    </thead>
    <tbody id="tbl-sistembildirim-body"></tbody>
</table>
