<div class="row g-2">
    <div class="col-md-3">
        <input id="fltUlke" type="text" class="form-control" placeholder="Ülke" />
    </div>
    <div class="col-md-3">
        <input id="fltSehir" type="text" class="form-control" placeholder="Şehir" />
    </div>
    <div class="col-md-3">
        <input id="fltIlce" type="text" class="form-control" placeholder="İlçe" />
    </div>
    <div class="col-md-3">
        <input id="fltPostaKodu" type="text" class="form-control" placeholder="Posta Kodu" />
    </div>
</div>
