<div class="row g-2">
    <div class="col">
        <input id="fltSearch1" type="text" class="form-control" placeholder="Adres filtre 1" />
    </div>
    <div class="col">
        <input id="fltSearch2" type="text" class="form-control" placeholder="Adres filtre 2" />
    </div>
</div>
