@{
    ViewData["Title"] = "Bildirimler";
}
<div class="box box-default"><div class="box-header with-border"><h3 class="box-title">Bildirimler</h3></div><div class="box-body"><div class="table-responsive"><table class="table table-bordered"><thead><tr><th>#</th><th>Kod</th><th>Ad</th><th>Durum</th><th>İşlem</th></tr></thead><tbody><tr><td>1</td><td>ORNEK</td><td>Örnek Kayıt</td><td><span class="label label-success">Aktif</span></td><td><button class="btn btn-xs btn-info">Düzenle</button> <button class="btn btn-xs btn-danger">Sil</button></td></tr></tbody></table></div></div></div>