<div class="row g-2">
    <div class="col-md-4">
        <input id="fltAliciNumara" type="text" class="form-control" placeholder="Alıcı Numara" />
    </div>
    <div class="col-md-4">
        <input id="fltMesaj" type="text" class="form-control" placeholder="Mesaj" />
    </div>
    <div class="col-md-4">
        <select id="fltBasariliMi" class="form-select">
            <option value="">Başarılı mı?</option>
            <option value="true">Evet</option>
            <option value="false">Hayır</option>
        </select>
    </div>
    <div class="col-md-3 text-end">
        <button id="btnNewSmsGonderim" class="btn btn-primary w-100">Yeni</button>
    </div>
</div>
