<div class="col-12">
    <div class="card">
        <div class="card-body">
            <div class="row g-3 align-items-end">
                <div class="col-sm-4"><label class="form-label">Üye No</label><input id="fltUyeNo" class="form-control" /></div>
                <div class="col-sm-4"><label class="form-label">Kullanıcı Adı</label><input id="fltKullaniciAdi" class="form-control" /></div>
                <div class="col-sm-4 text-end"><button id="btnNewLuca" class="btn btn-primary w-100">Yeni</button></div>
            </div>
        </div>
    </div>
</div>
