<div class="modal fade" id="mdlLuca" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <form id="frmLuca" class="modal-content">
            <div class="modal-header"><h5 class="modal-title">Luca</h5><button class="btn-close" data-bs-dismiss="modal"></button></div>
            <div class="modal-body">
                <input type="hidden" id="frmId" />
                <div class="row g-3">
                    <div class="col-sm-6"><label class="form-label">Üye No</label><input id="frmUyeNo" class="form-control" required></div>
                    <div class="col-sm-6"><label class="form-label">Kullanıcı Adı</label><input id="frmKullaniciAdi" class="form-control" required></div>
                    <div class="col-sm-12"><label class="form-label">Parola</label><input id="frmParola" class="form-control" required></div>
                </div>
            </div>
            <div class="modal-footer"><button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Kapat</button><button type="submit" class="btn btn-primary">Kaydet</button></div>
        </form>
    </div>
</div>
