<div class="card">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead><tr><th>Üye No</th><th>Kullanıcı Adı</th><th>Parola</th><th class="text-end">İşlem</th></tr></thead>
            <tbody id="tbl-luca-body"></tbody>
        </table>
    </div>
</div>
