<table class="table table-bordered table-striped">
    <thead class="table-light">
        <tr>
            <th>Id</th>
            <th>Bayi</th>
            <th>Konu</th>
            <th>Tür</th>
            <th>Durum</th>
            <th>Planlanan Tarih</th>
            <th>Gerçekleşen Tarih</th>
            <th>İlgili Tip</th>
            <th>İlgili Kullanıcı</th>
            <th>Açıklama</th>
            <th class="text-end">İşlemler</th>
        </tr>
    </thead>
    <tbody id="tbl-aktivite-body"></tbody>
</table>
