<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Alan 1</th>
            <th>Alan 2</th>
            <th class="text-end">İşlemler</th>
        </tr>
    </thead>
    <tbody id="tbl-aktivite-body"></tbody>
</table>
