<table class="table table-bordered table-striped">
    <thead class="table-light">
        <tr>
            <th>Id</th>
            <th>Satış No</th>
            <th>Satış Tarihi</th>
            <th>Bayi</th>
            <th>Mali Müşavir</th>
            <th>Firma</th>
            <th>Paket</th>
            <th>KDV Oranı</th>
            <th>KDV Tutar</th>
            <th>İskonto Tutar</th>
            <th>Toplam Tutar</th>
            <th>Net Tutar</th>
            <th>Durum</th>
            <th class="text-end">İşlemler</th>
        </tr>
    </thead>
    <tbody id="tbl-satis-body"></tbody>
</table>
