<div class="modal fade" id="mdlKA" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <form id="frmKA" class="modal-content">
            <div class="modal-header"><h5 class="modal-title">KeyAccount</h5><button class="btn-close" data-bs-dismiss="modal"></button></div>
            <div class="modal-body">
                <input type="hidden" id="frmId" />
                <div class="row g-3">
                    <div class="col-sm-4"><label class="form-label">Kod</label><input id="frmKod" class="form-control" required></div>
                    <div class="col-sm-8"><label class="form-label">Açıklama</label><input id="frmAciklama" class="form-control"></div>
                </div>
            </div>
            <div class="modal-footer"><button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Kapat</button><button type="submit" class="btn btn-primary">Kaydet</button></div>
        </form>
    </div>
</div>
