<div class="card">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead><tr><th>Kod</th><th>Açıklama</th><th class="text-end">İşlem</th></tr></thead>
            <tbody id="tbl-ka-body"></tbody>
        </table>
    </div>
</div>
