<div class="row g-2">
    <div class="col-md-6">
        <input id="fltAd" type="text" class="form-control" placeholder="Ad" />
    </div>
    <div class="col-md-6">
        <input id="fltAciklama" type="text" class="form-control" placeholder="Açıklama" />
    </div>
    <div class="col-md-3 text-end">
        <button id="btnNewUrunTipi" class="btn btn-primary w-100">Yeni</button>
    </div>
</div>
