@{
    ViewData["Title"] = "GİB Durum Kodları";
    ViewData["Subtitle"] = "Listeler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <style>
        .dataTables_wrapper .dataTables_filter input {
            min-width: 220px;
        }

        .box.box-primary {
            border-top-color: #3c8dbc;
        }

        .dt-head-center thead th {
            text-align: center;
        }

        td pre {
            white-space: pre-wrap;
            margin: 0;
            font-family: inherit;
        }
    </style>
}

<section class="content">
    <h2>GİB Durum Kodları</h2>

    <div class="box box-primary">
        <div class="box-body">
            <table id="grid_Tevkifat" class="table table-bordered table-hover dataTable dt-head-center" width="100%">
                <thead>
                    <tr>
                        <th style="width: 14%">Durum Kodu</th>
                        <th style="width: 28%">Sebep</th>
                        <th style="width: 34%">Çözüm</th>
                        <th style="width: 24%">Yapılması Gereken</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><pre>1120   ZARF ARŞİVDEN KOPYALANAMADI</pre></td>
                        <td><pre>-</pre></td>
                        <td><pre>-</pre></td>
                        <td><pre>Faturalar yeniden gönderilmeli (faturanın aynı ETTN ile tekrar gönderimine izin verilir.)</pre></td>
                    </tr>
                    <tr>
                        <td><pre>1143   GEÇERSİZ VERSİYON</pre></td>
                        <td><pre>-</pre></td>
                        <td><pre>-</pre></td>
                        <td><pre>Faturalar yeniden gönderilmeli (faturanın aynı ETTN ile tekrar gönderimine izin verilir.)</pre></td>
                    </tr>
                    <tr>
                        <td><pre>1161   İMZA SAHİBİ TCKN VKN ALINAMADI</pre></td>
                        <td><pre>-</pre></td>
                        <td><pre>-</pre></td>
                        <td><pre>Faturalar yeniden gönderilmeli (faturanın aynı ETTN ile tekrar gönderimine izin verilir.)</pre></td>
                    </tr>
                    <tr>
                        <td><pre>1162   İMZA KAYDEDİLEMEDİ</pre></td>
                        <td><pre>-</pre></td>
                        <td><pre>Hatasız gönderim için, gönderimden önce imza doğrulama kontrolü yapılmalıdır.</pre></td>
                        <td><pre>Faturalar yeniden gönderilmeli (faturanın aynı ETTN ile tekrar gönderimine izin verilir.)</pre></td>
                    </tr>
                    <tr>
                        <td><pre>1163</pre></td>
                        <td><pre>-</pre></td>
                        <td><pre>-</pre></td>
                        <td><pre>Faturalar yeniden gönderilmemeli</pre></td>
                    </tr>
                    <tr>
                        <td><pre>1170   YETKİ KONTROL EDİLEMEDİ</pre></td>
                        <td><pre>-</pre></td>
                        <td><pre>-</pre></td>
                        <td><pre>Faturalar yeniden gönderilmeli (faturanın aynı ETTN ile tekrar gönderimine izin verilir.)</pre></td>
                    </tr>
                    <tr>
                        <td><pre>1176   İMZA SAHİBİ YETKİSİZ</pre></td>
                        <td><pre>-</pre></td>
                        <td><pre>-</pre></td>
                        <td><pre>Faturalar yeniden gönderilmeli (faturanın aynı ETTN ile tekrar gönderimine izin verilir.)</pre></td>
                    </tr>
                    <tr>
                        <td><pre>1180   ADRES KONTROL EDİLEMEDİ</pre></td>
                        <td><pre>-</pre></td>
                        <td><pre>-</pre></td>
                        <td><pre>Faturalar yeniden gönderilmeli (faturanın aynı ETTN ile tekrar gönderimine izin verilir.)</pre></td>
                    </tr>
                    <tr>
                        <td><pre>1182   KULLANICI EKLENEMEDİ</pre></td>
                        <td><pre>-</pre></td>
                        <td><pre>-</pre></td>
                        <td><pre>Faturalar yeniden gönderilmeli (faturanın aynı ETTN ile tekrar gönderimine izin verilir.)</pre></td>
                    </tr>
                    <tr>
                        <td><pre>1183   KULLANICI SİLİNEMEDİ</pre></td>
                        <td><pre>-</pre></td>
                        <td><pre>-</pre></td>
                        <td><pre>Faturalar yeniden gönderilmeli (faturanın aynı ETTN ile tekrar gönderimine izin verilir.)</pre></td>
                    </tr>
                    <tr>
                        <td><pre>1190   SİSTEM YANITI HAZIRLANAMADI</pre></td>
                        <td><pre>-</pre></td>
                        <td><pre>-</pre></td>
                        <td><pre>Faturalar yeniden gönderilmeli (faturanın aynı ETTN ile tekrar gönderimine izin verilir.)</pre></td>
                    </tr>
                    <tr>
                        <td><pre>1195   SİSTEM HATASI</pre></td>
                        <td><pre>-</pre></td>
                        <td><pre>-</pre></td>
                        <td><pre>Faturalar yeniden gönderilmeli (faturanın aynı ETTN ile tekrar gönderimine izin verilir.)</pre></td>
                    </tr>
                    <tr>
                        <td><pre>1200   ZARF BAŞARIYLA İŞLENDİ</pre></td>
                        <td><pre>-</pre></td>
                        <td><pre>-</pre></td>
                        <td><pre>-</pre></td>
                    </tr>
                    <tr>
                        <td><pre>1210   DOKÜMAN BULUNAN ADRESE GÖNDERİLEMEDİ</pre></td>
                        <td><pre>-</pre></td>
                        <td><pre>GİB'in tekrar gönderim denemesi başarılı olur ise, 1300 BAŞARIYLA TAMAMLANDI durum kodu alınır. Eğer bu süre sonlandıktan sonra gönderim hâlâ başarısız ise, 1215 DOKÜMAN GÖNDERİMİ BAŞARISIZ, TEKRAR GÖNDERME SONLANDI durum kodu alınır.</pre></td>
                        <td><pre>1210 durumunun 1215, 1220, 1230 ya da 1300 durumuna dönmesi beklenmelidir.</pre></td>
                    </tr>
                    <tr>
                        <td><pre>1220   HEDEFTEN SİSTEM YANITI GELMEDİ</pre></td>
                        <td><pre>-</pre></td>
                        <td><pre>Bu durumda GİB, yanıt dönmeyen mükelleflere otomatik uyarı maili atar. Ancak alıcı ile iletişime geçilerek yanıt dönmeleri sağlanabilir. Bu durumdaki zarfların içerisindeki faturaların tekrar gönderilmesi mükerrer gönderim olacağından ikinci kez gönderilmemesi gerekmektedir.</pre></td>
                        <td><pre>1220 durumunun 1230 veya 1300 durumuna dönmesi beklenmelidir. NOT 1: İki gün içerisinde durum kodu güncellenmez ise alıcı ile görüşülebilir. NOT 2: Gönderici ve alıcı taraf da ilgili faturayı muhasebe kayıtlarına geçirebilir.</pre></td>
                    </tr>
                    <tr>
                        <td><pre>1230   HEDEFTEN SİSTEM YANITI BAŞARISIZ GELDİ</pre></td>
                        <td><pre>-</pre></td>
                        <td><pre>-</pre></td>
                        <td><pre>Faturalar yeniden gönderilmeli (faturanın aynı ETTN ile tekrar gönderimine izin verilir.)</pre></td>
                    </tr>
                    <tr>
                        <td><pre>1300   BAŞARIYLA TAMAMLANDI</pre></td>
                        <td><pre>-</pre></td>
                        <td><pre>-</pre></td>
                        <td><pre>-</pre></td>
                    </tr>
                    <tr>
                        <td><pre>1215   DOKÜMAN GÖNDERİMİ BAŞARISIZ</pre></td>
                        <td><pre>1220 HEDEFTEN SİSTEM YANITI GELMEDİ durum kodunda alıcı zarfı sistemine aldığını GİB'e bildirmiş ancak zarfı sorunsuzca işleyip işleyemediğine dair olumlu ya da olumsuz bir cevap dönmemiştir.</pre></td>
                        <td><pre>-</pre></td>
                        <td><pre>Faturalar yeniden gönderilmeli (faturanın aynı ETTN ile tekrar gönderimine izin verilir.)</pre></td>
                    </tr>
                    <tr>
                        <td><pre>1132   XML DOSYASI DEĞİL</pre></td>
                        <td><pre>Dosyalar (Fatura, U&amp;S Yanıtı) XML formatında olmadığında ilgili hata alınır.</pre></td>
                        <td><pre>Dosyalar (Fatura, U&amp;S Yanıtı) XML formatında olmalıdır.</pre></td>
                        <td><pre>Faturalar yeniden gönderilmeli (faturanın aynı ETTN ile tekrar gönderimine izin verilir.)</pre></td>
                    </tr>
                    <tr>
                        <td><pre>1181   ADRES BULUNAMADI</pre></td>
                        <td><pre>Etiket bilgisi ve VKN eşleşmesi yapılamıyor.</pre></td>
                        <td><pre>Alıcının VKN/TCKN ve etiket bilgisinin güncel olduğundan emin olunuz (etiket ya da yöntem değiştirmiş olabilir). Göndericinin VKN/TCKN ve etiket bilgisinin güncel olduğundan emin olunuz (etiket ya da yöntem değiştirmiş olabilir).</pre></td>
                        <td><pre>Faturalar yeniden gönderilmeli (faturanın aynı ETTN ile tekrar gönderimine izin verilir.)</pre></td>
                    </tr>
                    <tr>
                        <td><pre>1150   SCHEMATRON KONTROL SONUCU HATALI</pre></td>
                        <td><pre>GİB'in belirlediği standartlarda olması gereken bilgiler yanlış girilmiştir.</pre></td>
                        <td><pre>Bilgiler kontrol edilip GİB'in belirlediği standartlara uygun hale getirilmelidir.</pre></td>
                        <td><pre>Faturalar yeniden gönderilmeli (faturanın aynı ETTN ile tekrar gönderimine izin verilir.)</pre></td>
                    </tr>
                    <tr>
                        <td><pre>1160   XML ŞEMA KONTROLÜNDEN GEÇEMEDİ</pre></td>
                        <td><pre>GİB şema kontrollerinden geçebilen bir faturanın alıcının sisteminde de XML kontrollerinden geçebilmesi gerekir. Alıcıyı uyarınız.</pre></td>
                        <td><pre>-</pre></td>
                        <td><pre>Faturalar yeniden gönderilmeli (faturanın aynı ETTN ile tekrar gönderimine izin verilir.)</pre></td>
                    </tr>
                    <tr>
                        <td><pre>1000   ZARF KUYRUĞA EKLENDİ</pre></td>
                        <td><pre>GİB'teki yoğunluk.</pre></td>
                        <td><pre>-</pre></td>
                        <td><pre>Durum kodunun güncellenmesi beklenmelidir.</pre></td>
                    </tr>
                    <tr>
                        <td><pre>1100   ZARF İŞLENİYOR</pre></td>
                        <td><pre>GİB'teki yoğunluk.</pre></td>
                        <td><pre>-</pre></td>
                        <td><pre>Durum kodunun güncellenmesi beklenmelidir.</pre></td>
                    </tr>
                    <tr>
                        <td><pre>1171   GÖNDERİCİ BİRİM YETKİSİ YOK</pre></td>
                        <td><pre>Gönderici birim etiketinde GB yerine PK tanımlanmış olabilir.</pre></td>
                        <td><pre>Gönderici birim etiketinde GB tanımlı olmalıdır.</pre></td>
                        <td><pre>Faturalar yeniden gönderilmeli (faturanın aynı ETTN ile tekrar gönderimine izin verilir.)</pre></td>
                    </tr>
                    <tr>
                        <td><pre>1175   İMZA YETKİSİ KONTROL EDİLEMEDİ</pre></td>
                        <td><pre>İmza yetkisi kontrol edilemedi yanıtı, imzanın yetersiz olduğu anlamına gelmemektedir. Müşterinin ekstra kontrol istediği durumlarda ilgili hata alınır.</pre></td>
                        <td><pre>-</pre></td>
                        <td><pre>Faturalar yeniden gönderilmeli (faturanın aynı ETTN ile tekrar gönderimine izin verilir.)</pre></td>
                    </tr>
                    <tr>
                        <td><pre>1177   GEÇERSİZ İMZA</pre></td>
                        <td><pre>İmza doğrulama geçersizdir.</pre></td>
                        <td><pre>Hatasız gönderim için, gönderimden önce imza doğrulama kontrolü yapılmalıdır.</pre></td>
                        <td><pre>Faturalar yeniden gönderilmeli (faturanın aynı ETTN ile tekrar gönderimine izin verilir.)</pre></td>
                    </tr>
                    <tr>
                        <td><pre>1172   POSTA KUTUSU YETKİSİ YOK</pre></td>
                        <td><pre>Posta kutusu etiketinde PK yerinde GB tanımlanmış olabilir.</pre></td>
                        <td><pre>Posta kutusu etiketinde PK tanımlı olmalıdır.</pre></td>
                        <td><pre>Faturalar yeniden gönderilmeli (faturanın aynı ETTN ile tekrar gönderimine izin verilir.)</pre></td>
                    </tr>
                    <tr>
                        <td><pre>1141   ZARF ID YOK</pre></td>
                        <td><pre>Zarf ID alanı boş ise ilgili hata alınır.</pre></td>
                        <td><pre>Zarf ID alanı boş olmamalıdır.</pre></td>
                        <td><pre>Faturalar yeniden gönderilmeli (faturanın aynı ETTN ile tekrar gönderimine izin verilir.)</pre></td>
                    </tr>
                    <tr>
                        <td><pre>1142   ZARF ID VE ZIP DOSYASI ADI AYNI OLMALI</pre></td>
                        <td><pre>Zarf ID ve ZIP dosyası adı aynı değil ise ilgili hata alınır.</pre></td>
                        <td><pre>Zarf ID ve ZIP dosyası adı aynı olmalıdır.</pre></td>
                        <td><pre>Faturalar yeniden gönderilmeli (faturanın aynı ETTN ile tekrar gönderimine izin verilir.)</pre></td>
                    </tr>
                    <tr>
                        <td><pre>1131   ZIP BİR DOSYA İÇERMELİ</pre></td>
                        <td><pre>Zarf içerisinde dosya bulunmadığında ilgili hata alınır.</pre></td>
                        <td><pre>Zarf içerisinde en az bir dosya (fatura veya yanıt) bulunmalıdır.</pre></td>
                        <td><pre>Faturalar yeniden gönderilmeli (faturanın aynı ETTN ile tekrar gönderimine izin verilir.)</pre></td>
                    </tr>
                    <tr>
                        <td><pre>1110   ZIP DOSYASI DEĞİL</pre></td>
                        <td><pre>Zarf formatı ZIP formatında değilse ilgili hata alınır.</pre></td>
                        <td><pre>Gönderilen zarf formatı ZIP olmalıdır.</pre></td>
                        <td><pre>Faturalar yeniden gönderilmeli (faturanın aynı ETTN ile tekrar gönderimine izin verilir.)</pre></td>
                    </tr>
                    <tr>
                        <td><pre>1133   ZARF ID VE XML DOSYASININ ADI AYNI OLMALI</pre></td>
                        <td><pre>Zarf ID (&lt;sh:DocumentIdentification&gt;) ile XML ID (xxxxxxxx.xml) aynı karakterleri içermez ise ilgili hata alınır.</pre></td>
                        <td><pre>Zarf ID (&lt;sh:DocumentIdentification&gt;) ile XML ID (xxxxxxxx.xml) aynı karakterleri içermelidir.</pre></td>
                        <td><pre>Faturalar yeniden gönderilmeli (faturanın aynı ETTN ile tekrar gönderimine izin verilir.)</pre></td>
                    </tr>
                    <tr>
                        <td><pre>1111   ZARF ID UZUNLUĞU GEÇERSİZ</pre></td>
                        <td><pre>Zarf ID uzunluğu 32 karakterden farklıysa ilgili hata alınır.</pre></td>
                        <td><pre>Zarf ID uzunluğu 32 karakter olmalıdır.</pre></td>
                        <td><pre>Faturalar yeniden gönderilmeli (faturanın aynı ETTN ile tekrar gönderimine izin verilir.)</pre></td>
                    </tr>
                    <tr>
                        <td><pre>1130   ZIP AÇILAMADI</pre></td>
                        <td><pre>Zarf okunamadığı durumlarda ilgili hata alınır.</pre></td>
                        <td><pre>GİB sisteminde geçici bir durum olabilir veya zarfın dosyasında hata olabilir. Dosyada hata varsa yeniden zarflanıp gönderilmelidir; aksi halde faturalar yeniden gönderilmelidir.</pre></td>
                        <td><pre>Faturalar yeniden gönderilmeli (faturanın aynı ETTN ile tekrar gönderimine izin verilir.)</pre></td>
                    </tr>
                    <tr>
                        <td><pre>1140   DOKÜMAN AYRIŞTIRILAMADI</pre></td>
                        <td><pre>Zarftaki faturalar doğru şekilde çıkarılamadığı için ilgili hata alınır.</pre></td>
                        <td><pre>-</pre></td>
                        <td><pre>Faturalar yeniden gönderilmeli (faturanın aynı ETTN ile tekrar gönderimine izin verilir.)</pre></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        $(function () {
            var $tbl = $('#grid_Tevkifat');
            if ($.fn.DataTable.isDataTable($tbl)) {
                $tbl.DataTable().destroy();
            }
            $tbl.DataTable({
                pageLength: 25,
                order: [[0, 'asc']],
                language: { url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/tr.json' }
            });
        });
    </script>
}
