@{
    ViewData["Title"] = "İstisna Kodları";
    ViewData["Subtitle"] = "Listeler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <style>
        .dataTables_wrapper .dataTables_filter input {
            min-width: 220px;
        }

        .box.box-primary {
            border-top-color: #3c8dbc;
        }

        .dt-head-center thead th {
            text-align: center;
        }

        td pre {
            white-space: pre-wrap;
            margin: 0;
            font-family: inherit;
        }
    </style>
}

<section class="content">
    <h2>İstisna Kod Listesi</h2>

    <div class="box box-primary">
        <div class="box-body">
            <table id="grid_exceptional" class="table table-bordered table-hover dataTable dt-head-center" width="100%">
                <thead>
                    <tr>
                        <th style="width:20%">İstisna Kodu</th>
                        <th style="width:80%">İstisna Adı</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>101</td>
                        <td>&#214;TV-İhracat İstisnası</td>
                    </tr>
                    <tr>
                        <td>102</td>
                        <td>&#214;TV-Diplomatik İstisna</td>
                    </tr>
                    <tr>
                        <td>103</td>
                        <td>&#214;TV-Askeri Ama&#231;lı İstisna</td>
                    </tr>
                    <tr>
                        <td>104</td>
                        <td>&#214;TV-Petrol Arama Faaliyetlerinde Bulunanlara Yapılan Teslimler</td>
                    </tr>
                    <tr>
                        <td>105</td>
                        <td>&#214;TV-Uluslararası Anlaşmadan Doğan İstisna</td>
                    </tr>
                    <tr>
                        <td>106</td>
                        <td>&#214;TV-Diğer İstisnalar</td>
                    </tr>
                    <tr>
                        <td>107</td>
                        <td>&#214;TV-7/a Maddesi Kapsamında Yapılan Teslimler</td>
                    </tr>
                    <tr>
                        <td>108</td>
                        <td>&#214;TV-Ge&#231;ici 5. Madde Kapsamında Yapılan Teslimler</td>
                    </tr>
                    <tr>
                        <td>151</td>
                        <td>&#214;TV- İstisna Olmayan Diğer</td>
                    </tr>
                    <tr>
                        <td>201</td>
                        <td>17/1 K&#252;lt&#252;r ve eğitim amacı taşıyan işlemler</td>
                    </tr>
                    <tr>
                        <td>202</td>
                        <td>17/2-a Sağlık, &#231;evre ve sosyal yardım ama&#231;lı işlemler</td>
                    </tr>
                    <tr>
                        <td>204</td>
                        <td>17/2-c Yabancı diplomatik organ ve hayır kurumlarının bağışlarıyla ilgili mal ve hizmet alışları</td>
                    </tr>
                    <tr>
                        <td>205</td>
                        <td>17/2-d Taşınmaz k&#252;lt&#252;r varlıklarına ilişkin teslimler ve mimarlık hizmetleri</td>
                    </tr>
                    <tr>
                        <td>206</td>
                        <td>17/2-e Mesleki kuruluşların işlemleri</td>
                    </tr>
                    <tr>
                        <td>207</td>
                        <td>17/3 Askeri fabrika</td>
                    </tr>
                    <tr>
                        <td>208</td>
                        <td>17/4-c Birleşme, devir, d&#246;n&#252;ş&#252;m ve b&#246;l&#252;nme işlemleri</td>
                    </tr>
                    <tr>
                        <td>209</td>
                        <td>17/4-e Banka ve sigorta muameleleri vergisi kapsamına giren işlemler</td>
                    </tr>
                    <tr>
                        <td>211</td>
                        <td>17/4-h Zirai ama&#231;lı veya k&#246;y t&#252;zel kişiliklerince yapılan i&#231;me suyu teslimleri</td>
                    </tr>
                    <tr>
                        <td>212</td>
                        <td>17/4-ı Serbest b&#246;lgelerde verilen hizmetler</td>
                    </tr>
                    <tr>
                        <td>213</td>
                        <td>17/4-j Boru hattı ile yapılan petrol ve gaz taşımacılığı</td>
                    </tr>
                    <tr>
                        <td>214</td>
                        <td>17/4-k Sanayi b&#246;lgelerindeki arsa ve işyeri teslimleri ile konut yapı kooperatiflerinin &#252;yelerine konut teslimleri</td>
                    </tr>
                    <tr>
                        <td>215</td>
                        <td>17/4-l Varlık y&#246;netim şirketlerinin işlemleri</td>
                    </tr>
                    <tr>
                        <td>216</td>
                        <td>17/4-m Tasarruf mevduatı sigorta fonunun işlemleri</td>
                    </tr>
                    <tr>
                        <td>217</td>
                        <td>17/4-n Basın-Yayın ve Enformasyon Genel M&#252;d&#252;rl&#252;ğ&#252;ne verilen haber hizmetleri</td>
                    </tr>
                    <tr>
                        <td>218</td>
                        <td>17/4-0 G&#252;mr&#252;k antrepoları, ge&#231;ici depolama yerleri, g&#252;mr&#252;kl&#252; sahalar ve vergisiz satış yapılan mağazalarla ilgili hizmetler</td>
                    </tr>
                    <tr>
                        <td>219</td>
                        <td>17/4-p Hazine ve Arsa Ofisi Genel M&#252;d&#252;rl&#252;ğ&#252;n&#252;n işlemleri</td>
                    </tr>
                    <tr>
                        <td>221</td>
                        <td>Ge&#231;ici 15 Konut yapı kooperatifleri, belediyeler ve sosyal g&#252;venlik kuruluşlarına verilen inşaat taahh&#252;t hizmeti</td>
                    </tr>
                    <tr>
                        <td>223</td>
                        <td>Ge&#231;ici 20/1 Teknoloji geliştirme b&#246;lgelerinde yapılan işlemler</td>
                    </tr>
                    <tr>
                        <td>225</td>
                        <td>Ge&#231;ici 23 Milli Eğitim Bakanlığına yapılan bilgisayar bağışları ile ilgili teslimler</td>
                    </tr>
                    <tr>
                        <td>226</td>
                        <td>17/2-b &#214;zel Okulları, &#220;niversite ve Y&#252;ksekokullar Tarafından Verilen Bedelsiz Eğitim Ve &#214;ğretim Hizmetleri</td>
                    </tr>
                    <tr>
                        <td>227</td>
                        <td>17/2-b Kanunların G&#246;sterdiği Gerek &#220;zerine Bedelsiz Olarak Yapılan Teslim ve Hizmetler</td>
                    </tr>
                    <tr>
                        <td>228</td>
                        <td>17/2-b Kanunun (17/1) Maddesinde Sayılan Kurum ve Kuruluşlara Bedelsiz Olarak Yapılan Teslimler</td>
                    </tr>
                    <tr>
                        <td>229</td>
                        <td>17/2-b Gıda Bankacılığı Faaliyetinde Bulunan Dernek ve Vakıflara Bağışlanan Gıda, Temizlik, Giyecek ve Yakacak Maddeleri</td>
                    </tr>
                    <tr>
                        <td>230</td>
                        <td>17/4-g K&#252;l&#231;e Altın, K&#252;l&#231;e G&#252;m&#252;ş Ve Kiymetli Taşlarin Teslimi</td>
                    </tr>
                    <tr>
                        <td>231</td>
                        <td>17/4-g Metal Plastik, Lastik, Kau&#231;uk, Kağit, Cam Hurda Ve Atıkların Teslimi</td>
                    </tr>
                    <tr>
                        <td>232</td>
                        <td>17/4-g D&#246;viz, Para, Damga Pulu, Değerli Kağıtlar, Hisse Senedi ve Tahvil Teslimleri</td>
                    </tr>
                    <tr>
                        <td>234</td>
                        <td>17/4-ş Konut Finansmanı Amacıyla Teminat G&#246;sterilen ve İpotek Konulan Konutların Teslimi</td>
                    </tr>
                    <tr>
                        <td>235</td>
                        <td>16/1-c Transit ve G&#252;mr&#252;k Antrepo Rejimleri İle Ge&#231;ici Depolama ve Serbest B&#246;lge H&#252;k&#252;mlerinin Uygulandığiı Malların Teslimi</td>
                    </tr>
                    <tr>
                        <td>236</td>
                        <td>19/2 Usul&#252;ne G&#246;re Y&#252;r&#252;rl&#252;ğe Girmiş Uluslararası Anlaşmalar Kapsamındaki İstisnalar (İade Hakkı Tanınmayan)</td>
                    </tr>
                    <tr>
                        <td>237</td>
                        <td>17/4-t 5300 Sayılı Kanuna G&#246;re D&#252;zenlenen &#220;r&#252;n Senetlerinin İhtisas/Ticaret Borsaları Aracılığıyla İlk Teslimlerinden Sonraki Teslim</td>
                    </tr>
                    <tr>
                        <td>238</td>
                        <td>17/4-u Varlıkların Varlık Kiralama Şirketlerine Devri İle Bu Varlıkların Varlık Kiralama Şirketlerince Kiralanması ve Devralınan Kuruma Devri</td>
                    </tr>
                    <tr>
                        <td>239</td>
                        <td>17/4-y Taşınmazların Finansal Kiralama Şirketlerine Devri, Finansal Kiralama Şirketi Tarafından Devredene Kiralanması ve Devri</td>
                    </tr>
                    <tr>
                        <td>240</td>
                        <td>17/4-z Patentli Veya Faydalı Model Belgeli Buluşa İlişkin Gayri Maddi Hakların Kiralanması, Devri ve Satış</td>
                    </tr>
                    <tr>
                        <td>250</td>
                        <td>Diğerleri</td>
                    </tr>
                    <tr>
                        <td>301</td>
                        <td>11/1-a Mal ihracatı</td>
                    </tr>
                    <tr>
                        <td>302</td>
                        <td>11/1-a Hizmet ihracatı</td>
                    </tr>
                    <tr>
                        <td>303</td>
                        <td>11/1-a Roaming hizmetleri</td>
                    </tr>
                    <tr>
                        <td>304</td>
                        <td>13/a Deniz hava ve demiryolu taşıma ara&#231;larının teslimi ile inşa, tadil, bakım ve onarımları</td>
                    </tr>
                    <tr>
                        <td>305</td>
                        <td>13/b Deniz ve hava taşıma ara&#231;ları i&#231;in liman ve hava meydanlarında yapılan hizmetler</td>
                    </tr>
                    <tr>
                        <td>306</td>
                        <td>13/c Petrol aramaları</td>
                    </tr>
                    <tr>
                        <td>307</td>
                        <td>13/c Kıymetli madenlerin arama, zenginleştirme ve rafinaj faaliyetleri</td>
                    </tr>
                    <tr>
                        <td>308</td>
                        <td>13/d Teşvikli yatırım mallarının teslimi</td>
                    </tr>
                    <tr>
                        <td>309</td>
                        <td>13/e Liman ve hava meydanlarının inşası, yenilenmesi ve genişletilmesi</td>
                    </tr>
                    <tr>
                        <td>310</td>
                        <td>13/f Ulusal g&#252;venlik ama&#231;lı teslim ve hizmetler</td>
                    </tr>
                    <tr>
                        <td>311</td>
                        <td>14 Uluslararası taşımacılık</td>
                    </tr>
                    <tr>
                        <td>312</td>
                        <td>15/a Diplomatik organ ve misyonlara yapılan teslim ve hizmetler</td>
                    </tr>
                    <tr>
                        <td>313</td>
                        <td>15/b Uluslararası kuruluşlara yapılan teslim ve hizmetler</td>
                    </tr>
                    <tr>
                        <td>314</td>
                        <td>19/2 Usul&#252;ne G&#246;re Y&#252;r&#252;rl&#252;ğe Girmiş Uluslar Arası Anlaşmalar Kapsamındaki İstisnalar</td>
                    </tr>
                    <tr>
                        <td>315</td>
                        <td>14/3 İhra&#231; Konusu Eşyayı Taşıyan Kamyon, &#199;ekici ve Yarı Romorklara Yapılan Motorin Teslimleri</td>
                    </tr>
                    <tr>
                        <td>316</td>
                        <td> 11/1-a Serbest B&#246;lgelerdeki M&#252;şteriler İ&#231;in Yapılan Fason Hizmetler</td>
                    </tr>
                    <tr>
                        <td>317</td>
                        <td>17/4-s Engellilerin Eğitimleri, Meslekleri ve G&#252;nl&#252;k Yaşamlarına İlişkin Ara&#231;-Gere&#231; ve Bilgisayar Programları</td>
                    </tr>
                    <tr>
                        <td>319</td>
                        <td>13/g Başbakanlık Merkez Teşkilatına Yapılan Ara&#231; Teslimleri</td>
                    </tr>
                    <tr>
                        <td>320</td>
                        <td>Ge&#231;ici 16 (6111 sayılı K.) İSMEP Kapsamında İstanbul İl &#214;zel İdaresi&#39;ne Bağlı Olarak Faaliyet G&#246;steren İstanbul Proje Koordinasyon Birimi&#39;ne Yapılacak Teslim ve Hizmetler</td>
                    </tr>
                    <tr>
                        <td>322</td>
                        <td>11/1-a T&#252;rkiye&#39;de İkamet Etmeyenlere &#214;zel Fatura ile Yapılan Teslimler (Bavul Ticareti)</td>
                    </tr>
                    <tr>
                        <td>323</td>
                        <td>13/ğ 5300 Sayılı Kanuna G&#246;re D&#252;zenlenen &#220;r&#252;n Senetlerinin İhtisas/Ticaret Borsaları Aracılığıyla İlk Teslimi</td>
                    </tr>
                    <tr>
                        <td>350</td>
                        <td>Diğerleri</td>
                    </tr>
                    <tr>
                        <td>351</td>
                        <td>KDV - İstisna Olmayan Diğer</td>
                    </tr>
                    <tr>
                        <td>326</td>
                        <td>13/ı Gıda, Tarım ve Hayvancılık Bakanlığı Tarafından Tescil Edilmiş G&#252;brelerin Teslimi</td>
                    </tr>
                    <tr>
                        <td>324</td>
                        <td>13/h T&#252;rkiye Kızılay Derneğine Yapılan Teslim ve Hizmetler ile T&#252;rkiye Kızılay Derneğinin Teslim ve Hizmetleri 325 13/ı Yem Teslimleri</td>
                    </tr>
                    <tr>
                        <td>327</td>
                        <td>13/ı Gıda, Tarım ve Hayvancılık Bakanlığı Tarafından Tescil Edilmiş G&#252;brelerin İ&#231;eriğinde Bulunan Hammaddelerin G&#252;bre &#220;reticilerine Teslimi</td>
                    </tr>
                    <tr>
                        <td>220</td>
                        <td>17/4-r İki Tam Yıl S&#252;reyle Sahip Olunan Taşınmaz ve İştirak Hisseleri Satışları</td>
                    </tr>
                    <tr>
                        <td>325</td>
                        <td>13/ı Yem Teslimleri</td>
                    </tr>
                    <tr>
                        <td>241</td>
                        <td>T&#252;rkAkım Gaz Boru Hattı Projesine İlişkin Anlaşmanın (9/b) Maddesinde Yer Alan Hizmetler</td>
                    </tr>
                    <tr>
                        <td>328</td>
                        <td>13/i Konut veya İşyeri Teslimleri</td>
                    </tr>
                    <tr>
                        <td>330</td>
                        <td>KDV 13/j md. Organize Sanayi B&#246;lgeleri ile K&#252;&#231;&#252;k Sanayi Sitelerinin İnşasına İlişkin Teslim ve Hizmetler</td>
                    </tr>
                    <tr>
                        <td>331</td>
                        <td>KDV 13/m md. Ar-Ge, Yenilik ve Tasarım Faaliyetlerinde Kullanılmak &#220;zere Yapılan Yeni Makina ve Te&#231;hizat Teslimlerinde İstisna</td>
                    </tr>
                    <tr>
                        <td>332</td>
                        <td>KDV Ge&#231;ici 39. Md. İmalat Sanayiinde Kullanılmak &#220;zere Yapılan Yeni Makina ve Te&#231;hizat Teslimlerinde İstisna</td>
                    </tr>
                    <tr>
                        <td>242</td>
                        <td>KDV 17/4-&#246; md. G&#252;mr&#252;k Antrepoları, Ge&#231;ici Depolama Yerleri ile G&#252;mr&#252;kl&#252; Sahalarda, İthalat ve İhracat İşlemlerine konu mallar ile transit rejim kapsamında işlem g&#246;ren mallar i&#231;in verilen ardiye, depolama ve terminal hizmetleri</td>
                    </tr>
                    <tr>
                        <td>333</td>
                        <td>KDV 13/k md. Kapsamında Genel ve &#214;zel B&#252;t&#231;eli Kamu İdarelerine, İl &#214;zel İdarelerine, Belediyelere ve K&#246;ylere bağışlanan Tesislerin İnşasına İlişkin İstisna</td>
                    </tr>
                    <tr>
                        <td>334</td>
                        <td>KDV 13/l md. Kapsamında Yabancılara Verilen Sağlık Hizmetlerinde İstisna</td>
                    </tr>
                    <tr>
                        <td>335</td>
                        <td>KDV 13/n Basılı Kitap ve S&#252;reli Yayınların Teslimleri</td>
                    </tr>
                    <tr>
                        <td>336</td>
                        <td>Ge&#231;ici 40 UEFA M&#252;sabakaları Kapsamında Yapılacak Teslim ve Hizmetler</td>
                    </tr>
                    <tr>
                        <td>337</td>
                        <td>T&#252;rk Akım Gaz Boru Hattı Projesine İlişkin Anlaşmanın (9/h) Maddesi Kapsamındaki Gaz Taşıma Hizmetleri</td>
                    </tr>
                    <tr>
                        <td>338</td>
                        <td>İmalat&#231;ıların Mal İhracatları</td>
                    </tr>
                    <tr>
                        <td>339</td>
                        <td>İmalat Sanayii ile Turizme Y&#246;nelik Yatırım Teşvik Belgesi Kapsamındaki İnşaat İşlerine İlişkin Teslim ve Hizmetler</td>
                    </tr>
                    <tr>
                        <td>001</td>
                        <td>Diplomatik İstisna</td>
                    </tr>
                    <tr>
                        <td>340</td>
                        <td>Elektrik Motorlu Taşıt Ara&#231;larının Geliştirilmesine Y&#246;nelik M&#252;hendislik Hizmetleri</td>
                    </tr>
                    <tr>
                        <td>342</td>
                        <td>
                            Genel B&#252;t&#231;eli Kamu İdarelerine Bağışlanacak Taşınmazların İnşasına
                            İlişkin İstisna
                        </td>
                    </tr>
                    <tr>
                        <td>343</td>
                        <td>
                            Genel B&#252;t&#231;eli Kamu İdarelerine Bağışlanacak Konutların Yabancı Devlet
                            Kurum ve Kuruluşlarına Teslimine İlişkin İstisna
                        </td>
                    </tr>
                    <tr>
                        <td>344</td>
                        <td>13/o Milli Savunma ve İ&#231; G&#252;venlik İhtiya&#231;larında Kullanılmak &#220;zere Taşıt Teslimi</td>
                    </tr>
                    <tr>
                        <td>308</td>
                        <td>13/d Teşvikli Yatırım Mallarının Teslimi</td>
                    </tr>
                    <tr>
                        <td>339</td>
                        <td>İmalat Sanayi ile Turizme Y&#246;nelik Yatırım Teşvik Belgesi Kapsamındaki İnşaat İşlerine İlişkin Teslim ve Hizmetle</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        $(function () {
            $('#grid_exceptional').DataTable({
                pageLength: 50,
                lengthMenu: [[25, 50, 100, -1], [25, 50, 100, "Tümü"]],
                order: [[0, 'asc']],
                columnDefs: [{ targets: 0, type: 'num' }],
                deferRender: true,
                stateSave: true,
                language: { url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/tr.json' }
            });
        });
    </script>
}
