@{
    ViewData["Title"] = "Malzeme/Hizmet Listesi";
    ViewData["Subtitle"] = "Stok";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <style>
        .dataTables_wrapper .dataTables_filter input {
            min-width: 240px;
        }

        .box {
            border: 1px solid #ddd;
            margin-bottom: 15px;
        }

        .box-header {
            padding: 10px 15px;
            border-bottom: 1px solid #eee;
            background: #fafafa;
        }

        .box-body {
            padding: 15px;
        }

        .box-footer {
            padding: 10px 15px;
            border-top: 1px solid #eee;
            background: #fafafa;
        }

        .dt-head-center thead th {
            text-align: center;
        }

        .input-xxs {
            width: 90px;
        }

        td pre {
            white-space: pre-wrap;
            margin: 0;
            font-family: inherit;
        }
    </style>
}

<section class="content">
    <h2>Malzeme/Hizmet Listesi</h2>

    <!-- Arama & Aksiyonlar -->
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Ürün/Hizmet Arama</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="form-group col-md-4">
                    <label>Ürün/Hizmet Kodu</label>
                    <input id="txtUrunKodu" type="text" class="form-control">
                </div>
                <div class="form-group col-md-4">
                    <label>Ürün/Hizmet Adı</label>
                    <input id="txtUrunHizmetAdi" type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="box-footer clearfix">
            <div class="pull-left">
                <button type="button" id="btnMalzemeOlustur" class="btn btn-success">
                    Yeni Oluştur &nbsp;<span class="btn-label"><i class="glyphicon glyphicon-plus"></i></span>
                </button>

                <label class="btn btn-default" for="FileExcel" style="margin-left:5px;">
                    Excel'den Aktar &nbsp;<span class="btn-label"><i class="glyphicon glyphicon-import"></i></span>
                </label>
                <input type="file" id="FileExcel" accept=".xlsx" style="display:none;">

                <button type="button" id="btnExceleAktar" class="btn btn-default" style="margin-left:5px;">
                    Excel'e Aktar &nbsp;<span class="btn-label"><i class="glyphicon glyphicon-export"></i></span>
                </button>

                <button type="button" id="btnTopluSil" class="btn btn-default" style="margin-left:5px;">
                    Seçilenleri Toplu Sil &nbsp;<span class="btn-label"><i class="glyphicon glyphicon-trash"></i></span>
                </button>
            </div>

            <div class="pull-right">
                <button type="button" id="btnAra" class="btn btn-success">Arama Yap <i class="glyphicon glyphicon-search"></i></button>
                <button type="button" id="btnTemizle" class="btn btn-danger">Temizle <i class="glyphicon glyphicon-remove-circle"></i></button>
            </div>
        </div>
    </div>

    <!-- Liste -->
    <div class="box">
        <div class="box-body" style="overflow:auto">
            <table id="gridStok" class="table table-bordered table-hover dataTable dt-head-center" width="100%">
                <thead>
                    <tr>
                        <th style="width:28px;"><input type="checkbox" id="chkAll" /></th>
                        <th>Ürün/Hizmet Kodu</th>
                        <th>Ürün/Hizmet Adı</th>
                        <th>Marka</th>
                        <th>Birim</th>
                        <th>Birim Fiyat</th>
                        <th>Para Birimi</th>
                        <th style="width:110px;">İşlemler</th>
                    </tr>
                </thead>

                <tbody>
                    <!-- JS ile doldurulacak -->
                </tbody>
            </table>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/apps/listdata.js"></script>
    <script type="module" src="~/apps/MalzemeHizmetList.js"></script>
}


