@{
    ViewData["Title"] = "Özel Matrah Kodları";
    ViewData["Subtitle"] = "Listeler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content">
    <h2>Özel Matrah Kod Listesi</h2>
    <div class="box box-primary">
        <div class="box-body">
            <table id="grid_OzelMatrah" class="table table-bordered table-hover dataTable">
                <thead>
                    <tr>
                        <th>Özel Matrah Kodu</th>
                        <th>Özel Matrah Adı</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td>805</td><td>Altından mamül veya altın ihtiva eden ziynet eşyaları ile sikke altınların teslim ve ithali</td></tr>
                    <tr><td>802</td><td>At yarışları ve diğer müşterek bahis ve talih oyunları</td></tr>
                    <tr><td>809</td><td>Belediyeler tarafından yapılan şehiriçi yolcu taşımacılığında kullanılan biletlerin ve kartların bayiler tarafından satışı</td></tr>
                    <tr><td>807</td><td>Gazete, dergi ve benzeri periyodik yayınlar</td></tr>
                    <tr><td>804</td><td>Gümrük depolarında ve müzayede salonlarında yapılan satışlar</td></tr>
                    <tr><td>812</td><td>İkinci el motorlu kara taşıtı veya taşınmaz ticaretiyle iştigal eden mükelleflerce, KDV mükellefi olmayanlardan alınarak vasfında esaslı değişiklik yapılmaksızın teslimi</td></tr>
                    <tr><td>808</td><td>Külçe gümüş ve gümüşten mamül eşya teslimleri</td></tr>
                    <tr><td>801</td><td>Milli piyango, spor-toto ve benzeri Devletçe organize edilen organizasyonlar</td></tr>
                    <tr><td>803</td><td>Profesyonel sanatçıların gösterileri, konserleri, profesyonel sporcuların maçları, yarışlar ve yarışmalar</td></tr>
                    <tr><td>810</td><td>Telefon kartı ve jeton satışları</td></tr>
                    <tr><td>811</td><td>Türkiye Şoförler ve Otomobilciler Federasyonu araç plakaları ve sürücü kursu evrakı</td></tr>
                    <tr><td>806</td><td>Tütün mamülleri ve bazı alkollü içkiler</td></tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        $(function () {
            $('#grid_OzelMatrah').DataTable({
                "language": { "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Turkish.json" }
            });
        });
    </script>
}
