<div class="row g-2">
    <div class="col-md-4">
        <select id="fltAktiviteId" class="form-select">
            <option value="">Aktivite</option>
        </select>
    </div>
    <div class="col-md-4">
        <select id="fltKullaniciId" class="form-select">
            <option value="">Kullanıcı</option>
        </select>
    </div>
    <div class="col-md-4">
        <select id="fltRol" class="form-select">
            <option value="">Rol</option>
            <option value="Owner">Owner</option>
            <option value="Particip">Particip</option>
        </select>
    </div>
</div>
