<div class="row g-2">
    <div class="col-md-3">
        <select id="fltAktiviteId" class="form-select">
            <option value="">Aktivite</option>
        </select>
    </div>
    <div class="col-md-3">
        <select id="fltKullaniciId" class="form-select">
            <option value="">Kullanıcı</option>
        </select>
    </div>
    <div class="col-md-3">
        <select id="fltRol" class="form-select">
            <option value="">Rol</option>
            <option value="Owner">Owner</option>
            <option value="Particip">Particip</option>
        </select>
    </div>
    <div class="col-md-2 text-end">
        <button id="btnNewAktiviteAtama" class="btn btn-primary w-100">Yeni</button>
    </div>
</div>
