@{
    ViewData["Title"] = "Firma - Apps";
}

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/datatables-bs5/datatables.bootstrap5.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css">
    <link rel="stylesheet" href="~/vendor/libs/&#64;form-validation/form-validation.css" />
}

@section VendorScripts {
    <script src="~/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/popular.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/bootstrap5.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/auto-focus.js"></script>
}

@section PageScripts {
    <script src="~/js/app-access-roles.js"></script>
    <script src="~/js/modal-add-role.js"></script>
}

<h4 class="mb-1">Roles List</h4>

<p class="mb-6">
    A role provided access to predefined menus and features so that depending on <br> assigned role an administrator can have access to what user needs.
</p>

<!-- Partial View: Role Cards -->
<div class="row g-6">
    @await Html.PartialAsync("../_Partials/_RoleCards")

    <!-- Partial View: Roles DataTable -->
    <div class="col-12">
        @await Html.PartialAsync("../_Partials/_RolesDataTable")
    </div>
</div>

<!-- Add Role Modal -->
@await Html.PartialAsync("../_Partials/_Modals/ModalAddRole")
