<div class="row g-2">
    <div class="col-md-6">
        <input id="fltKod" type="text" class="form-control" placeholder="Kod" />
    </div>
    <div class="col-md-6">
        <input id="fltOran" type="number" step="0.01" class="form-control" placeholder="Oran (%)" />
    </div>
</div>
