@{
    ViewData["Title"] = "Hakediş Raporu";
    ViewData["Subtitle"] = "Raporlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Hakediş Raporu</h3>
        </div>
        <div class="box-body">

            <div class="row">
                <div class="col-md-3">
                    <div class="form-horizontal row">
                        <label class="control-label col-sm-6">Fatura Tarihi (Başlangıç)</label>
                        <div class="col-sm-6 inputPadding">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                <input id="DateStart" type="text" class="form-control datepicker" value="02.09.2025">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-horizontal row">
                        <label class="control-label col-sm-6">Fatura Tarihi (Bitiş)</label>
                        <div class="col-sm-6 inputPadding">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                <input id="DateEnd" type="text" class="form-control datepicker" value="02.10.2025">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="box-footer">
            <div>
                <div class="input-group input-group-md pull-left">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Toplu İşlem Seçiniz <span class="fa fa-caret-down"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" onclick="excelAktarModal(true)"><i class="fa fa-file-excel-o"></i> Toplu Excel'e Aktar</a></li>
                    </ul>
                </div>

                <div class="input-group input-group-md pull-right" style="padding: 3px 6px;">
                    <button onclick="gridSearch()" type="button" class="btn btn-success">
                        Sorgula <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="body-inner">
        <div class="table-vertical">
            <table id="myDataTable" class="table table-bordered table-hover dataTable dt-head-center">
                <thead>
                    <tr>
                        <th>VKN/TCKN</th>
                        <th>AD</th>
                        <th>Toplam Ödeme</th>
                        <th>Hakediş Oranı</th>
                        <th>Hakediş</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td colspan="5" class="dataTables_empty">Tabloda herhangi bir veri mevcut değil</td></tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" align="right">
                            Toplam Hakediş :
                            <span id="totalDeservedAmount" style="font-weight: bold">₺0,00</span>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <!-- Modal: Excel Aktar -->
    <div class="modal fade" id="modal-exceleaktar">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="box-body form-horizontal">
                    <div class="col-md-12">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                            <h4 class="modal-title">Excel Düzenle ve Aktar</h4>
                        </div>
                        <div class="modal-body">
                            <form id="ExceleAktarForm">
                                <div class="col-md-12">
                                    <label style="margin-bottom:20px">Tarih Aralığına Göre Aktar:</label>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <span>Fatura Başlangıç Tarihi</span>
                                            <input type="text" class="form-control datepicker" id="faturaBaslangicTarihi">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <span>Fatura Bitiş Tarihi</span>
                                            <input type="text" class="form-control datepicker" id="faturaBitisTarihi">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="exceleAktar" onclick="excelaktar()" type="button" class="btn btn-success pull-right">
                                            Onayla <i class="glyphicon glyphicon-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        $(function () {
            $('#myDataTable').DataTable({
                "language": { "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Turkish.json" }
            });
        });
    </script>
    <script src="/hizlicss/jsv643136158/Report/deservedReport.js"></script>
}
