<div class="row g-2">
    <div class="col-md-4">
        <select id="fltBayiId" class="form-select">
            <option value="">Bayi</option>
        </select>
    </div>
    <div class="col-md-4">
        <input id="fltVergiNo" type="text" class="form-control" placeholder="Vergi No" />
    </div>
    <div class="col-md-4">
        <input id="fltIban" type="text" class="form-control" placeholder="IBAN" />
    </div>
</div>
