<div class="row g-2">
    <div class="col-md-3">
        <select id="fltBayiId" class="form-select">
            <option value="">Bayi</option>
        </select>
    </div>
    <div class="col-md-3">
        <input id="fltVergiNo" type="text" class="form-control" placeholder="Vergi No" />
    </div>
    <div class="col-md-3">
        <input id="fltIban" type="text" class="form-control" placeholder="IBAN" />
    </div>
    <div class="col-md-3 text-end">
        <button id="btnNewBayiFirma" class="btn btn-primary w-100">Yeni</button>
    </div>
</div>
