@{
  TempData.Keep();

  string? currentPage = ViewContext.HttpContext.Request.Path;

  ViewData["containerNav"] ??= "container-fluid";
}
@{
    bool isMM = currentPage!.StartsWith("/MaliMusavir");
    bool isLuca = currentPage!.StartsWith("/Luca");
    bool isKA = currentPage!.StartsWith("/KeyAccount");
    bool isTr = currentPage!.StartsWith("/Transfers");
    bool isBayi = currentPage!.StartsWith("/Bayi");
    bool isKul = currentPage!.StartsWith("/Kullanici");
    bool isMuhasebeGrp = isMM || isLuca || isKA || isTr || isKul;
}


<!-- Menu -->
<aside id="layout-menu" class="layout-menu-horizontal menu-horizontal  menu bg-menu-theme flex-grow-0">
  <div class='@ViewData["containerNav"] d-flex h-100'>
    @* ! Full version menu-items *@
    <ul class="menu-inner pb-2 pb-xl-0">
            <!-- Muhasebe -->
            <!-- Muhasebe (role-guard) -->
            <li class="menu-item" id="menuGrpMuhasebe">
                <a href="javascript:void(0)" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons ti ti-briefcase"></i>
                    <div>Muhasebe</div>
                </a>
                <ul class="menu-sub">
                    <li class="menu-item" id="menuMM">
                        <a asp-controller="MaliMusavir" asp-action="Index" class="menu-link"><div>Mali Müşavir</div></a>
                    </li>
                    <li class="menu-item" id="menuBayi">
                        <a asp-controller="Bayi" asp-action="Index" class="menu-link"><div>Bayi</div></a>
                    </li>
                    <li class="menu-item" id="menuKullanici">
                        <a asp-controller="Kullanici" asp-action="Index" class="menu-link"><div>Kullanıcılar</div></a>
                    </li>
                    <li class="menu-item" id="menuTransfers">
                        <a asp-controller="Transfers" asp-action="Index" class="menu-link"><div>Transfers</div></a>
                    </li>
                    <li class="menu-item" id="menuLuca">
                        <a asp-controller="Luca" asp-action="Index" class="menu-link"><div>Luca</div></a>
                    </li>
                    <li class="menu-item" id="menuKeyAccount">
                        <a asp-controller="KeyAccount" asp-action="Index" class="menu-link"><div>Key Account</div></a>
                    </li>
                </ul>
            </li>

            <script type="module" src="~/ApiJS/Guards/menu-guard.js" asp-append-version="true"></script>


      <!-- Misc -->
      <li class="menu-item">
        <a href="javascript:void(0)" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons ti ti-box-multiple"></i>
          <div data-i18n="Misc">Nox</div>
        </a>
      </li>
    </ul>
  </div>
</aside>
<!-- / Menu -->
