<div class="row g-2">
    <div class="col-md-3">
        <input id="fltAlici" type="text" class="form-control" placeholder="Alıcı" />
    </div>
    <div class="col-md-3">
        <input id="fltKonu" type="text" class="form-control" placeholder="Konu" />
    </div>
    <div class="col-md-4">
        <input id="fltIcerik" type="text" class="form-control" placeholder="İçerik" />
    </div>
    <div class="col-md-2">
        <select id="fltBasariliMi" class="form-select">
            <option value="">Başarılı mı?</option>
            <option value="true">Evet</option>
            <option value="false">Hayır</option>
        </select>
    </div>
</div>
