@{
    ViewData["Title"] = "Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <style>
        /* Sayfaya özgü ufak düzenlemeler */
        .small-box .icon {
            top: 5px;
        }

        .box .box-title {
            font-weight: 600;
        }

        .dovizContainer {
            margin: 4px 0;
        }

        .dovizUstBaslik, .dovizYanBaslik {
            text-align: center;
        }

        .dovizIcerikAlis, .dovizIcerikSatis {
            text-align: right;
        }

        canvas#myChart {
            max-width: 100%;
            height: 260px;
        }
    </style>
}

<!-- Small boxes (Stat box) -->
<div class="row" id="faturadiv" hidden>
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3 id="inboxCount">0</h3>
                <p>Gelen e-Faturalar</p>
            </div>
            <div class="icon"><i class="ion-ios-filing"></i></div>
            <a href="/EInvoice/InboxInvoice" class="small-box-footer">Daha Fazla Bilgi <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-green">
            <div class="inner">
                <h3 id="outboxCount">0</h3>
                <p>Giden e-Faturalar</p>
            </div>
            <div class="icon"><i class="ion-ios-paperplane"></i></div>
            <a href="/EInvoice/OutboxInvoice" class="small-box-footer">Daha Fazla Bilgi <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3 id="archiveCount">0</h3>
                <p>Giden e-Arşiv Faturalar</p>
            </div>
            <div class="icon"><i class="ion-ios-paperplane"></i></div>
            <a href="/EArchive/OutboxEarchiveInvoice" class="small-box-footer">Daha Fazla Bilgi <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>!</h3>
                <p>Belge Sayıları 2 saat ara ile güncellenmektedir.</p>
            </div>
            <div class="icon"><i class="ion-ios-filing"></i></div>
            <a href="/Settings/DocumentStates" class="small-box-footer">Hatalı belge sayfasına gitmek için tıklayınız <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        <section class="connectedSortable">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Aylık Tutarlar</h3>
                    <div class="input-group input-group-md pull-right">
                        <div class="col-sm-12">
                            <label class="control-label col-sm-3"> Yıl </label>
                            <div class="col-sm-9">
                                <select id="IntegrationYear" class="form-control" onchange="setYear()">
                                    <option value="2025">2025</option>
                                    <option value="2024">2024</option>
                                    <option value="2023">2023</option>
                                    <option value="2022">2022</option>
                                    <option value="2021">2021</option>
                                    <option value="2020">2020</option>
                                    <option value="2019">2019</option>
                                    <option value="2018">2018</option>
                                    <option value="2017">2017</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="chart">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>
        </section>

        <section class="connectedSortable">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Yeni Web Sayfamız Yayında</h3>
                </div>
                <div class="box-body">
                    <a href="#" target="_blank">
                        <img src="~/login/images/nox_musavirim_login-02.png" title="Web sayfasına gitmek için tıklayınız" style="width:100%; height:80%;">
                    </a>
                </div>
            </div>
        </section>
    </div>

    <div class="col-md-3">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title"><b>KALAN BAKİYENİZ</b></h3>
            </div>
            <div class="box-body form-horizontal">

                <div class="form-group">
                    <div class="col-sm-10"><label>Kontör Durumu</label></div>
                    <div class="col-sm-10"><span> Yüklenen Kontör: <span id="creditTotal">1.000</span> </span></div>
                    <div class="col-sm-10"><span> Harcanan Kontör: <span id="creditStatus">0</span> </span></div>
                    <div class="col-sm-10" id="kalanKontor"><span> Kalan Kontör: <span id="creditRemainder">1.000</span> </span></div>
                    <div hidden class="col-sm-10" id="kampanyaStatus"><span> Kampanya Durumu: <span id="kampanyaStatusText"></span> </span></div>
                </div>

                <div hidden id="transferdiv" class="form-group">
                    <hr class="solid">
                    <div class="col-sm-10"><label>Transfer Durumu(Ücretsiz)</label></div>
                    <div class="col-sm-10"><span> Harcanan  Kontör: <span id="transferStatus"></span> </span></div>
                </div>

                <div hidden id="kasadiv">
                    <hr class="solid">
                    <div class="form-group">
                        <div class="col-sm-10"><label>Kasa Durumu</label></div>
                        <div class="col-sm-10"><span> Yüklenen  Kontör: <span id="caseTotal"></span> </span></div>
                        <div class="col-sm-10"><span> Harcanan  Kontör: <span id="caseStatus"></span> </span></div>
                        <div class="col-sm-10" id="kalanKontorKasa"><span>Kalan  Kontör: <span id="caseRemainder"></span> </span></div>
                    </div>
                </div>

                <div hidden id="edefterPaketdiv">
                    <hr class="solid">
                    <div class="form-group">
                        <div class="col-sm-10"><label>EDefter Paket Durumu</label></div>
                        <div class="col-sm-10"><span> Yüklenen  Kontör: <span id="edefterPaketTotal"></span> </span></div>
                        <div class="col-sm-10"><span> Harcanan  Kontör: <span id="edefterPaketStatus"></span> </span></div>
                        <div class="col-sm-10"><span>Kalan  Kontör: <span id="edefterPaketRemainder"></span> </span></div>
                    </div>
                </div>

                <div hidden id="ebelgePaketDiv">
                    <hr class="solid">
                    <div class="form-group">
                        <div class="col-sm-10"><label>EBelge Paket Durumu</label></div>
                        <div class="col-sm-10"><span> Yüklenen  Kontör: <span id="ebelgePaketTotal"></span> </span></div>
                        <div class="col-sm-10"><span> Harcanan  Kontör: <span id="ebelgePaketStatus"></span> </span></div>
                        <div class="col-sm-10"><span>Kalan  Kontör: <span id="ebelgePaketRemainder"></span> </span></div>
                    </div>
                </div>

                <div hidden id="bayiKontorDiv">
                    <div class="form-group">
                        <div class="col-sm-10"><label>Bayi Kontör Raporu</label></div>
                        <table id="bayiKontorList" class="table table-bordered table-hover dataTable" style="width:100%">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

                <div hidden id="debitdiv">
                    <hr class="solid">
                    <div class="form-group">
                        <div class="col-sm-10"><span>Güncel Cari Bakiyeniz: <span id="debit"></span> TL (Borç)</span></div>
                        <div class="col-sm-10"><a target="_blank" href="#">Online Ödeme için tıklayınız</a></div>
                    </div>
                </div>

                <hr class="solid">

                <div class="form-group">
                    <div class="col-sm-10">
                        <div class="col-md-12">
                            <button type="button" onclick="kontorModal('','')" id="btn_copy" class="btn btn-primary" style="margin-bottom:10px">
                                Kontör Geçmişi
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title"><b>TCMB Döviz Kurları</b></h3>
            </div>
            <div class="box-body form-horizontal">
                <img src="#" style="padding-top:0; width:100%; height:100%;">
            </div>

            <div class="box-body form-horizontal">
                <div class="col-12 col-sm-12 row dovizContainer">
                    <div class="col-4 col-sm-4"></div>
                    <div class="col-4 col-sm-4 dovizUstBaslik"><b>ALIŞ</b></div>
                    <div class="col-4 col-sm-4 dovizUstBaslik"><b>SATIŞ</b></div>
                </div>
                <div class="col-12 col-sm-12 row dovizContainer">
                    <div class="col-4 col-sm-4 dovizYanBaslik">USD</div>
                    <div id="usdAlis" class="col-4 col-sm-4 dovizIcerikAlis">42.0490</div>
                    <div id="usdSatis" class="col-4 col-sm-4 dovizIcerikSatis">42.1248</div>
                </div>
                <div class="col-12 col-sm-12 row dovizContainer">
                    <div class="col-4 col-sm-4 dovizYanBaslik">EUR</div>
                    <div id="eurAlis" class="col-4 col-sm-4 dovizIcerikAlis">48.5281</div>
                    <div id="eurSatis" class="col-4 col-sm-4 dovizIcerikSatis">48.6155</div>
                </div>
                <div class="col-12 col-sm-12 row dovizContainer">
                    <div class="col-4 col-sm-4 dovizYanBaslik">GBP</div>
                    <div id="gbpAlis" class="col-4 col-sm-4 dovizIcerikAlis">55.0398</div>
                    <div id="gbpSatis" class="col-4 col-sm-4 dovizIcerikSatis">55.3268</div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        (function (window, $) {
            'use strict';

            // Sayfa kapsamı değişkenleri
            window.TarifeTur = window.TarifeTur || null;

            /***********************************************************
             *  SAHTE HOME API (Test Verileri)
             ***********************************************************/
            const HomeApi = {
                getMonthlyTotals: async function (year) {
                    console.log('[HomeApi] getMonthlyTotals year =', year);
                    const base = 1000;
                    const data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12].map(i => i * base);
                    await new Promise(r => setTimeout(r, 150));
                    return data;
                },
                sendTalep: async function (payload) {
                    console.log('[HomeApi] sendTalep payload =', payload);
                    await new Promise(r => setTimeout(r, 300));
                    return {
                        success: true,
                        id: Math.floor(Math.random() * 100000),
                        message: 'Talebiniz alındı.'
                    };
                },
                getDashboardCounts: async function () {
                    console.log('[HomeApi] getDashboardCounts');
                    await new Promise(r => setTimeout(r, 200));
                    return {
                        inbox: 12,
                        outbox: 8,
                        archive: 34
                    };
                },
                getCredits: async function () {
                    console.log('[HomeApi] getCredits');
                    await new Promise(r => setTimeout(r, 200));
                    return {
                        total: 1000,
                        used: 250,
                        remain: 750
                    };
                }
            };

            window.HomeApi = HomeApi;

            /***********************************************************
             *  Güvenli script yükleme (Chart.js için)
             ***********************************************************/
            function ensureScriptLoaded(test, url, cb) {
                if (test()) {
                    cb && cb();
                    return;
                }
                var s = document.createElement('script');
                s.src = url;
                s.onload = cb;
                document.head.appendChild(s);
            }

            /***********************************************************
             *  Aylık grafik (Chart.js)
             ***********************************************************/
            function buildChart() {
                var c = document.getElementById('myChart');
                if (!c || typeof Chart === 'undefined') return;

                var yearInput = document.getElementById('IntegrationYear');
                var year = yearInput ? yearInput.value : (new Date()).getFullYear();

                var labels = ['Ocak', 'Şubat', 'Mart', 'Nisan', 'Mayıs', 'Haziran',
                    'Temmuz', 'Ağustos', 'Eylül', 'Ekim', 'Kasım', 'Aralık'];

                var data = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];

                HomeApi.getMonthlyTotals(year)
                    .then(function (res) {
                        if (Array.isArray(res) && res.length === 12) {
                            data = res;
                        } else {
                            console.warn('HomeApi.getMonthlyTotals beklenen formatta data döndürmedi:', res);
                        }
                    })
                    .catch(function (err) {
                        console.error('HomeApi.getMonthlyTotals error:', err);
                    })
                    .finally(function () {
                        try {
                            if (window.myDashChart) {
                                window.myDashChart.destroy();
                            }

                            window.myDashChart = new Chart(c.getContext('2d'), {
                                type: 'line',
                                data: {
                                    labels: labels,
                                    datasets: [{
                                        label: year + ' Aylık Tutarlar',
                                        data: data,
                                        borderWidth: 2,
                                        borderColor: 'rgba(36,87,230,1)',
                                        backgroundColor: 'rgba(36,87,230,0.12)',
                                        pointRadius: 2,
                                        fill: true,
                                        lineTension: 0.2
                                    }]
                                },
                                options: {
                                    responsive: true,
                                    maintainAspectRatio: false,
                                    scales: {
                                        yAxes: [{
                                            ticks: { beginAtZero: true }
                                        }],
                                        xAxes: [{
                                            gridLines: { display: false }
                                        }]
                                    },
                                    legend: { display: true }
                                }
                            });
                        } catch (err) {
                            console.error('Chart çizilirken hata:', err);
                        }
                    });
            }

            function setYear() {
                buildChart();
            }
            window.setYear = setYear;

            /***********************************************************
             *  Kontör modal
             ***********************************************************/
            function kontorModal() {
                $('#kontor_modal').modal('show');
            }
            window.kontorModal = kontorModal;

            /***********************************************************
             *  Talep gönder
             ***********************************************************/
            function sendTalep() {
                var payload = {
                    konuTipId: $('#konutipid').val(),
                    konu: $('#konutxt').val(),
                    aciklama: $('#aciklama').val(),
                    phone: $('#phoneNum').val(),
                    email: $('#email').val()
                };

                HomeApi.sendTalep(payload)
                    .then(function (res) {
                        if (res && res.success) {
                            if (window.toastr) {
                                var msg = res.message || 'Talebiniz alındı.';
                                if (res.id) msg += ' (Talep No: ' + res.id + ')';
                                toastr.success(msg);
                            }
                        } else {
                            if (window.toastr) toastr.error('Talep gönderilemedi.');
                        }
                    })
                    .catch(function (err) {
                        console.error('HomeApi.sendTalep error:', err);
                        if (window.toastr) toastr.error('Talep gönderilemedi.');
                    });
            }
            window.sendTalep = sendTalep;

            /***********************************************************
             *  Sayaçlar & krediler
             ***********************************************************/
            function loadDashboard() {
                HomeApi.getDashboardCounts()
                    .then(function (r) {
                        if (!r) return;
                        $('#inboxCount').text(r.inbox || 0);
                        $('#outboxCount').text(r.outbox || 0);
                        $('#archiveCount').text(r.archive || 0);
                        $('#faturadiv').prop('hidden', false);
                    })
                    .catch(function (err) {
                        console.error('HomeApi.getDashboardCounts error:', err);
                        $('#faturadiv').prop('hidden', false);
                    });

                HomeApi.getCredits()
                    .then(function (r) {
                        if (!r) return;
                        $('#creditTotal').text(r.total != null ? r.total : '0');
                        $('#creditStatus').text(r.used != null ? r.used : '0');
                        $('#creditRemainder').text(r.remain != null ? r.remain : '0');
                    })
                    .catch(function (err) {
                        console.error('HomeApi.getCredits error:', err);
                    });
            }
            window.loadDashboard = loadDashboard;

            /***********************************************************
             *  MÜKELLEF ARAMA (SessionStorage.MukellefList)
             *  - Identifier  = VKN/TCKN
             *  - Title       = Ünvan
             *  - Alias       = urn:mail:... (GİB etiketi)
             ***********************************************************/
            let _mukellefCache = null;

            function getMukellefListFromSession() {
                if (_mukellefCache) return _mukellefCache;

                try {
                    const txt = sessionStorage.getItem('MukellefList');

                    console.log('[Mükellef] Session MukellefList raw (ilk 200 char):',
                        txt ? txt.substring(0, 200) : 'YOK');

                    if (!txt) {
                        _mukellefCache = [];
                        return _mukellefCache;
                    }

                    const parsed = JSON.parse(txt);

                    let arr;
                    if (Array.isArray(parsed)) {
                        arr = parsed;
                    } else if (Array.isArray(parsed.items)) {
                        arr = parsed.items;
                    } else if (Array.isArray(parsed.results)) {
                        arr = parsed.results;
                    } else if (Array.isArray(parsed.list)) {
                        arr = parsed.list;
                    } else {
                        const vals = Object.values(parsed);
                        if (vals.length && typeof vals[0] === 'object') {
                            arr = vals;
                        } else {
                            arr = [];
                        }
                    }

                    _mukellefCache = Array.isArray(arr) ? arr : [];
                } catch (err) {
                    console.error('[Mükellef] MukellefList parse/normalize hatası:', err);
                    _mukellefCache = [];
                }
                return _mukellefCache;
            }

            function normalizeMukellef(raw, index) {
                if (!raw || typeof raw !== 'object') raw = {};

                const identifier =
                    raw.Identifier ||
                    raw.identifier ||
                    raw.Vkn ||
                    raw.vkn ||
                    '';

                const title =
                    raw.Title ||
                    raw.title ||
                    '';

                const alias =
                    raw.Alias ||
                    raw.alias ||
                    raw.GibAlias ||
                    raw.gibAlias ||
                    '';

                const id = identifier || raw.Id || raw.id || (index + 1);

                return {
                    id: id,
                    vkn: (identifier || '').toString().trim(),
                    title: (title || '').toString().trim(),
                    alias: (alias || '').toString().trim(),
                    raw: raw
                };
            }

            function getNormalizedMukellefList() {
                const rawList = getMukellefListFromSession();
                const normalized = rawList.map(normalizeMukellef);
                console.log('[Mükellef] Normalize edilmiş kayıt sayısı:', normalized.length);
                if (normalized.length > 0) {
                    console.log('[Mükellef] Örnek kayıt:', normalized[0]);
                }
                return normalized;
            }

            function fillMusteriCariDatalist(filterText) {
                const $datalist = $('#MusteriCariList');
                if (!$datalist.length) return;

                const term = (filterText || '').toString().trim().toLowerCase();
                const all = getNormalizedMukellefList();

                console.log('[Mükellef] Toplam mükellef sayısı:', all.length);

                if (!all.length) {
                    $datalist.empty();
                    return;
                }

                const filtered = term
                    ? all.filter(function (m) {
                        const v = (m.vkn || '').toLowerCase();
                        const t = (m.title || '').toLowerCase();
                        return v.includes(term) || t.includes(term);
                    })
                    : all;

                const maxItems = 50;
                $datalist.empty();

                filtered.slice(0, maxItems).forEach(function (m) {
                    const disp = m.vkn && m.title
                        ? (m.vkn + ' - ' + m.title)
                        : (m.vkn || m.title);

                    if (!disp) return;

                    const opt = document.createElement('option');
                    opt.value = disp;
                    opt.setAttribute('data-id', m.id || '');
                    opt.setAttribute('data-vkn', m.vkn || '');
                    opt.setAttribute('data-title', m.title || '');
                    opt.setAttribute('data-alias', m.alias || '');
                    $datalist.append(opt);
                });

                console.log('[Mükellef] Datalist dolduruldu. Filtrelenen kayıt:', filtered.length);
            }

            /**
             * Seçili mükellefi sessionStorage'a koyup fatura sayfasına gider
             */
            function openCreateInvoiceWithSelectedMukellef(e) {
                if (e && e.preventDefault) e.preventDefault();

                const all = getNormalizedMukellefList();
                if (!all.length) {
                    alert('Mükellef listesi bulunamadı. Lütfen tekrar giriş yapın.');
                    return;
                }

                const inputVal = ($('#checkInput').val() || '').trim();
                if (!inputVal) {
                    alert('Lütfen VKN/TCKN veya Ünvan girerek bir mükellef seçiniz.');
                    return;
                }

                // Datalist display value: "VKN - Ünvan"
                let selected = all.find(m => {
                    const disp = m.vkn && m.title
                        ? (m.vkn + ' - ' + m.title)
                        : (m.vkn || m.title);
                    return disp === inputVal;
                });

                if (!selected) {
                    const lower = inputVal.toLowerCase();
                    selected = all.find(m =>
                        (m.vkn || '').toLowerCase() === lower ||
                        (m.title || '').toLowerCase() === lower
                    );
                }

                if (!selected) {
                    alert('Girilen değere uygun mükellef bulunamadı. Lütfen listeden birini seçiniz.');
                    return;
                }

                const payload = {
                    Identifier: selected.vkn || '',
                    Title: selected.title || '',
                    Alias: selected.alias || ''
                };

                try {
                    sessionStorage.setItem('SelectedMukellefForInvoice', JSON.stringify(payload));
                    console.log('[Mükellef] SelectedMukellefForInvoice kaydedildi:', payload);
                } catch (err) {
                    console.error('[Mükellef] SelectedMukellefForInvoice kaydedilemedi:', err);
                }

                window.location.href = '/EInvoice/CreateNewInvoice';
            }

            // Eğer HTML'de onclick="checkFatura()" varsa bunu global yap
            window.checkFatura = function () {
                openCreateInvoiceWithSelectedMukellef();
            };

            /***********************************************************
             *  DOM ready
             ***********************************************************/
            $(function () {
                // Gerekli eklenteleri başlat
                if ($.fn.select2) {
                    $('#konutipid').select2({ width: '100%' });
                }

                if ($.fn.dataTable) {
                    $('#kontorTable').DataTable({
                        responsive: true,
                        language: { url: '//cdn.datatables.net/plug-ins/1.13.8/i18n/tr.json' }
                    });
                    $('#cariHesapTableList').DataTable({
                        responsive: true,
                        language: { url: '//cdn.datatables.net/plug-ins/1.13.8/i18n/tr.json' }
                    });
                }

                // Chart.js yoksa CDN'den yükle, sonra grafiği çiz
                ensureScriptLoaded(
                    function () { return !!window.Chart; },
                    'https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.bundle.min.js',
                    buildChart
                );

                // Dashboard sayaçlarını yükle
                loadDashboard();

                /*******************************************************
                 *  Mükellef arama input eventleri
                 *******************************************************/
                var $checkInput = $('#checkInput');
                if ($checkInput.length) {
                    $checkInput.on('focus', function () {
                        fillMusteriCariDatalist('');
                    });

                    $checkInput.on('input', function (e) {
                        var val = e.target.value || '';
                        fillMusteriCariDatalist(val);
                    });
                }

                // Hem id'si checkFatura olan butonu,
                // hem de varsa #btnCreateInvoiceFromModal butonunu yakala
                $('#checkFatura, #btnCreateInvoiceFromModal').on('click', openCreateInvoiceWithSelectedMukellef);
            });

        })(window, jQuery);
    </script>
}







