<table class="table table-bordered table-striped">
    <thead class="table-light">
        <tr>
            <th>Id</th>
            <th>Bayi Cari</th>
            <th>İşlem Tarihi</th>
            <th>Tip</th>
            <th>Tutar</th>
            <th>Açıklama</th>
            <th>Referans Tip</th>
            <th class="text-end">İşlemler</th>
        </tr>
    </thead>
    <tbody id="tbl-bayicarihareket-body"></tbody>
</table>
