<table class="table table-bordered table-striped">
    <thead class="table-light">
        <tr>
            <th>Id</th>
            <th>Başlık</th>
            <th>İçerik</th>
            <th>Tip</th>
            <th>İlgili Id</th>
            <th>İlgili Tip</th>
            <th>Oluşturan Kullanıcı</th>
            <th class="text-end">İşlemler</th>
        </tr>
    </thead>
    <tbody id="tbl-not-body"></tbody>
</table>
