<div class="row g-2">
    <div class="col-md-2">
        <input id="fltLeadNo" type="text" class="form-control" placeholder="Lead No" />
    </div>
    <div class="col-md-2">
        <select id="fltBayiId" class="form-select">
            <option value="">Bayi</option>
        </select>
    </div>
    <div class="col-md-3">
        <input id="fltUnvan" type="text" class="form-control" placeholder="Unvan" />
    </div>
    <div class="col-md-2">
        <input id="fltKaynak" type="text" class="form-control" placeholder="Kaynak" />
    </div>
    <div class="col-md-3">
        <select id="fltSorumluKullaniciId" class="form-select">
            <option value="">Sorumlu Kullanıcı</option>
        </select>
    </div>
</div>
