<table class="table table-bordered table-striped">
    <thead class="table-light">
        <tr>
            <th>Id</th>
            <th>Lead No</th>
            <th>Bayi</th>
            <th>Unvan</th>
            <th>Kaynak</th>
            <th>Sorumlu Kullanıcı</th>
            <th>Oluşturma Tarihi</th>
            <th>Adres</th>
            <th>Notlar</th>
            <th class="text-end">İşlemler</th>
        </tr>
    </thead>
    <tbody id="tbl-lead-body"></tbody>
</table>
