<div class="row g-2">
    <div class="col-md-4">
        <input id="fltAd" type="text" class="form-control" placeholder="Ad" />
    </div>
    <div class="col-md-4">
        <input id="fltAciklama" type="text" class="form-control" placeholder="Açıklama" />
    </div>
    <div class="col-md-4">
        <select id="fltUrunTipiId" class="form-select">
            <option value="">Ürün Tipi</option>
        </select>
    </div>
    <div class="col-md-3 text-end">
        <button id="btnNewPaket" class="btn btn-primary w-100">Yeni</button>
    </div>
</div>
