<div class="col-12">
    <div class="card">
        <div class="card-body">
            <div class="row g-3 align-items-end">
                <div class="col-sm-3"><label class="form-label">Kod</label><input id="fltKod" class="form-control" /></div>
                <div class="col-sm-6"><label class="form-label">Unvan</label><input id="fltUnvan" class="form-control" /></div>
                <div class="col-sm-3 text-end"><button id="btnNewBayi" class="btn btn-primary w-100">Yeni</button></div>
            </div>
        </div>
    </div>
</div>
