<div class="row g-2">
    <div class="col-md-3">
        <select id="fltSistemTipi" class="form-select">
            <option value="">Sistem Tipi</option>
            <option value="0">Luca</option>
            <option value="1">Logo</option>
            <option value="2">Mikro</option>
            <option value="3">Netsis</option>
            <option value="4">ETA</option>
            <option value="5">Zirve</option>
            <option value="99">Diğer</option>
        </select>
    </div>
    <div class="col-md-3">
        <input id="fltHost" type="text" class="form-control" placeholder="Host" />
    </div>
    <div class="col-md-3">
        <select id="fltMaliMusavirId" class="form-select">
            <option value="">Mali Müşavir</option>
        </select>
    </div>
    <div class="col-md-3">
        <select id="fltFirmaId" class="form-select">
            <option value="">Firma</option>
        </select>
    </div>
    <div class="col-md-3 text-end">
        <button id="btnNewEntegrasyonHesabi" class="btn btn-primary w-100">Yeni</button>
    </div>
</div>
