<table class="table table-bordered table-striped">
    <thead class="table-light">
        <tr>
            <th>Id</th>
            <th>Sistem Tipi</th>
            <th>Host</th>
            <th>Veritabanı</th>
            <th>Kullanıcı Adı</th>
            <th>API URL</th>
            <th>Mali Müşavir</th>
            <th>Firma</th>
            <th>Açıklama</th>
            <th class="text-end">İşlemler</th>
        </tr>
    </thead>
    <tbody id="tbl-entegrasyonhesabi-body"></tbody>
</table>
