<div class="row g-2">
    <div class="col-md-4">
        <select id="fltFiyatListesiId" class="form-select">
            <option value="">Fiyat Listesi</option>
        </select>
    </div>
    <div class="col-md-4">
        <select id="fltPaketId" class="form-select">
            <option value="">Paket</option>
        </select>
    </div>
    <div class="col-md-4">
        <input id="fltBirimFiyat" type="number" step="0.01" class="form-control" placeholder="Birim Fiyat" />
    </div>
    <div class="col-md-3 text-end">
        <button id="btnNewFiyatListesiKalem" class="btn btn-primary w-100">Yeni</button>
    </div>
</div>
