<table class="table table-bordered table-striped">
    <thead class="table-light">
        <tr>
            <th>Id</th>
            <th>Satış</th>
            <th>Ödeme Tarihi</th>
            <th>Yöntem</th>
            <th>Durum</th>
            <th>Tutar</th>
            <th>Komisyon Oranı</th>
            <th>Komisyon Tutar</th>
            <th>Net Tutar</th>
            <th>Sanal POS</th>
            <th>Sağlayıcı İşlem No</th>
            <th>Taksit</th>
            <th>Açıklama</th>
            <th class="text-end">İşlemler</th>
        </tr>
    </thead>
    <tbody id="tbl-odeme-body"></tbody>
</table>
