<div class="row g-2">
    <div class="col-md-3">
        <select id="fltOpportunityId" class="form-select">
            <option value="">Opportunity</option>
        </select>
    </div>
    <div class="col-md-3">
        <select id="fltFromAsamaId" class="form-select">
            <option value="">From Aşama</option>
        </select>
    </div>
    <div class="col-md-3">
        <select id="fltToAsamaId" class="form-select">
            <option value="">To Aşama</option>
        </select>
    </div>
    <div class="col-md-3">
        <input id="fltGecisTarihi" type="date" class="form-control" placeholder="Geçiş Tarihi" />
    </div>
    <div class="col-md-3 text-end">
        <button id="btnNewOpportunityAsamaGecis" class="btn btn-primary w-100">Yeni</button>
    </div>
</div>
