<table class="table table-bordered table-striped">
    <thead class="table-light">
        <tr>
            <th>Id</th>
            <th>Opportunity</th>
            <th>From Aşama</th>
            <th>To Aşama</th>
            <th>Geçiş Tarihi</th>
            <th class="text-end">İşlemler</th>
        </tr>
    </thead>
    <tbody id="tbl-opportunityasamagecis-body"></tbody>
</table>
