<div class="row g-2">
    <div class="col-md-3">
        <input id="fltSmtpServer" type="text" class="form-control" placeholder="SMTP Server" />
    </div>
    <div class="col-md-2">
        <input id="fltPort" type="number" class="form-control" placeholder="Port" />
    </div>
    <div class="col-md-3">
        <input id="fltEposta" type="email" class="form-control" placeholder="E-posta" />
    </div>
    <div class="col-md-2">
        <select id="fltSSLKullan" class="form-select">
            <option value="">SSL Kullan</option>
            <option value="true">Evet</option>
            <option value="false">Hayır</option>
        </select>
    </div>
    <div class="col-md-3 text-end">
        <button id="btnNewMailAyar" class="btn btn-primary w-100">Yeni</button>
    </div>
</div>
