<div class="modal fade" id="mdlMailAyar" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Mail Ayar Formu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form id="frmMailAyar">
                <div class="modal-body">
                    <input type="hidden" id="frmId" />

                    <div class="mb-3">
                        <label class="form-label">SMTP Server</label>
                        <input type="text" id="frmSmtpServer" class="form-control" required />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Port</label>
                        <input type="number" id="frmPort" class="form-control" min="1" required />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">E-posta</label>
                        <input type="email" id="frmEposta" class="form-control" required />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Şifre</label>
                        <input type="password" id="frmSifre" class="form-control" required />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">SSL Kullan</label>
                        <select id="frmSSLKullan" class="form-select">
                            <option value="true">Evet</option>
                            <option value="false">Hayır</option>
                        </select>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>
