@{
    ViewData["Title"] = "E-mail Durum Takibi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Styles {
    <style>
        .dataTables_wrapper .dataTables_filter input {
            min-width: 240px;
        }

        .dt-head-center thead th {
            text-align: center;
        }

        .box {
            border: 1px solid #ddd;
            margin-bottom: 15px;
        }

        .box-header {
            padding: 10px 15px;
            border-bottom: 1px solid #eee;
            background: #fafafa;
        }

        .box-body {
            padding: 15px;
        }

        .inputPadding {
            padding-left: 0;
        }

        .table-vertical {
            overflow-x: auto;
        }
        /* Checkbox hizalama */
        #myDataTable tbody td:first-child, #myDataTable thead th:first-child {
            text-align: center;
            width: 32px;
        }

        .btn + .btn {
            margin-left: 6px;
        }
        /* Bootstrap olmayan projelerde küçük spacing */
        .me-2 {
            margin-right: .5rem;
        }

        .align-items-center {
            align-items: center;
        }

        .d-flex {
            display: flex;
        }
    </style>
}

<section class="content">
    <div class="panel panel-sky">
        <div class="panel-body" style="overflow:auto;">
            <div class="box box-default">
                <div class="box-body" id="btnAramaYapEnter">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-horizontal row">
                                <label class="control-label col-sm-6">Email Tarihi (Başlangıç)</label>
                                <div class="col-sm-6 inputPadding">
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                        <input id="IssueDateStart" type="text" class="form-control datepicker" placeholder="yyyy-mm-dd">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-horizontal row">
                                <label class="control-label col-sm-6">Email Tarihi (Bitiş)</label>
                                <div class="col-sm-6 inputPadding">
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                        <input id="IssueDateStartEnd" type="text" class="form-control datepicker" placeholder="yyyy-mm-dd">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Butonlar -->
                        <div class="col-md-6 d-flex align-items-center" style="margin-top:6px;">
                            <button id="btnOk" type="button" class="btn btn-success me-2">
                                <i class="fa fa-check"></i> Tamam
                            </button>
                            <button id="btnClear" type="button" class="btn btn-danger me-2">
                                <i class="fa fa-times"></i> Temizle
                            </button>
                            <button id="btnRequeue" type="button" class="btn btn-primary me-2">
                                <i class="fa fa-arrow-right"></i> Seçilenleri Mail Kuyruğuna Tekrar Ekle
                            </button>
                            <button id="btnExport" type="button" class="btn btn-info">
                                <i class="fa fa-file-excel-o"></i> Excel'e Aktar
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="body-inner">
                <div class="table-vertical">
                    <table id="myDataTable" class="table table-bordered table-hover dataTable dt-head-center" width="100%">
                        <thead>
                            <tr>
                                <th><input type="checkbox" id="chkAll" /></th>
                                <th>EMail Service Id</th>
                                <th>Fatura Tur</th>
                                <th>UUID</th>
                                <th>Fatura No</th>
                                <th>Alici Adi</th>
                                <th>Alici EMail</th>
                                <th>İptal Fatura</th>
                                <th>Durum</th>
                                <th>Okundu</th>
                                <th>Okunma Tarihi</th>
                                <th>Okuyan Ip</th>
                                <th>Gönderim Zamanı</th>
                                <th>Kayıt Tarihi</th>
                                <th>Hata Mesaj</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- JS ile doldurulacak -->
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- gizli indirme linki (CSV) -->
            <a id="csvDownload" href="#" download="email-kayitlari.csv" style="display:none;"></a>
        </div>
    </div>
</section>

@section Scripts {
    <script type="module" src="~/apps/EArchiveEmailStatusTrack.js"></script>
}

