@{
    ViewData["Title"] = "Gelen e-Arşiv Faturalar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content">
    <script>
        // Sayfa açılır açılmaz GİB portal yeni sekmede açılır
        var url = 'https://dijital.gib.gov.tr/portal/login';
        window.open(url, '_blank');
    </script>

    <div class="body-inner">
        <div class="table-vertical">
            <a target="_blank" href="https://dijital.gib.gov.tr/portal/login">
                https://dijital.gib.gov.tr/portal/login sayfası için tıklayınız.
            </a>
        </div>
    </div>
</section>
