<div class="modal fade" id="mdlKupon" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Kupon Formu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form id="frmKupon">
                <div class="modal-body">
                    <input type="hidden" id="frmId" />

                    <div class="row g-3">
                        <div class="col-md-6">
                            <label class="form-label">Kod</label>
                            <input type="text" id="frmKod" class="form-control" required />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Bayi</label>
                            <select id="frmBayiId" class="form-select"></select>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">İndirim (%)</label>
                            <input type="number" id="frmIndirimYuzde" class="form-control" step="0.01" />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">İndirim Tutar</label>
                            <input type="number" id="frmIndirimTutar" class="form-control" step="0.01" />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Maks. Kullanım</label>
                            <input type="number" id="frmMaksKullanim" class="form-control" min="1" required />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Kullanıldı</label>
                            <input type="number" id="frmKullanildi" class="form-control" min="0" />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Başlangıç</label>
                            <input type="date" id="frmBaslangic" class="form-control" required />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Bitiş</label>
                            <input type="date" id="frmBitis" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>
