@* Basit özet kartları *@
<div class="col-12 col-md-4">
    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div class="avatar me-3"><span class="avatar-initial rounded bg-label-primary"><i class="ti ti-users"></i></span></div>
                <div>
                    <h5 class="mb-1" id="statTotal">0</h5>
                    <small class="text-muted">Toplam Kullanıcı</small>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12 col-md-4">
    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div class="avatar me-3"><span class="avatar-initial rounded bg-label-success"><i class="ti ti-shield"></i></span></div>
                <div>
                    <h5 class="mb-1" id="statAdmins">0</h5>
                    <small class="text-muted">Admin Sayısı</small>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12 col-md-4">
    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div class="avatar me-3"><span class="avatar-initial rounded bg-label-info"><i class="ti ti-phone-call"></i></span></div>
                <div>
                    <h5 class="mb-1" id="statOther">0</h5>
                    <small class="text-muted">Diğer Roller</small>
                </div>
            </div>
        </div>
    </div>
</div>
