@* Arama kutusu + Yeni kullan覺c覺 *@
<div class="card mb-6">
    <div class="card-body">
        <div class="row g-3 align-items-end">
            <div class="col-12 col-md-6">
                <label for="txtSearch" class="form-label">Ara</label>
                <input id="txtSearch" type="text" class="form-control" placeholder="Ad, e-posta veya rol..." />
            </div>
            <div class="col-12 col-md-6 text-md-end">
                <button id="btnNewUser" type="button" class="btn btn-primary">
                    <i class="ti ti-plus"></i> Yeni Kullan覺c覺
                </button>
            </div>
        </div>
    </div>
</div>
