<div class="col-12">
    <h4 class="mt-6 mb-1">Kullanıcı Listesi</h4>
    <p class="mb-0">Sistemdeki kullanıcı bilgileri aşağıda listelenmiştir.</p>
</div>
<div class="col-12">
    <div class="card">
        <div class="card-datatable table-responsive">
            <table id="kullanici-table" class="table border-top">
                <thead>
                    <tr>
                        <th></th>
                        <th>Ad Soyad</th>
                        <th>E-Posta</th>
                        <th>Telefon</th>
                        <th>Rol</th>
                        <th>Durum</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
