<div class="modal fade" id="mdlKullaniciFirma" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Kullanıcı - Firma İlişkisi</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form id="frmKullaniciFirma">
                <div class="modal-body">
                    <input type="hidden" id="frmId" />

                    <div class="row g-3">
                        <div class="col-md-6">
                            <label class="form-label">Kullanıcı</label>
                            <select id="frmKullaniciId" class="form-select" required></select>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Firma</label>
                            <select id="frmFirmaId" class="form-select" required></select>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Birincil Mi?</label>
                            <select id="frmIsPrimary" class="form-select">
                                <option value="true">Evet</option>
                                <option value="false">Hayır</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Atanan Rol</label>
                            <input type="text" id="frmAtananRol" class="form-control" placeholder="FirmaAdmin, Muhasebe, IK..." />
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Başlangıç Tarihi</label>
                            <input type="date" id="frmBaslangicTarihi" class="form-control" />
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Bitiş Tarihi</label>
                            <input type="date" id="frmBitisTarihi" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>
